<vex-empty-paciente *ngIf="!this.paciente"></vex-empty-paciente>

<div *ngIf="this.paciente">
  <vex-secondary-toolbar current="Antecedente personal">
    <vex-breadcrumbs [crumbs]="['Antecedente personal']" fxFlex="auto"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <div @stagger class="p-gutter" vexContainer>
    <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
    <span @scaleIn class="w-10 h-10 rounded-full text-primary mr-3 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icDescription" height="20px" width="20px"></ic-icon>
    </span>
      <span *ngIf="isUpdateMode()" @fadeInRight class="block">Actualizar antecedente personal</span>
      <span *ngIf="isCreateMode()" @fadeInRight
            class="block">Registro nuevo antecedente personal</span>
    </h2>

    <div @fadeInUp class="card overflow-hidden">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <ng-template matStepperIcon="edit">
          <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>
        <mat-step [stepControl]="generalFormGroup">
          <form [formGroup]="generalFormGroup">
            <ng-template matStepLabel>Información general</ng-template>
            <h2 class="title m-0">Información general del antecedente</h2>
            <div class="subheading-1">Ingrese los siguientes datos.</div>
            <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Orientación sexual</mat-label>
                  <mat-select formControlName="idOrientacionSexual" required>
                    <mat-option *ngFor="let orientacion of orientacionList | async"
                                [value]="orientacion.id">{{orientacion.nombre}}</mat-option>
                  </mat-select>
                  <mat-icon [icIcon]="icGenderless" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Identidad de género</mat-label>
                  <mat-select formControlName="idIdentidadGenero" required>
                    <mat-option *ngFor="let genero of identidadGeneroList | async" [value]="genero.id">{{genero.nombre}}</mat-option>
                  </mat-select>
                  <mat-icon [icIcon]="icTransgenderAlt" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Posee alergias</mat-label>
                  <mat-select formControlName="poseeAlergia" required>
                    <mat-option *ngFor="let option of threeOptionsList" [value]="option">{{option}}</mat-option>
                  </mat-select>
                  <mat-icon [icIcon]="icAllergies" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field *ngIf="poseeAlergia()" appearance="outline" fxFlex="100%" fxFlex.xs="100%"
                                fxFlex.sm="100%">
                  <mat-label>Descripción de alergias</mat-label>
                  <textarea formControlName="descripcionAlergia"
                            matInput
                            #lengthAlergias
                            rows="5"></textarea>
                  <mat-hint align="end">{{lengthAlergias.value.length}}/255</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button (click)="stepper.reset()" [disabled]="generalFormGroup.pristine" color="primary"
                      mat-button type="button">LIMPIAR
              </button>
              <button [disabled]="generalFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                SIGUIENTE
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="alimentacionFormGroup">
          <form [formGroup]="alimentacionFormGroup">
            <ng-template matStepLabel>Información alimentación</ng-template>
            <h2 class="title m-0">Información alimentación</h2>
            <div class="subheading-1">Ingrese la información relacionda a la alimentación del paciente.</div>
            <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Frecuencia</mat-label>
                  <mat-select formControlName="idFrecuenciaAlimentacion" required>
                    <mat-option *ngFor="let frecuencia of alimentacionList | async"
                                [value]="frecuencia.id">{{frecuencia.nombre}}</mat-option>
                  </mat-select>
                  <mat-icon [icIcon]="icCalendarCheck" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Predominio alimentario</mat-label>
                  <input formControlName="predominioAlimentario" matInput required vexInputUppercase>
                  <mat-icon [icIcon]="icRestaurantMenu" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                  <mat-label>Observación</mat-label>
                  <textarea formControlName="observacionAlimentacion"
                            matInput
                            rows="5"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">ATRAS</button>
              <button [disabled]="alimentacionFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                SIGUIENTE
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="suenioFormGroup">
          <form [formGroup]="suenioFormGroup">
            <ng-template matStepLabel>Información sueño</ng-template>
            <div class="title m-0">Casi hemos finalizado!</div>
            <div class="subheading-1">Ingrese el hábito de sueño del paciente</div>
            <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Hora de sueño</mat-label>
                  <input formControlName="horaSuenio" matInput type="time" required>
                  <mat-icon [icIcon]="icBed" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Hora de despertar</mat-label>
                  <input formControlName="horaDespertar" matInput type="time" required>
                  <mat-icon [icIcon]="icCloudSun" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="100%">
                  <mat-label>Observación</mat-label>
                  <input formControlName="observacionHabitoSuenio" type="text" matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">ATRAS</button>
              <button *ngIf="isCreateMode()" (click)="save()" [disabled]="suenioFormGroup.invalid" color="primary"
                      mat-raised-button matStepperNext>
                GUARDAR
              </button>
              <button *ngIf="isUpdateMode()" (click)="save()" [disabled]="suenioFormGroup.invalid" color="primary"
                      mat-raised-button matStepperNext>
                ACTUALIZAR
              </button>
              <vex-loading></vex-loading>
            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>

  </div>


</div>
