<form (ngSubmit)="save()" [formGroup]="form">
    <div class="flex items-center" mat-dialog-title>
        <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">
            Actualizar registro
        </h2>
        <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">
            Nuevo registro
        </h2>
        <button mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
    </div>

    <mat-dialog-content>
        <mat-form-field appearance="outline" class="block w-full">
            <mat-label>Nombre de examen</mat-label>
            <input required formControlName="nombre" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="block w-full">
            <mat-label>Fecha de examen</mat-label>
            <input required formControlName="fecha" matInput>
        </mat-form-field>
        <div formArrayName="detalles">
            <div *ngFor="let detalleGroup of detallesArray; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field appearance="outline" class="block w-full">
                        <mat-label>{{detalleGroup.get('nombreParametro').value}}</mat-label>
                        <input formControlName="valorParametro" matInput>
                        <span class="px-5" matSuffix>{{detalleGroup.get('unidadParametro').value}}</span>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCEL</button>
        <button [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    </mat-dialog-actions>
</form>