<!--<form (ngSubmit)="save()" [formGroup]="form">-->
<!--  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>-->
<!--    <h2 *ngIf="form.get('id').value"-->
<!--        class="headline m-0"-->
<!--        fxFlex="auto">Actualizar registro</h2>-->
<!--    <h2 *ngIf="!form.get('id').value"-->
<!--        class="headline m-0"-->
<!--        fxFlex="auto">Nuevo registro</h2>-->

<!--    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">-->
<!--      <mat-icon [icIcon]="icClose"></mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--  <mat-dialog-content fxLayout="column">-->
<!--    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">-->
<!--      <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Fecha ingreso laboral</mat-label>-->
<!--          <input [matDatepicker]="datepicker1"-->
<!--                 formControlName="fechaIngresoLaboral"-->
<!--                 (click)="datepicker1.open()"-->
<!--                 (focus)="datepicker1.open()"-->
<!--                 [max]="maxDate" matInput required>-->
<!--          <mat-datepicker-toggle [for]="datepicker1" class="block" matSuffix></mat-datepicker-toggle>-->
<!--          <mat-datepicker #datepicker1></mat-datepicker>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Sede</mat-label>-->
<!--          <mat-select formControlName="idSede" required>-->
<!--            <mat-option *ngFor="let sede of sedes | async" [value]="sede.id">-->
<!--              {{ sede.nombre }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon [icIcon]="icCollege" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Unidad o Departamento</mat-label>-->
<!--          <input [formControl]="unidadDepartamentoCtrl" [matAutocomplete]="autoUnidadDepartamento" matInput required>-->
<!--          <mat-autocomplete autoActiveFirstOption #autoUnidadDepartamento="matAutocomplete">-->
<!--            <mat-option *ngFor="let ud of filteredUnidadesDepartamentos | async" [value]="ud.nombre">-->
<!--              <span class="body-1">{{ ud.nombre }}</span>-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--          <button (click)="unidadDepartamentoCtrl.reset()" *ngIf="unidadDepartamentoCtrl.value" mat-icon-button-->
<!--                  matSuffix-->
<!--                  type="button">-->
<!--            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>-->
<!--          </button>-->
<!--          <button *ngIf="!unidadDepartamentoCtrl.value" mat-icon-button matSuffix type="button">-->
<!--            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>-->
<!--          </button>-->
<!--          <mat-hint align="start" *ngIf="unidadDepartamentoCtrl.invalid">Seleccione una opción correcta.</mat-hint>-->
<!--          <mat-icon [icIcon]="icBuilding" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Area trabajo actual</mat-label>-->
<!--          <input formControlName="areaTrabajo" matInput required vexInputUppercase>-->
<!--          <mat-icon [icIcon]="icArea" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Cargo - Puesto de trabajo actual</mat-label>-->
<!--          <input formControlName="cargoTrabajoActual" matInput vexInputUppercase required>-->
<!--          <mat-icon [icIcon]="icBadge" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>CIUO</mat-label>-->
<!--          <input [formControl]="ciuoCtrl" [matAutocomplete]="autoCiuo" matInput required>-->
<!--          <mat-autocomplete autoActiveFirstOption #autoCiuo="matAutocomplete">-->
<!--            <mat-option *ngFor="let ciuo of filteredCodigosCiuo | async" [value]="ciuo.codigo">-->
<!--              <span class="body-1">{{ ciuo.codigo }}</span>-->
<!--              <span class="text-hint"> | </span>-->
<!--              <span class="caption text-secondary">{{ ciuo.descripcion }}</span>-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--          <button (click)="ciuoCtrl.reset()" *ngIf="ciuoCtrl.value" mat-icon-button matSuffix-->
<!--                  type="button">-->
<!--            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>-->
<!--          </button>-->
<!--          <button *ngIf="!ciuoCtrl.value" mat-icon-button matSuffix type="button">-->
<!--            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>-->
<!--          </button>-->
<!--          <mat-hint align="start" *ngIf="ciuoCtrl.invalid">Seleccione una opción correcta.</mat-hint>-->
<!--          <mat-icon [icIcon]="icCode" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">-->
<!--          <mat-label>Actividades relevantes al puesto de trabajo</mat-label>-->
<!--          <input formControlName="actividadesRelevantes" matInput>-->
<!--          <mat-icon [icIcon]="icActivity" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">-->
<!--          <mat-label>Situación administrativa</mat-label>-->
<!--          <mat-select formControlName="situacionAdministrativa" required>-->
<!--            <mat-option *ngFor="let situacion of situacionesAdministrativas" [value]="situacion">-->
<!--              {{situacion}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon [icIcon]="icInfo" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Horario laboral actual</mat-label>-->
<!--          <mat-select formControlName="tipoJornadaLaboral" required>-->
<!--            <mat-option *ngFor="let jornada of tiposJornadaLaboral" [value]="jornada">{{jornada}}</mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon [icIcon]="icClock" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Horas trabajo</mat-label>-->
<!--          <input type="number" formControlName="horasTrabajoDia" matInput required>-->
<!--          <span class="px-5" matSuffix>D</span>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Horas trabajo</mat-label>-->
<!--          <input type="number" formControlName="horasTrabajoSemana" matInput required>-->
<!--          <span class="px-5" matSuffix>S</span>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Horas trabajo</mat-label>-->
<!--          <input type="number" formControlName="horasTrabajoMes" matInput required>-->
<!--          <span class="px-5" matSuffix>M</span>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">-->
<!--          <mat-label>¿Cumple comisión / Misión Servicios?</mat-label>-->
<!--          <mat-select formControlName="cumpleMisionServicio" required>-->
<!--            <mat-option *ngFor="let item of tresOpcionesCatalogo" [value]="item">{{item}}</mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">-->
<!--          <mat-label>Observaciones al horario laboral</mat-label>-->
<!--          <input formControlName="observacionHorario" matInput>-->
<!--          <mat-icon [icIcon]="icActivity" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->


<!--      </div>-->
<!--    </div>-->
<!--  </mat-dialog-content>-->

<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-button mat-dialog-close type="button">CANCELAR</button>-->
<!--    <button *ngIf="isCreateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>-->
<!--    <button *ngIf="isUpdateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">ACTUALIZAR-->
<!--    </button>-->
<!--  </mat-dialog-actions>-->
<!--</form>-->
