<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>

    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar estudio ginecológico</h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">Nuevo estudio ginecológico
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>

  </div>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Estudio realizado</mat-label>
      <mat-select formControlName="idNombreExamen" required>
        <mat-option *ngFor="let examen of tiposExamen | async"
                    [value]="examen.id">{{examen.nombre}}</mat-option>
      </mat-select>
      <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
      <mat-error *ngIf="form.get('idNombreExamen').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Fecha de examen realizado</mat-label>
      <input required [matDatepicker]="datepickerRef" (click)="datepickerRef.open()" (focus)="datepickerRef.open()"
             [max]="maxDate" formControlName="fechaExamen"
             matInput/>
      <mat-datepicker-toggle
        [for]="datepickerRef"
        class="block"
        matPrefix
      ></mat-datepicker-toggle>
      <mat-datepicker #datepickerRef></mat-datepicker>
      <mat-error *ngIf="form.get('fechaExamen').hasError('required')">{{errorMessages.required}}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Tiempo</mat-label>
      <input required formControlName="tiempoAnios" matInput type="number">
      <mat-icon [icIcon]="icClock" class="mr-3" matPrefix></mat-icon>
      <span class="px-5" matSuffix>años</span>
      <mat-error *ngIf="form.get('tiempoAnios').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Resultados</mat-label>
      <textarea required rows="5" formControlName="resultado" matInput></textarea>
      <mat-error *ngIf="form.get('resultado').hasError('required')">{{errorMessages.required}}</mat-error>

    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      GUARDAR
    </button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR
    </button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
