<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<div *ngIf="this.pacienteActual" class="pb-6">
  <div class="h-full" fxLayout="column">
    <div class="px-6 pt-6 pb-0" fxFlex="none">
      <div vexContainer>
        <h1 class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn
            fxHide.xs
            class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icMicroscope" size="24px"></ic-icon>
      </span>
          <span @fadeInRight class="block title font-medium pr-3" fxHide.xs>Pedidos de examén</span>
          <vex-breadcrumbs [crumbs]="['Pedidos de examén']"></vex-breadcrumbs>
        </h1>
      </div>
    </div>

    <div class="mx-6 mt-6" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none">
        <span>Pedidos de examén</span>
      </h2>

      <div class="bg-card rounded-full border px-4"
           fxFlex="100%"
           fxFlex.lt-md="auto"
           fxHide.xs
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-3 border-0 outline-none w-full bg-transparent"
               placeholder="Buscar..."
               type="search">
      </div>

      <span fxFlex></span>

      <button (click)="createPedidoExamen()"
              color="primary"
              fxFlex="none"
              fxHide.gt-xs
              mat-mini-fab
              class="ml-4"
              matTooltip="Nueva nota de evolución"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>

      <button (click)="createPedidoExamen()"
              class="ltr:ml-4 rtl:mr-4"
              color="primary"
              fxFlex="none"
              fxHide.xs
              mat-raised-button
              type="button">
        <ic-icon [icon]="icAdd"
                 class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                 inline="true"
                 size="20px"></ic-icon>
        <span>AGREGAR PEDIDO</span>
      </button>
    </div>
  </div>

  <div class="card overflow-auto mx-6 mt-6" fxLayout="column">
    <div
      *ngFor="let pedido of pedidosExamen$ | async; trackBy: trackById"
      fxLayout="row"
      class="block border-b"
      fxLayoutAlign="start center">
      <div (click)="updatePedidoExamen(pedido)"
           class="hover:bg-hover trans-ease-out cursor-pointer flex py-3 transition ease-in-out duration-200 w-full px-6">
        <div class="flex-none flex flex-col ltr:pr-4 rtl:pl-4">
          <div class="w-8 h-8 rounded-full overflow-hidden mt-1 flex-none">
            <img matTooltip="{{pedido.usuario.nombres}}" [src]="getUserImage(pedido.usuario.idBanner)"
                 class="w-full h-full object-fit"/>
          </div>
          <span class="flex-1"></span>
        </div>
        <div class="truncate w-full">
          <div class="flex items-end">
            <p class="text-sm leading-normal truncate text-secondary">Examenes realizados: </p>
            <span fxFlex></span>
            <p class="flex-none text-xs leading-normal text-secondary">{{ getFormattedDate(pedido.fecha)}} </p>
          </div>
          <div class="flex items-start">
            <div
              class="mt-1 px-2 box bg-app-bar text-secondary rounded caption ml-2 text-xs"
              *ngFor="let examen of pedido.examenes; let i=index"
              [ngClass]="[colorClassInfo[i].textClass, colorClassInfo[i].bgClass]">
              <span class="box-text">{{examen.examen.nombre}}</span>
            </div>
            <span fxFlex></span>
            <div class="px-2 box bg-app-bar text-secondary rounded caption ml-2 text-xxs"
                 [ngClass]="getLabStateColor(pedido.estado)">
              <span class="box-text">{{pedido.estado}}</span>
            </div>
          </div>
        </div>
        <div class="w-10 ml-3 text-secondary">
          <button (click)="$event.stopPropagation()"
                  [matMenuTriggerData]="{ pedido: pedido }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="(pedidosExamen$ | async)?.length === 0"
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
      <h2 class="headline m-0 text-center mb-6">No se han encontrado registros</h2>
    </div>
  </div>
  <vex-loading class="flex justify-center"></vex-loading>

</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-pedido="pedido" matMenuContent>
    <button (click)="updatePedidoExamen(pedido)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button (click)="startDeletePedidoExamen(pedido)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
