<div class="vex-mail-view-empty flex-auto flex flex-col justify-center items-center p-gutter">
  <img class="w-full h-64" src="assets/img/illustrations/choose.svg"/>

  <p class="text-xl font-semibold mt-4">Seleccione un examen</p>
</div>
