<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar registro</h2>
    <h2
    *ngIf="!form.get('id').value"
    class="headline m-0"
    fxFlex="auto"
    >
    Nuevo registro
    </h2>

    <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
    >
    <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content>
    <div fxLayout="column" class="mt-6 overflow-hidden">
        <div fxLayout="row wrap">
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-checkbox class="md:pt-5 lg:pt5 sm:py-5" formControlName="recibioAtencion" color="primary">Fue calificado por el IESS correspondiente</mat-checkbox>
            </div>
            <mat-form-field  appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Lugar de dependencia del seguro social</mat-label>
                <input required formControlName="lugarAtencion" matInput type="text">
                <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>

            <div fxLayoutGap="10px grid">
                <mat-form-field  appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-label>Fecha del Accidente</mat-label>
                    <input required [matDatepicker]="datepickerRef" (click)="datepickerRef.open()"
                            (focus)="datepickerRef.open()" formControlName="fecha" matInput [max]="maxDate" matInput>
                    <mat-datepicker-toggle [for]="datepickerRef" class="block" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #datepickerRef></mat-datepicker>
                </mat-form-field>

                <mat-form-field  appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-label>Empresa donde se sucitó el evento</mat-label>
                    <input required formControlName="empresa" matInput type="text">
                    <mat-icon [icIcon]="icBuilding" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>

                <mat-form-field  appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-label>Riesgos implicados</mat-label>
                    <input required formControlName="riesgoImplicado" matInput type="text">
                    <mat-icon [icIcon]="icDanger" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
            </div>        

            <div fxLayoutGap="10px grid">
                <mat-form-field  appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-label>Naturaleza de la lesión</mat-label>
                    <input [formControl]="listaNaturaleza" formControlName="naturaleza" [matAutocomplete]="autoNaturaleza"
                        matInput required>
                    <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
                    <mat-autocomplete autoActiveFirstOption #autoNaturaleza="matAutocomplete">
                        <mat-option *ngFor="let item of naturalezasLesion" [value]="item">
                        <span class="body-1">{{item}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <button (click)="listaNaturaleza.reset()" *ngIf="listaNaturaleza.value" mat-icon-button matSuffix
                            type="button">
                        <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
                    </button>
                    <button *ngIf="!listaNaturaleza.value" mat-icon-button matSuffix type="button">
                        <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field  appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-label>Parte del cuerpo afectada</mat-label>
                    <input required formControlName="parteCuerpoAfectada" matInput type="text">
                    <mat-icon [icIcon]="icBody" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>

                <mat-form-field  appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-label>Horas de reposo</mat-label>
                    <input required formControlName="horasReposo" matInput type="number">
                    <mat-icon [icIcon]="icClock" class="mr-3" matPrefix></mat-icon>
                </mat-form-field>
            </div>
            <div fxLayoutGap="10px grid" fxFlex="100%">
                <mat-form-field  appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Secuelas</mat-label>
                    <textarea required formControlName="secuelas" matInput type="text" rows="5"></textarea>
                </mat-form-field>

                <mat-form-field  appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Observaciones</mat-label>
                    <textarea required formControlName="observaciones" matInput type="text" rows="5"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
    GUARDAR
    </button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
    ACTUALIZAR
    </button>
</mat-dialog-actions>
</form>
