<div class="bg-card mt-24 py-6 px-gutter">
  <h1 class="display-1 mt-12 mb-4 text-center">{{title}}</h1>
  <h2 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">{{explanation}}</h2>
</div>
