<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<div *ngIf="this.pacienteActual" class="pb-6">
  <div class="h-full" fxLayout="column">
    <div class="px-6 pt-6 pb-0" fxFlex="none">
      <div vexContainer>
        <h1 class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn
            class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icVaccine" size="24px"></ic-icon>
      </span>
          <span @fadeInRight class="block title font-medium pr-3">Vacunación</span>
          <vex-breadcrumbs [crumbs]="['Vacunación']"></vex-breadcrumbs>
        </h1>
      </div>
    </div>

    <div class="mx-6 mt-6" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
          fxHide.sm>
        <span>Vacunas</span>
      </h2>

      <div class="bg-card rounded-full border px-4"
           fxFlex="100%"
           fxFlex.lt-md="auto"
           fxHide.xs
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-3 border-0 outline-none w-full bg-transparent"
               placeholder="Buscar..."
               type="search">
      </div>

      <span fxFlex></span>

      <button (click)="createVacuna()"
              color="primary"
              fxFlex="none"
              fxHide.gt-xs
              mat-mini-fab
              class="ml-4"
              matTooltip="Nueva Vacuna"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>

      <button (click)="createVacuna()"
              class="ltr:ml-4 rtl:mr-4"
              color="primary"
              fxFlex="none"
              fxHide.xs
              mat-raised-button
              type="button">
        <ic-icon [icon]="icAdd"
                 class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                 inline="true"
                 size="20px"></ic-icon>
        <span>AGREGAR VACUNA</span>
      </button>
    </div>
  </div>

  <div class="card overflow-auto mx-6 mt-6" fxLayout="column">
    <div
      *ngFor="let vacuna of vacunas$ | async; trackBy: trackById"
      fxLayout="row"
      class="block border-b"
      fxLayoutAlign="start center">
      <div (click)="updateVacuna(vacuna)" class="hover:bg-hover trans-ease-out cursor-pointer flex py-3 transition ease-in-out duration-200 w-full px-6">
        <div class="truncate w-full">
          <div class="flex items-end">
            <p
              class="flex-auto text-base leading-normal text-black">
              {{ vacuna.tipoVacuna.nombre }}
              <span  class="text-xs rounded px-1 bg-purple-light text-purple"
                    [ngClass]="getTipoConsultaColors(vacuna.lote)">
                {{vacuna.lote}}
              </span>
            </p>
          </div>
          <span class="text-xs rounded px-1 bg-teal-light text-teal">{{vacuna.tipoVacuna.grupoProgramatico}}</span>
          <p class="text-sm leading-normal truncate text-secondary">{{vacuna.observacion}}</p>
          <div class="flex items-start">
            <span fxFlex></span>
            <div class="px-2 bg-green text-contrast-white box bg-app-bar text-secondary rounded caption ml-2 text-xxs">
              <span >{{vacuna.dosisVacunas.length}} de {{vacuna.tipoVacuna.dosis.length}} dosis</span>
            </div>
          </div>
          <div class="mt-1" fxLayout="row">
            <div>
              <button
                mat-button
                class="text-xs text-bold text-link"
                (click)="$event.stopPropagation();
                showDosisVacuna(vacuna)"
              >Dosis</button>
            </div>
          </div>
        </div>
        <div class="w-10 ml-3 text-secondary">
          <button (click)="$event.stopPropagation()"
                  [matMenuTriggerData]="{ vacuna: vacuna }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="(vacunas$ | async)?.length === 0"
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
      <h2 class="headline m-0 text-center mb-6">No se han encontrado registros</h2>
    </div>
  </div>
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-vacuna="vacuna" matMenuContent>
    <button (click)="updateVacuna(vacuna)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button (click)="openDeleteDialog(vacuna)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
    <button (click)="downloadCertificadoVacuna(vacuna)" mat-menu-item>
      <mat-icon [icIcon]="icDownload"></mat-icon>
      <span>Consentimiento vacunación</span>
    </button>
  </ng-template>
</mat-menu>
