<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar revisión
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nueva revisión
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Órgano sistema</mat-label>
      <mat-select formControlName="idOrganoSistema" required>
        <mat-option *ngFor="let organo of organosSistemas | async" [value]="organo.id">
          {{ organo.nombre }}
        </mat-option>
      </mat-select>
      <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Descripción</mat-label>
      <textarea rows="5" formControlName="descripcion" matInput required></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
