<mat-list class="max-w-full w-full pb-3">
  <div mat-subheader fxLayout="row" fxLayoutAlign="start center">
    <h2>
      <span class="text-sm font-medium">Diagnósticos</span>
    </h2>

    <span fxFlex></span>

    <button mat-icon-button type="button" (click)="close()">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let diag of diagnosticos | async">
    <p matLine>
      <span class="text-sm">{{diag.codigoCIE}} -- </span>
      <span class="text-sm">{{diag.cie10.nombre}}</span>
    </p>
    <p matLine>
      <span class="text-sm">{{diag.cie10.grupoEnfermedadCIE10?.nombre}}</span>
    </p>
    <p matLine>
      <span class="font-black text-sm">Tipo: </span>
      <span class="text-sm">{{diag.tipo}}, </span>
      <span class="font-black text-sm">Cronología: </span>
      <span class="text-sm">{{diag.cronologia}}, </span>
      <span class="font-black text-sm">Condición de diagnóstico: </span>
      <span class="text-sm">{{diag.condicionDiagnostico}}</span>
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
  <vex-loading></vex-loading>
  <div *ngIf="(diagnosticos | async)?.length === 0" class="w-300 px-10">
    <h2 class="text-sm m-10 text-center">No existen diagnósticos</h2>
  </div>
</mat-list>
