<div class="mt-6 flex flex-col">
    <div class="flex-auto">
<!--        <vex-accidente-trabajo></vex-accidente-trabajo>-->
        <!-- TODO: Aquí van las otras -->
      <vex-actividad-extralaboral></vex-actividad-extralaboral>
      <vex-enfermedad-profesional></vex-enfermedad-profesional>
      <vex-empleo-anterior></vex-empleo-anterior>
      <vex-incidente-trabajo></vex-incidente-trabajo>
    </div>
</div>
