<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0" fxFlex="auto">Buscar usuario</h2>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>
<div class="text-center py-12 header">
  <div class="container">
    <img fxLayout="row" class="mx-auto mb-12 h-40" src="assets/img/illustrations/medical_search.svg">

    <div @fadeInUp
         class="border rounded-full bg-card py-2 pl-6 pr-3 text-secondary max-w-xl mx-auto shadow-8"
         fxLayout="row"
         fxLayoutAlign="start center">
      <ic-icon [icon]="icSearch" fxFlex="none" size="24px"></ic-icon>
      <input class="border-0 ml-4 placeholder:text-secondary subheading-2 outline-none font-medium w-0 bg-card"
             fxFlex="auto"
             [formControl]="busquedaCtrl"
             placeholder="Ingrese el usuario de mi espe"
             type="text">
      <button (click)="buscarUsuario()" class="rounded-full" color="primary" fxFlex="none" mat-raised-button type="button">BUSCAR</button>
    </div>

    <div class="w-full my-6 mx-auto" fxLayout="row" fxLayoutAlign="center center">
      <vex-loading></vex-loading>
    </div>

    <p *ngIf="data" class="text-black font-medium leading-normal text-secondary">Resultados encontrados</p>

    <div class="my-6 container"
         gdAlignColumns="start start"
         gdColumns="1fr"
         gdColumns.lt-md="1fr"
         gdGap="24px"
         *ngIf="data">
      <div class="card max-w-full overflow-hidden p-6">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="auto" fxLayoutAlign="start start" fxLayout="column">
            <p class="text-black leading-normal text-secondary">NOMBRES: {{data.nombres}}</p>
            <p class="text-black leading-normal text-secondary">CEDULA: {{data.cedula}}</p>
            <p class="text-xs leading-normal text-secondary">ID BANNER: {{data.id}}</p>
          </div>
          <button (click)="abrirFormUsuario()" color="primary" mat-dialog-close mat-button type="submit">Seleccionar</button>
        </div>
      </div>

    </div>
  </div>
</div>
