<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<ng-container *ngIf="this.pacienteActual">
  <vex-secondary-toolbar current="Crear nueva evolución">
    <vex-breadcrumbs [crumbs]="['Medicina general', 'Evoluciones', 'Crear nueva evolución']"
                     fxFlex="auto"></vex-breadcrumbs>
    Tiempo de atención: {{ time * 1000 | date:'mm:ss' }}
  </vex-secondary-toolbar>
  <div @stagger class="p-gutter" vexContainer>
    <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
        <button mat-icon-button (click)="navigateBack()">
          <ic-icon [icon]="icBack" size="24px"></ic-icon>
        </button>
      </span>
      <span @fadeInRight class="block">Registro de nueva evolución</span>
    </h2>

    <div fxLayout="column" fxLayoutGap="16px" fxLayout.gt-sm="row">
      <div fxFlex="auto" @fadeInUp class="card overflow-hidden">
        <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
          <ng-template matStepperIcon="edit">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
          </ng-template>

          <ng-template matStepperIcon="done">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
          </ng-template>
          <mat-step [stepControl]="step0FormGroup">
            <form [formGroup]="step0FormGroup">
              <ng-template matStepLabel>Nota de enfermeria</ng-template>
              <h2 class="title m-0">Nota de enfermeria</h2>
              <div class="subheading-1">Seleccione o cree una nota de enfermeria del paciente.</div>

              <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                <div *ngIf="!notaEnfermeria" @scaleFadeIn fxLayout="column" class="p-3">
                  <img fxLayout="row" class="m-6 h-32" src="assets/img/illustrations/no_data_blue.svg">
                  <h3 fxLayout="row" class="subheading-1 m-0 text-center flex justify-center">No se ha seleccionado una nota de enfermeria.</h3>
                  <button (click)="selectNotaEnfermeria()" class="mt-6 md:mx-64 lg:mx-64" color="primary" mat-button type="button">
                    <ic-icon [icon]="icSearch"
                             class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
                             inline="true"
                             size="24px"></ic-icon>
                    <span>Seleccionar nota enfermeria</span>
                  </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="end end">
                  <button matTooltip="Seleccionar" fxFlex="none" *ngIf="notaEnfermeria" (click)="selectNotaEnfermeria()" mat-icon-button type="button">
                    <mat-icon [icIcon]="icSearch" class="text-secondary"></mat-icon>
                  </button>
                  <button matTooltip="Remover" fxFlex="none" *ngIf="notaEnfermeria" (click)="removeNotaEnfermeria()" mat-icon-button type="button">
                    <mat-icon [icIcon]="icDelete" color="warn" class="text-secondary"></mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
<!--                <button *ngIf="notaEnfermeria" (click)="selectNotaEnfermeria()" mat-icon-button type="button">-->
<!--                  <mat-icon [icIcon]="icSearch" class="text-secondary"></mat-icon>-->
<!--                </button>-->
                <mat-list *ngIf="notaEnfermeria" class="max-w-ful pb-6">
                  <div fxLayout="row" fxLayoutGap="16px">
                    <div *ngIf="notaEnfermeria.antropometria" class="card p-6" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
                      <span mat-subheader>Antropometría</span>
                      <mat-list-item class="list-font-size">
                        <h3 matLine>
                          Talla:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.antropometria.talla">
                            {{notaEnfermeria.antropometria.talla}} cm
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Peso:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.antropometria.peso">
                            {{notaEnfermeria.antropometria.peso}} Kg
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Perimetro abdominal:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.antropometria.perimetroAbdominal">
                            {{notaEnfermeria.antropometria.perimetroAbdominal}} cm
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Indice de masa corporal:
                          <span class="text-secondary" *ngIf="notaEnfermeria.antropometria.indiceMasaCorporal">
                            {{notaEnfermeria.antropometria.indiceMasaCorporal}} kg/m2
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                    </div>
                    <div *ngIf="notaEnfermeria.signoVital" class="card p-6" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
                      <span mat-subheader>Signos vitales</span>
                      <mat-list-item>
                        <h3 matLine>
                          Frecuencia cardiaca:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.signoVital.frecuenciaCardiaca">
                            {{notaEnfermeria.signoVital.frecuenciaCardiaca}} Lat/min
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Frecuencia respiratoria:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.signoVital.frecuenciaRespiratoria">
                            {{notaEnfermeria.signoVital.frecuenciaRespiratoria}} fr/min
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Temperatura:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.signoVital.temperatura">
                            {{notaEnfermeria.signoVital.temperatura}} °C
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Presión arterial:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.signoVital.presionArterial">
                            {{notaEnfermeria.signoVital.presionArterial}} mmHg
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <h3 matLine>
                          Saturación de oxigeno:
                          <span class="text-secondary font-medium" *ngIf="notaEnfermeria.signoVital.saturacionOxigeno">
                            {{notaEnfermeria.signoVital.saturacionOxigeno}} O2%
                          </span>
                        </h3>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item *ngIf="notaEnfermeria.signoVital.fechaUltimaMenstruacion && isFemenino()">
                        <h3 matLine>
                          Fecha última menstruación:
                          <span class="text-secondary font-medium">
                            {{notaEnfermeria.signoVital.fechaUltimaMenstruacion}}
                          </span>
                        </h3>
                      </mat-list-item>
                    </div>
                    <div *ngIf="notaEnfermeria.preConsulta" class="card p-6" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
                      <span mat-subheader>Nota de preconsulta</span>
                      <p class="text-xs text-secondary leading-tight text-wrap truncate mt-1">
                        {{notaEnfermeria.preConsulta}}
                      </p>
                    </div>
                  </div>
                </mat-list>

              </div>
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button [disabled]="step0FormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                  SIGUIENTE
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="step1FormGroup">
            <form [formGroup]="step1FormGroup">
              <ng-template matStepLabel>Nota de evolución</ng-template>
              <h2 class="title m-0">Nota de Evolución</h2>
              <div class="subheading-1">Complete los datos generales de la nota de evolución.</div>

              <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-6">
                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Dispensario</mat-label>
                    <mat-select formControlName="idDispensario" required>
                      <mat-option *ngFor="let dispensario of dispensarios | async"
                                  [value]="dispensario.id">{{dispensario.unidadOperativa}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Área de atención</mat-label>
                    <mat-select formControlName="idAreaSalud" required>
                      <mat-option *ngFor="let areaSalud of areasSalud | async"
                                  [value]="areaSalud.id">{{areaSalud.nombre}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Tipo de Consulta</mat-label>
                    <mat-select formControlName="tipoConsulta" required>
                      <mat-option
                        *ngFor="let tipoConsulta of tiposConsultas"
                        [value]="tipoConsulta.value">
                        {{tipoConsulta.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="step1FormGroup.get('tipoConsulta').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Motivo de atención</mat-label>
                    <mat-select formControlName="idMotivoAtencion" required>
                      <mat-option *ngFor="let ma of motivosAtencion | async"
                                  [value]="ma.id">{{ma.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="step1FormGroup.get('idMotivoAtencion').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Lugar de atención</mat-label>
                    <mat-select formControlName="idLugarAtencion" required>
                      <mat-option *ngFor="let la of lugaresAtencion | async"
                                  [value]="la.id">{{la.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="step1FormGroup.get('idLugarAtencion').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Motivo de consulta</mat-label>
                    <input type="text" required formControlName="motivoConsulta" matInput>
                    <mat-error *ngIf="step1FormGroup.get('motivoConsulta').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>

                  <div class="p-gutter container" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <div class="card">
                      <quill-editor @fadeInUp
                                    formControlName="notaEvolucion"
                                    [styles]="{ flex: '1 1 auto' }"></quill-editor>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
                <button (click)="saveFirstTwoSteps()" [disabled]="step1FormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                  SIGUIENTE
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="step2FormGroup">
            <form [formGroup]="step2FormGroup">
              <ng-template matStepLabel>Diagnósticos</ng-template>
              <h2 class="title m-0">Diagnósticos</h2>
              <div class="subheading-1 mb-3">Ingrese por lo menos un diagnóstico de la atención.</div>

              <mat-tab-group class="vex-tabs">
                <mat-tab label="CIE10">
                  <div class="py-6">
                    <vex-diagnostico-table [diagnosticos]="diagnosticos"
                                           (returnDiagnosticos)="chargeDiagnosticos($event)">
                    </vex-diagnostico-table>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
                <button [disabled]="step2FormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                  SIGUIENTE
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="step3FormGroup">
            <form [formGroup]="step3FormGroup">
              <ng-template matStepLabel>Planes de tratamiento</ng-template>
              <h2 class="title m-0">Planes de tratamiento</h2>
              <div class="subheading-1 mb-3">Ingrese los planes de tratamiento de la atención.</div>

              <mat-tab-group class="vex-tabs" dynamicHeight>
                <mat-tab label="PRESCRIPCIÓN MÉDICA">
                  <div class="py-6">
                    <vex-prescripcion-farmacologica-table [prescripciones]="prescripciones"
                                                          (returnPrescripciones)="chargePrescripciones($event)">
                    </vex-prescripcion-farmacologica-table>
                  </div>
                </mat-tab>
                <mat-tab label="PRESCRIPCIÓN NO FARMACOLÓGICA">
                  <mat-form-field appearance="outline" class="py-6 block w-full">
                    <mat-label>Indicación no farmacológica</mat-label>
                    <textarea  rows="5"  formControlName="indicacionNoFarmacologica" matInput></textarea>
                  </mat-form-field>
                </mat-tab>
<!--                <mat-tab label="SOLICITUDES DE LABORATORIO">-->
<!--                  <vex-select-tipo-examen-laboratorio class="mt-3" (returnParametros)="chargeParametrosLaboratorio($event)">-->
<!--                  </vex-select-tipo-examen-laboratorio>-->
<!--                </mat-tab>-->
              </mat-tab-group>
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
                <button (click)="createEvolucion()" [disabled]="step3FormGroup.invalid" color="primary"
                        mat-raised-button
                        matStepperNext>
                  GUARDAR
                </button>
                <vex-loading></vex-loading>
              </div>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
      </div>
    </div>
  </div>

</ng-container>
