<vex-page-layout @stagger *ngIf="paciente">
  <vex-secondary-toolbar current="Antecedentes de laboratorio">
    <vex-breadcrumbs [crumbs]="['Antecedentes', 'Antecedentes de laboratorio']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icCloudDownload"></mat-icon>
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content vexContainer>
    <div class="pb-gutter min-h-0 overflow-x-auto"
         fxFlex="auto"
         fxLayout="row"
         fxLayoutAlign="start start"
         fxLayoutGap="24px"
         vexContainer>
      <div *ngFor="let pedido of pedidosExamen | async; trackBy: trackById"
           @fadeInUp
           class="rounded bg-app-bar overflow-hidden max-h-full w-full max-w-md"
           fxFlex="none"
           fxLayout="column">
        <div class="p-4" fxFlex="none">
          <div fxLayout="column">
            <div fxLayout="row">
              <h2 class="subheading-2 px-1 font-medium m-0 select-none" fxFlex="none">{{ pedido.fecha | date:'longDate': '':'es-419' }}</h2>
              <span fxFlex></span>
              <button (click)="reportarResultados(pedido)" matTooltip="Reportar resultados" mat-icon-button type="button">
                <mat-icon [icIcon]="icEdit"></mat-icon>
              </button>
            </div>
            <div fxLayout="row">
              <span class="text-xxs px-1" fxLayoutAlign="center center">
                {{pedido.origen}}
              </span>
              <span class="px-2 box bg-app-bar text-secondary rounded caption text-xxs" [ngClass]="getLabStateColor(pedido.estado)" fxLayoutAlign="center center">
                {{pedido.estado}}
              </span>
            </div>
          </div>
        </div>

        <vex-scrollbar class="flex-auto">
          <div class="px-4 pb-4">
            <div (click)="openExamen(examen)"
                 *ngFor="let examen of pedido.examenes; trackBy: trackById"
                 class="scrumboard-card card w-full overflow-hidden">
              <div class="p-4">
                <h3 class="body-2 m-0 select-none">{{ examen.examen.nombre }}</h3>
                <div class="mt-3"
                     fxLayout="row"
                     fxLayoutGap="8px" *ngFor="let detalle of examen.detalles">
                  <div class="pl-3 py-1">
                    <span class="text-sm">{{detalle.detalle.nombre}} (<span class="text-xxs">{{detalle.detalle.unidad}}</span>)</span>
                  </div>

                  <span fxFlex></span>

                  <span class="text-xxs px-1 bg-app-bar rounded" fxLayoutAlign="center center">
                    <ng-container *ngIf="detalle.valor">{{detalle.valor}}</ng-container>
                    <ng-container *ngIf="!detalle.valor">n/a</ng-container>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </vex-scrollbar>
      </div>
      <div *ngIf="(pedidosExamen | async)?.length === 0"
           @scaleFadeIn
           fxFlex="auto"
           fxLayout="column"
           fxLayoutAlign="center center">
        <img class="m-12 h-48" src="assets/img/illustrations/no_data_blue.svg">
        <h3 class="headline m-0 text-center">No se han encontrado registros</h3>
      </div>
    </div>

  </vex-page-layout-content>

</vex-page-layout>
