<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar prescripción
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nueva prescripción
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Medicamento</mat-label>
          <input [formControl]="tipoMedicamentoCatalogo" formControlName="medicamento" [matAutocomplete]="autoMedicamento"
                 matInput required>
          <mat-icon [icIcon]="icPills" class="mr-3" matPrefix></mat-icon>
          <mat-autocomplete autoActiveFirstOption #autoMedicamento="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let med of filteredMedicamento$ | async" [value]="med">
              <span class="body-1">{{med.nombre}}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="tipoMedicamentoCatalogo.reset()" *ngIf="tipoMedicamentoCatalogo.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!tipoMedicamentoCatalogo.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-error *ngIf="tipoMedicamentoCatalogo.hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Presentacion</mat-label>
          <mat-select formControlName="presentacion" required>
            <mat-option *ngFor="let presentacion of presentaciones" [value]="presentacion">
              {{presentacion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('presentacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Cantidad</mat-label>
          <input type="number" formControlName="cantidad" matInput required>
          <mat-error *ngIf="form.get('cantidad').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Indicaciones</mat-label>
          <textarea required rows="3" maxlength="255" formControlName="indicacion" matInput #lenghtIndicaciones></textarea>
          <mat-error *ngIf="form.get('indicacion').hasError('required')">{{errorMessages.required}}</mat-error>
          <mat-hint align="end">{{lenghtIndicaciones.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
  </mat-dialog-actions>

</form>
