<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">
      Actualizar incidente de trabajo
    </h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">
      Nuevo incidente de trabajo
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Empresa donde se sucito el evento</mat-label>
          <input formControlName="empresa" required matInput>
          <mat-icon [icIcon]="outlineWork" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha</mat-label>
          <input formControlName="fecha" matInput (click)="datepickerRef.open()"
                 (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef">
          <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-icon [icIcon]="icCalendarCheck" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center">
          <mat-checkbox [checked]="false" formControlName="recibioAtencion" color="primary">
            ¿Recibió Atención?
          </mat-checkbox>
        </div>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Lugar de Atención</mat-label>
          <input formControlName="lugarAtencion" required matInput>
          <mat-icon [icIcon]="icBuilding" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Riesgo Implicado</mat-label>
          <input formControlName="riesgoImplicado" required matInput>
          <mat-icon [icIcon]="icRiesgo" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Parte del cuerpo afectada</mat-label>
          <input formControlName="parteCuerpoAfectada" required matInput>
          <mat-icon [icIcon]="icSecuridad" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Naturaleza del incidente</mat-label>
          <input formControlName="naturaleza" required matInput>
          <mat-icon [icIcon]="icMedKit" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Horas de reposo</mat-label>
          <input
            formControlName="horasReposo"
            type="number"
            required
            matInput
          />
          <mat-icon [icIcon]="icHora" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Secuelas</mat-label>
          <input formControlName="secuelas" required matInput>
          <mat-icon [icIcon]="icSecuridad" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Observaciones</mat-label>
          <textarea style="height: 120px;" formControlName="observaciones" matInput></textarea>
        </mat-form-field>

      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button
            type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
