<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<div *ngIf="this.pacienteActual" class="pb-6">
  <div class="h-full" fxLayout="column">
    <div class="px-6 pt-6 pb-0" fxFlex="none">
      <div vexContainer>
        <h1 class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn
            class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icBookMedical" size="24px"></ic-icon>
      </span>
          <span @fadeInRight class="block title font-medium pr-3">Notas enfermeria</span>
          <vex-breadcrumbs [crumbs]="['Notas enfermeria']"></vex-breadcrumbs>
        </h1>
      </div>
    </div>

    <div class="mx-6 mt-6" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="pl-3 title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none">
        <span>Notas enfermeria</span>
      </h2>

      <div class="bg-card rounded-full border px-4"
           fxFlex="100%"
           fxFlex.lt-md="auto"
           fxHide.xs
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-3 border-0 outline-none w-full bg-transparent"
               placeholder="Buscar..."
               type="search">
      </div>

      <span fxFlex></span>

      <button (click)="createNota()"
              color="primary"
              fxFlex="none"
              fxHide.gt-xs
              mat-mini-fab
              class="ml-4"
              matTooltip="Agregar registro"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>

      <button (click)="createNota()"
              class="ltr:ml-4 rtl:mr-4"
              color="primary"
              fxFlex="none"
              fxHide.xs
              mat-raised-button
              type="button">
        <ic-icon [icon]="icAdd"
                 class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                 inline="true"
                 size="20px"></ic-icon>
        <span>AGREGAR REGISTRO</span>
      </button>
    </div>
  </div>

  <div class="card overflow-auto mx-6 mt-6" fxLayout="column">
    <div
      *ngFor="let nota of notasEnfermeria | async; trackBy: trackById"
      fxLayout="row"
      class="block border-b"
      fxLayoutAlign="start center">
      <div class="flex py-3 transition ease-in-out duration-200 w-full px-6">
        <div fxHide.xs class="flex-none flex flex-col ltr:pr-4 rtl:pl-4">
          <div class="w-8 h-8 rounded-full overflow-hidden mt-1 flex-none">
            <img matTooltip="{{nota.usuario.nombres}}" [src]="getUserImage(nota.usuario.idBanner)" class="w-full h-full object-fit"/>
          </div>
          <span class="flex-1"></span>
        </div>
        <div class="truncate w-full">
          <div class="flex items-end">
            <p
              class="flex-auto text-base leading-normal text-black">
              {{ nota.areaSalud.nombre }}
            </p>
            <p class="flex-none text-xs leading-normal text-secondary">{{ getDatetime(nota.fechaInicio)}} </p>
          </div>
          <p class="text-sm leading-normal truncate text-secondary">{{nota.dispensario.unidadOperativa}}</p>
          <div class="items-start" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <p class="text-xs font-black leading-tight mt-1 pr-1">Antropometría: </p>
            <p *ngIf="!nota.antropometria" class="text-xs text-secondary leading-tight text-wrap truncate mt-1">No se registraron los datos de antropometría</p>
            <div *ngIf="nota.antropometria" class="mt-1" fxLayout="row" fxLayoutGap="6px" fxLayout.xs="column">
              <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Perímetro abdominal: {{nota.antropometria.perimetroAbdominal}} cm
              </span>
              <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Peso: {{nota.antropometria.peso}} Kg
              </span>
              <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Talla: {{nota.antropometria.talla}} cm
              </span>
              <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Índice de masa corporal: {{nota.antropometria.indiceMasaCorporal}} kg/m2
              </span>
            </div>
          </div>
          <div class="items-start" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <p class="text-xs font-black leading-tight mt-1 pr-1">Signos vitales: </p>
            <p *ngIf="!nota.signoVital" class="text-xs text-secondary leading-tight text-wrap truncate mt-1">No se registraron signos vitales</p>
            <div *ngIf="nota.signoVital" class="mt-1" fxLayout="row" fxLayoutGap="6px" fxLayout.xs="column">
              <div fxLayout="column" fxLayoutGap="6px">
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Frecuencia cardiaca: {{nota.signoVital.frecuenciaCardiaca}} Lat/min
                </span>
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Presión arterial: {{nota.signoVital.presionArterial}} / {{nota.signoVital.diastole}} mmHg
                </span>
              </div>
              <div fxLayout="column" fxLayoutGap="6px">
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Frecuencia respiratoria: {{nota.signoVital.frecuenciaRespiratoria}} fr/min
                </span>
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Saturación de oxígeno: {{nota.signoVital.saturacionOxigeno}} O2%
                </span>
              </div>
              <div fxLayout="column" fxLayoutGap="6px">
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Temperatura: {{nota.signoVital.temperatura}} °C
                </span>
                <span *ngIf="isFemenino()" class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Fecha última menstruación: {{nota.signoVital.fechaUltimaMenstruacion}}
                </span>
              </div>
            </div>
          </div>

          <div class="flex items-start">
            <p class="text-xs text-secondary leading-tight text-wrap truncate mt-1"><span class="font-black">Preconsulta:</span> {{ nota.preConsulta | stripHtml }}</p>
            <span fxFlex></span>
            <!--            <div *ngIf="checkDeaths(litter.deaths)"-->
            <!--                 class="px-2 bg-red text-contrast-white box bg-app-bar text-secondary rounded caption ml-2 text-xxs">-->
            <!--              <span class="box-text">{{countDeaths(litter.deaths)}} Muertes</span>-->
            <!--            </div>-->
            <div class="px-2 bg-green text-contrast-white box bg-app-bar text-secondary rounded caption ml-2 text-xxs">
              <span class="box-text">{{nota.estado}}</span>
            </div>
          </div>
          <div class="flex items-start">
            <p class="text-xs text-secondary leading-tight text-wrap truncate mt-1"><span class="font-black">Post consulta:</span> {{ nota.postConsulta | stripHtml }}</p>
          </div>
        </div>
        <div class="w-10 ml-3 text-secondary">
          <button (click)="$event.stopPropagation()"
                  [matMenuTriggerData]="{ nota: nota }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="(notasEnfermeria | async)?.length === 0"
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
      <h2 class="headline m-0 text-center mb-6">No se han encontrado registros</h2>
    </div>
  </div>
  <vex-loading class="flex justify-center"></vex-loading>
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-nota="nota" matMenuContent>
    <button *ngIf="!nota.hasEvolucion" (click)="atenderNotaEvolucion(nota)" mat-menu-item>
      <mat-icon [icIcon]="icCheck"></mat-icon>
      <span>Atender</span>
    </button>
    <button *ngIf="nota.hasEvolucion" (click)="addPostConsulta(nota)" mat-menu-item>
      <mat-icon [icIcon]="icArrow"></mat-icon>
      <span>Post consulta</span>
    </button>
    <button *ngIf="!nota.hasEvolucion" (click)="updateNota(nota)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
<!--    <button (click)="deleteNota(nota)" mat-menu-item>-->
<!--      <mat-icon [icIcon]="icDelete"></mat-icon>-->
<!--      <span>Eliminar</span>-->
<!--    </button>-->
  </ng-template>
</mat-menu>
