<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('id').value"
        class="headline m-0"
        fxFlex="auto">Actualizar val. certificado</h2>
    <h2 *ngIf="!form.get('id').value"
        class="headline m-0"
        fxFlex="auto">Nueva val. certificado</h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha desde</mat-label>
          <input [matDatepicker]="fechaDesde" (click)="fechaDesde.open()" (focus)="fechaDesde.open()"
                 [max]="maxDate" formControlName="fechaDesde"
                 matInput required
                 (ngModelChange)="calculateDiasReposo()"/>
          <mat-datepicker-toggle
            [for]="fechaDesde"
            class="block"
            matPrefix
          ></mat-datepicker-toggle>
          <mat-datepicker #fechaDesde></mat-datepicker>
          <mat-error *ngIf="form.get('fechaDesde').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha hasta</mat-label>
          <input [matDatepicker]="fechaHasta" (click)="fechaHasta.open()" (focus)="fechaHasta.open()"
                 [max]="maxDate" formControlName="fechaHasta"
                 matInput required
                 (ngModelChange)="calculateDiasReposo()"/>
          <mat-datepicker-toggle
            [for]="fechaHasta"
            class="block"
            matPrefix
          ></mat-datepicker-toggle>
          <mat-datepicker #fechaHasta></mat-datepicker>
          <mat-error *ngIf="form.get('fechaHasta').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico CIE-10</mat-label>
          <input [formControl]="diagnosticoCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let codigoCie of filteredCodigosCie | async" [value]="codigoCie">
              <span class="body-1">{{ codigoCie.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{ codigoCie.nombre }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="diagnosticoCtrl.reset()" *ngIf="diagnosticoCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!diagnosticoCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>

          <mat-icon [icIcon]="icAssigment" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="diagnosticoCtrl.hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Institución que emite</mat-label>
          <input formControlName="institucionEmite" matInput required vexInputUppercase>
          <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('institucionEmite').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Días de reposo</mat-label>
          <input type="number" formControlName="diasReposo" matInput required>
          <mat-icon [icIcon]="icRestore" class="mr-3" matPrefix></mat-icon>
          <span class="px-5" matSuffix>dias</span>
          <mat-error *ngIf="form.get('diasReposo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Equivalente horas laborales</mat-label>
          <input type="number" formControlName="equivalenteHorasLaborables" matInput required>
          <mat-icon [icIcon]="icWork" class="mr-3" matPrefix></mat-icon>
          <span class="px-5" matSuffix>horas</span>
          <mat-error
            *ngIf="form.get('equivalenteHorasLaborables').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    <button *ngIf="isUpdateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">ACTUALIZAR
    </button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
