<form (ngSubmit)="search()" [formGroup]="form">
  <div [ngClass.gt-sm]="['mr-6']" class="text-xs card overflow-auto" fxLayout="column" fxLayout.lt-md="column">
    <div class="p-gutter" fxFlex="220px" fxFlex.lt-md="auto">
      <h2 class="headline pb-3">Aplicar filtros</h2>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field appearance="outline" fxFlex="auto">
          <mat-label>Año</mat-label>
          <mat-select formControlName="year">
            <mat-option [value]="-1">
              <span>Todos años</span>
            </mat-option>
            <mat-option *ngFor="let year of years" [value]="year">
              <span>{{ year }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="auto">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="month">
            <mat-option [value]="-1">
              <span>Todos meses</span>
            </mat-option>
            <mat-option *ngFor="let month of months" [value]="month.id">
              <span>{{ month.name }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button color="primary" class="flex-auto w-full" mat-raised-button type="submit">
        <ic-icon [icon]="icExcel" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
        <span>DESCARGAR REPORTE</span>
      </button>
    </div>
  </div>
</form>

