<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="w-8 select-none" src="assets/img/demo/logo.svg">
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">Salud ESPE</h1>
  </a>

  <img class="w-48" src="assets/img/espe/ESPESALUD.png" alt="espe-salud-logo">

  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
       [fxHide]="mobileQuery"
       class="px-gutter"
       fxFlex="none"
       fxLayout="row"
       fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <button mat-menu-item [routerLink]="['/medicina-general/evolucion/create']">
      <mat-icon [icIcon]="icMedKit"></mat-icon>
      <span>Nota de evolución</span>
    </button>

    <button [matMenuTriggerFor]="documentMenu" mat-menu-item>
      <mat-icon [icIcon]="icPaciente"></mat-icon>
      <span>Paciente</span>
    </button>

    <mat-menu #documentMenu="matMenu">
      <button mat-menu-item [routerLink]="['/medicina-general/registro-paciente/interno']">
        <mat-icon [icIcon]="icCollege"></mat-icon>
        <span>Interno</span>
      </button>

      <button mat-menu-item [routerLink]="['/medicina-general/registro-paciente/externo']">
        <mat-icon [icIcon]="icUsers"></mat-icon>
        <span>Externo</span>
      </button>
    </mat-menu>
  </mat-menu>


  <div class="ltr:ml-2 rtl:mr-2">
    <button *ngIf="isHorizontalLayout$ | async"
            [fxHide]="mobileQuery"
            (click)="openSelectPatientDialog()"
            color="primary"
            mat-button
            type="button">
      <mat-icon *ngIf="this.paciente && this.paciente?.idBanner" inline="true" class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1">
        <img [src]="getUserImage(this.paciente?.idBanner || null)" alt="patient-image" class="avatar h-6 w-6 align-middle">
      </mat-icon>
      <mat-icon *ngIf="!this.paciente || !this.paciente?.idBanner" inline="true" class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1">
        <img src="assets/img/avatars/avatar.png" alt="patient-image" class="avatar h-6 w-6 align-middle">
      </mat-icon>
      <span *ngIf="this.paciente">{{pacienteSimpleName}}</span>
      <span *ngIf="!this.paciente">Seleccione un paciente</span>
      <ic-icon [icon]="icArrowDropDown" class="ltr:-mr-1 rtl:-ml-1" inline="true"></ic-icon>
    </button>
  </div>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <button *ngIf="isHorizontalLayout$ | async"
              [matMenuTriggerFor]="addNewMenu"
              mat-icon-button type="button">
        <mat-icon [icIcon]="icAdd" size="20px"></mat-icon>
      </button>

    </div>

    <div class="px-1" *ngIf="this.paciente">
      <button (click)="openQuickpanel()" mat-icon-button type="button">
        <mat-icon [icIcon]="icInfo" size="18px" matTooltip="Información del paciente"></mat-icon>
      </button>
    </div>

    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>
  </div>
</div>
<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [fxHide]="mobileQuery"></vex-navigation>
