<form (ngSubmit)="save()" [formGroup]="form" class="w-auto">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar antecedente ginecológico
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo antecedente ginecológico
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Edad de menarquia</mat-label>
          <input formControlName="edadMenarquia" min="0" max="25" matInput/>
          <mat-error
            *ngIf="form.get('edadMenarquia').hasError('min')">{{errorMessages.min}}</mat-error>
          <mat-error
            *ngIf="form.get('edadMenarquia').hasError('max')">{{errorMessages.max}}</mat-error>
          <mat-error
            *ngIf="form.get('edadMenarquia').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
          <mat-icon [icIcon]="heart" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Ciclo de menstruación</mat-label>
          <mat-select formControlName="cicloMenstruacion" required>
            <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo">
              {{ ciclo }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="circlenotch" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('cicloMenstruacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha de última menstruación</mat-label>
          <input required [matDatepicker]="datepickerRef"
                 (click)="datepickerRef.open()"
                 (focus)="datepickerRef.open()"
                 [max]="maxDate" formControlName="fechaUltimaMenstruacion"
                 matInput/>
          <mat-datepicker-toggle
            [for]="datepickerRef"
            class="block"
            matPrefix
          ></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-error *ngIf="form.get('fechaUltimaMenstruacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Gestas</mat-label>
          <input type="number" formControlName="gestas" matInput/>
          <mat-icon [icIcon]="baby" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Número de partos vaginales</mat-label>
          <input type="number" formControlName="numeroPartosVaginales" matInput/>
          <mat-icon [icIcon]="clinicmedical" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Número de cesáreas</mat-label>
          <input type="number" formControlName="numeroCesareas" matInput/>
          <mat-icon [icIcon]="bookmedical" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-label>Número de abortos</mat-label>
          <input type="number" formControlName="numeroAbortos" matInput/>
          <mat-icon [icIcon]="heartbroken" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-label>Hijos vivos</mat-label>
          <input type="number" formControlName="hijosVivos" matInput/>
          <mat-icon [icIcon]="icMale" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-label>Hijos muertos</mat-label>
          <input type="number" formControlName="hijosMuertos" matInput/>
          <mat-icon [icIcon]="heartbroken" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button mat-button mat-dialog-close type="button">CANCELAR</button>
      <button
        [disabled]="form.invalid"
        *ngIf="isCreateMode()"
        color="primary"
        mat-button
        type="submit"
      >
        GUARDAR
      </button>
      <button
        [disabled]="form.invalid"
        *ngIf="isUpdateMode()"
        color="primary"
        mat-button
        type="submit"
      >
        ACTUALIZAR
      </button>
    </div>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
