<vex-secondary-toolbar current="Registro paciente">
  <vex-breadcrumbs [crumbs]="['Registro paciente', 'Interno']" fxFlex="auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="text-center py-12 header">
  <div class="container">
    <img fxLayout="row" class="mx-auto mb-12 h-40" src="assets/img/illustrations/medical_search.svg">

    <div @fadeInUp
         class="border rounded-full bg-card py-2 pl-6 pr-3 text-secondary max-w-xl mx-auto shadow-8"
         fxLayout="row"
         fxLayoutAlign="start center">
      <ic-icon [icon]="icSearch" fxFlex="none" size="24px"></ic-icon>
      <input class="border-0 ml-4 placeholder:text-secondary subheading-2 outline-none font-medium w-0 bg-card"
             fxFlex="auto"
             [formControl]="busquedaCtrl"
             placeholder="Ingrese el número de cédula del paciente"
             type="text">
      <button (click)="buscarPacienteInterno()" class="rounded-full" color="primary" fxFlex="none" mat-raised-button type="button">BUSCAR</button>
    </div>

    <div class="w-full my-6 mx-auto" fxLayout="row" fxLayoutAlign="center center">
      <vex-loading></vex-loading>
    </div>

    <p *ngIf="data" class="text-black font-medium leading-normal text-secondary">Resultados encontrados</p>

    <div class="my-6 container"
         gdAlignColumns="start start"
         gdColumns="1fr"
         gdColumns.lt-md="1fr"
         gdGap="24px"
    *ngIf="data">
      <div class="card max-w-full overflow-hidden p-6">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="auto" fxLayoutAlign="start start" fxLayout="column">
            <p class="text-black leading-normal text-secondary">NOMBRES: {{data.nombres}}</p>
            <p class="text-black leading-normal text-secondary">APELLIDOS: {{data.apellidos}}</p>
            <p class="text-xs leading-normal text-secondary">ID BANNER: {{data.id_banner}}</p>
          </div>
          <button (click)="abrirFormPacienteInterno()" color="primary" mat-button type="submit">Seleccionar</button>
        </div>
      </div>

    </div>
  </div>
</div>
