<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">
      Actualizar Activid Extralaboral
    </h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">
      Nueva Actividad Extralaboral
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Empresa</mat-label>
          <input formControlName="empresa" required matInput>
          <mat-icon [icIcon]="outlineWork" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Puesto de Trabajo</mat-label>
          <input formControlName="puestoTrabajo" required matInput>
          <mat-icon [icIcon]="icBuilding" class="mr-3" matPrefix></mat-icon>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Actividad</mat-label>
          <input formControlName="actividad" required matInput>
          <mat-icon [icIcon]="icActivity" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Número de meses</mat-label>
          <input type="number" formControlName="meses" matInput>
          <mat-icon [icIcon]="icCalendarCheck" class="mr-3" matPrefix></mat-icon>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Riesgo</mat-label>
          <mat-select formControlName="riesgo" required>
            <mat-option *ngFor="let riesgo of riesgos" [value]="riesgo.value">
              {{ riesgo.value }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icInfo" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="100%" fxLayoutAlign="center">
          <mat-checkbox [checked]="false" formControlName="usabanSeguridad" color="primary">
            ¿Usaban Seguridad?
          </mat-checkbox>
        </div>
        <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="100%" fxLayoutAlign="center">
          <mat-checkbox [checked]="false" formControlName="vigilanciaSalud" color="primary">
            Vigilancia Salud
          </mat-checkbox>
        </div>


        <mat-form-field appearance="outline" class="block w-full">
          <mat-label>Observaciones</mat-label>
          <textarea style="height: 120px;" formControlName="observacion" matInput></textarea>
        </mat-form-field>

      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button
            type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
