<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Estadísticas', 'Personales']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer *ngIf="personalDashboard">

  <vex-widget-total-value-center [change]="null"
                                 [icon]="icPaciente"
                                 iconClass="text-primary bg-primary-light"
                                 gdColumn.lt-sm="1"
                                 helpText="Total pacientes registrados en el Sistema Integrado de Salud de la UFA"
                                 label="Total pacientes"
                                 [value]="personalDashboard.totalPatients.toString()"></vex-widget-total-value-center>

  <vex-widget-total-value-center [change]="null"
                                 [icon]="icPaciente"
                                 iconClass="text-orange bg-orange-light"
                                 gdColumn.lt-sm="1"
                                 helpText="Total de pacientes registrados que no constan en el sistema informático de la UFA"
                                 label="Total pacientes externos"
                                 [value]="personalDashboard.totalExternPatients.toString()"></vex-widget-total-value-center>

  <vex-widget-total-value-center [change]="null"
                                 [icon]="icPaciente"
                                 iconClass="text-deep-orange bg-deep-orange-light"
                                 gdColumn.lt-sm="1"
                                 helpText="Total de pacientes registrados que sí constan en el sistema informático de la UFA"
                                 label="Total pacientes internos"
                                 [value]="personalDashboard.totalInternPatients.toString()"></vex-widget-total-value-center>

  <vex-widget-total-value-center [change]="null"
                                 [icon]="icPaciente"
                                 iconClass="text-teal bg-teal-light"
                                 gdColumn.lt-sm="1"
                                 helpText="Total de pacientes activos en ESPE SALUD"
                                 label="Total pacientes activos"
                                 [value]="personalDashboard.totalActivePatients.toString()"></vex-widget-total-value-center>
  <vex-widget-pie-chart [series]="personalDashboard.totalPatientsByDispensary.series"
                        [labels]="personalDashboard.totalPatientsByDispensary.labels"
                        gdColumn="1 / 3"
                        gdColumn.lt-md="1 / -1"
                        gdColumn.lt-sm="1"></vex-widget-pie-chart>

  <vex-widget-patient-table [columns]="patientTableColumns"
                            [data]="personalDashboard.lastFiveRegisteredPatients"
                            class="w-full overflow-auto shadow" gdColumn="3 / -1"
                            gdColumn.lt-md="1 / -1"
                            gdColumn.lt-sm="1"></vex-widget-patient-table>

  <vex-widget-daily-large-chart [series]="attentionsAtCurrentMonthSeries"
                                [labels]="personalDashboard.attentionsDailyAtCurrentMonth.labels"
                               gdColumn="1 / -1"
                               gdColumn.lt-sm="1"
                               [pastValueTotal]="personalDashboard.totalAttentionsAtPastMonth"
                               [total]="personalDashboard.totalAttentionsAtCurrentMonth"></vex-widget-daily-large-chart>


  <vex-widget-daily-line-chart [icon]="icPaciente"
                               [labels]="personalDashboard.patientsRegisteredDailyAtCurrentMonth.labels"
                               [series]="patientsRegisteredAtCurrentMonthSeries"
                               iconClass="text-orange bg-orange-light"
                               gdColumn.lt-sm="1"
                               label="Pacientes registrados en el mes"
                               [value]="personalDashboard.totalPatientsCurrentMonth.toString()"></vex-widget-daily-line-chart>

  <!--  <p>{{data.patientsRegisteredDailyAtCurrentMonth.series}}</p>-->

<!--<vex-widget-patient-morbilidad-->
<!--  gdColumn="1 / 5"-->
<!--  gdColumn.lt-md="1 / -1"-->
<!--  gdColumn.lt-sm="1">-->
<!--</vex-widget-patient-morbilidad>-->

<!--  <vex-widget-patient-motivo-atencion-->
<!--  gdColumn="1 / 5"-->
<!--  gdColumn.lt-md="1 / -1"-->
<!--  gdColumn.lt-sm="1">-->
<!--</vex-widget-patient-motivo-atencion>-->

<!--  <vex-widget-patient-prevencion-->
<!--  gdColumn="1 / 5"-->
<!--  gdColumn.lt-md="1 / -1"-->
<!--  gdColumn.lt-sm="1">-->
<!--</vex-widget-patient-prevencion>-->

<!--  <vex-widget-patient-prevencion-morbilidad-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1">-->
<!--  </vex-widget-patient-prevencion-morbilidad>-->

<!--  <vex-widget-patient-relacion-espe-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1">-->
<!--  </vex-widget-patient-relacion-espe>-->

<!--  <vex-widget-patient-seguro-salud-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1">-->
<!--  </vex-widget-patient-seguro-salud>-->

<!--  <vex-widget-patient-sexo-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1">-->
<!--  </vex-widget-patient-sexo>-->

<!--  <vex-widget-patient-tipo-consulta-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1">-->
<!--  </vex-widget-patient-tipo-consulta>-->

<!--  <vex-widget-table-patient-cie-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1">-->
<!--  </vex-widget-table-patient-cie>-->
</div>
