<div
  gdColumns="1fr 1fr 1fr 1fr"
  gdColumns.lt-md="1fr 1fr"
  gdColumns.lt-sm="1fr"
  gdGap="16px"
  vexContainer>
  <div @fadeInUp gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1" class="card mt-6">
    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Alimentación</h2>
    </div>

    <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icCalendarCheck" size="20px"></ic-icon>
        </div>

        <div @fadeInRight>
          <p class="m-0 body-1">{{antecedentePersonal.frecuenciaAlimentacion?.nombre}}</p>
          <p class="m-0 caption text-hint">Frecuencia alimentación</p>
        </div>
      </div>

      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icRestaurantMenu" size="20px"></ic-icon>
        </div>

        <div @fadeInRight>
          <p class="m-0 body-1">{{antecedentePersonal.predominioAlimentario}}</p>
          <p class="m-0 caption text-hint">Predominio alimentario</p>
        </div>
      </div>

      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icClipBoardList" size="20px"></ic-icon>
        </div>

        <div @fadeInRight>
          <p class="m-0 body-1">{{antecedentePersonal.observacionAlimentacion}}</p>
          <p class="m-0 caption text-hint">Observaciones</p>
        </div>
      </div>
    </div>
  </div>

  <div @fadeInUp gdColumn="3 / -1"  gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1" class="card mt-6">
    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Hábito sueño</h2>
    </div>
    <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">

      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icBed" size="20px"></ic-icon>
        </div>
        <div @fadeInRight>
          <p class="m-0 body-1">{{antecedentePersonal.horaSuenio}}</p>
          <p class="m-0 caption text-hint">Hora de sueño</p>
        </div>
      </div>

      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icCloudSun" size="20px"></ic-icon>
        </div>
        <div @fadeInRight>
          <p class="m-0 body-1">{{antecedentePersonal.horaDespertar}}</p>
          <p class="m-0 caption text-hint">Hora al despertar</p>
        </div>
      </div>

      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icClock" size="20px"></ic-icon>
        </div>
        <div @fadeInRight>
          <p class="m-0 body-1" *ngIf="antecedentePersonal.horaSuenio">{{calcularTotalHorasSuenio()}}</p>
          <p class="m-0 caption text-hint">Total horas de sueño</p>
        </div>
      </div>

      <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
        <div @scaleIn
             class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="icClipBoardList" size="20px"></ic-icon>
        </div>
        <div @fadeInRight>
          <p class="m-0 body-1 break-words">{{antecedentePersonal.observacionHabitoSuenio}}</p>
          <p class="m-0 caption text-hint">Observaciones</p>
        </div>
      </div>
    </div>
  </div>
</div>

<vex-actividad-fisica></vex-actividad-fisica>
<vex-consumo-nocivo></vex-consumo-nocivo>
