<form (ngSubmit)="createPdf()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
      Certificado de reposo
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">

    <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-label>Fecha inicio</mat-label>
      <mat-datepicker-toggle [for]="datepickerRef" class="block" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepickerRef></mat-datepicker>
      <input [matDatepicker]="datepickerRef" (click)="datepickerRef.open()" (focus)="datepickerRef.open()"
             formControlName="fechaInicio" required matInput>
      <mat-error *ngIf="form.get('fechaInicio').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-label>Fecha de finalización</mat-label>
      <input formControlName="fechaFin" matInput (click)="picker.open()" (focus)="picker.open()"
             [matDatepicker]="picker" required/>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('fechaFin').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-label>Condición del paciente</mat-label>
      <input formControlName="condicionPaciente" required matInput>
      <mat-error *ngIf="form.get('condicionPaciente').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-label>Recomendaciones</mat-label>
      <textarea rows="5" formControlName="recomendacion" matInput required></textarea>
      <mat-error *ngIf="form.get('recomendacion').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" color="primary" mat-button type="submit">DESCARGAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
