<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar medicación habitual
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nueva medicación habitual
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Descripción medicamento</mat-label>
          <input required formControlName="descripcionMedicamento" matInput type="text"/>
          <mat-icon [icIcon]="icPills" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('descripcionMedicamento').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Frecuencia</mat-label>
          <mat-select formControlName="idFrecuencia" required>
            <mat-option *ngFor="let frecuencia of frecuenciaMedicacionHabitual | async" [value]="frecuencia.id">
              {{ frecuencia.nombre }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icHourGlass" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('idFrecuencia').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Cantidad</mat-label>
          <input required formControlName="cantidad" matInput type="number" min="1" max="20"/>
          <mat-icon [icIcon]="icSortNumeric" class="mr-3 ml-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('cantidad').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Observaciones</mat-label>
          <textarea #lengthObservacion rows="5" formControlName="observacion" maxlength="255" matInput></textarea>
          <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
