<div class="p-gutter" vexContainer>
  <form (ngSubmit)="save()" [formGroup]="form">

    <div class="card">
      <div class="p-6">
        <div class="mb-6" fxLayout="row" fxLayoutAlign="start center">
          <h4 class="text-secondary" fxLayout="row" fxFlex="none" fxLayoutAlign="start center">
            <span @scaleIn
                  class="w-10 h-10 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icGender" size="20px"></ic-icon>
            </span>
            <h2 @fadeInRight class="m-0 title" fxFlex="auto">Información general</h2>
          </h4>
          <span fxFlex></span>

          <button
            [disabled]="form.invalid"
            class="ltr:ml-4 rtl:mr-4"
            color="primary"
            fxFlex="none"
            fxHide.xs
            (click)="updateSaludUser()"
            mat-button
            type="submit">
            <ic-icon [icon]="icSave"
                     class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                     inline="true"
                     size="20px"></ic-icon>
            <span>ACTUALIZAR</span>
          </button>
          <button
            [disabled]="form.invalid"
            color="primary"
            fxFlex="none"
            (click)="updateSaludUser()"
            fxHide.gt-xs
            mat-mini-fab
            class="ml-4"
            matTooltip="Actualizar"
            type="submit">
            <mat-icon [icIcon]="icSave"></mat-icon>
          </button>
          <vex-loading></vex-loading>

        </div>
        <div fxLayout="column"
             class="pt-6 border-t md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field *ngIf="this.mode === 'create'" appearance="outline" class="block w-full">
              <mat-label>Usuario MI ESPE</mat-label>
              <input cdkFocusInitial
                     matInput
                     placeholder="lapillaga"
                     type="search"
                     [formControl]="busquedaCtrl"
              />
              <mat-hint align="start"
                        *ngIf="form.get('username').invalid ? form.get('username').errors.uniqueUsername : false">
                El usuario ya está registrado.
              </mat-hint>
              <button (click)="toggleDropdown()" class="-top-2" color="primary" mat-button matSuffix type="button">BUSCAR
              </button>
            </mat-form-field>
            <div [@dropdown]="dropdownOpen" class="mt-1 overflow-hidden">
              <div class="block w-full">
                <ng-multiselect-dropdown
                  [placeholder]="'Seleccione los roles'"
                  [settings]="dropdownSettings"
                  [data]="roles | async"
                  formControlName="roles"
                >
                </ng-multiselect-dropdown>
              </div>
              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Nombres</mat-label>
                <input type="text" formControlName="nombres" matInput required>
                <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                <mat-error *ngIf="form.get('nombres').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full mt-6">
                <mat-label>Apellidos</mat-label>
                <input type="text" formControlName="apellidos" matInput required>
                <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                <mat-error *ngIf="form.get('apellidos').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Tipo identificación</mat-label>
                <mat-select formControlName="idTipoIdentificacion" required (selectionChange)="setRequiredParamToNumeroIdentificacion($event.value)">
                  <mat-option *ngFor="let tipo of tiposIdentifiacion" [value]="tipo.id">
                    {{tipo.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('idTipoIdentificacion').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Número de identificación</mat-label>
                <input type="text" formControlName="cedula" matInput [required]="numeroIdentifiacionIsRequired">
                <mat-hint align="start"
                          *ngIf="form.get('cedula').invalid ? form.get('cedula').errors.uniqueNumeroArchivo : false">
                  Ya existe un paciente con este numero de identifiación.
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Identidad de género</mat-label>
                <mat-select formControlName="idIdentidadGenero" required>
                  <mat-option *ngFor="let genero of identidadGeneroList | async" [value]="genero.idGenero">{{genero.descripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('idIdentidadGenero').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Fecha de nacimiento</mat-label>
                <input formControlName="fechaNacimiento" matInput (click)="datepickerRef.open()"
                       (focus)="datepickerRef.open()" [max]="today" [matDatepicker]="datepickerRef">
                <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #datepickerRef></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Auto Identificación</mat-label>
                <mat-select formControlName="idEtnia" required>
                  <mat-option *ngFor="let gc of etnias | async"
                              [value]="gc.id">{{gc.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('idEtnia').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Formación Profesional</mat-label>
                <mat-select formControlName="idFormacionProfesional" required (selectionChange)="cargarEspecialidades()">
                  <mat-option *ngFor="let mb of formacionesProfesionales | async" [value]="mb.id">{{mb.nombre}} </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('idFormacionProfesional').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Especialidad Profesional</mat-label>
                <mat-select formControlName="idEspecialidadProfesional" required>
                  <mat-option *ngFor="let cd of especialidadesProfesionales | async" [value]="cd.id">{{cd.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('idEspecialidadProfesional').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Código MSP</mat-label>
                <input type="text" formControlName="codigoMsp" matInput required>
                <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>
                <mat-error *ngIf="form.get('codigoMsp').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Dispensario</mat-label>
                <mat-select formControlName="idDispensario" required>
                  <mat-option *ngFor="let dispensario of dispensarios | async"
                              [value]="dispensario.id">{{dispensario.unidadOperativa}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="block w-full">
                <mat-label>Área de atención</mat-label>
                <mat-select formControlName="idAreaSalud" required>
                  <mat-option *ngFor="let areaSalud of areasSalud | async"
                              [value]="areaSalud.id">{{areaSalud.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button mat-button mat-dialog-close type="button">CANCELAR</button>
          <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
          <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
          <vex-loading></vex-loading>
        </div>
      </div>
    </div>
  </form>
</div>
