$border-color: rgba(82, 63, 105, 0.12); // Equal to Material Design Outline Input Border

.vex-mail-compose-editor {
  min-height: 250px;

  .ql-toolbar.ql-snow {
    border-color: $border-color;
    @apply rounded-t;
  }

  .ql-container.ql-snow {
    border-color: $border-color;
    @apply rounded-b;
  }

  .ql-editor {
    @apply flex-auto;

    &.ql-blank::before {
      font-style: normal;
    }
  }
}

.vex-mail-compose-attachment {
  border-color: $border-color;
}
