<div
  fxLayout="row"
  class="block border-b"
  @fadeInRight
  fxLayoutAlign="start center">
  <div (click)="selectNotaEnfermeria()" [ngClass]="canClick ? ['hover:bg-hover trans-ease-out cursor-pointer'] : ['']"
       class="flex py-3 transition ease-in-out duration-200 w-full px-6">
    <div fxHide.xs class="flex-none flex flex-col ltr:pr-4 rtl:pl-4">
      <div class="w-8 h-8 rounded-full overflow-hidden mt-1 flex-none">
        <img matTooltip="{{nota.usuario.nombres}}" [src]="getUserImage(nota.usuario.idBanner)"
             class="w-full h-full object-fit"/>
      </div>
      <span class="flex-1"></span>
    </div>
    <div class="truncate w-full">
      <div class="flex items-end">
        <p
          class="flex-auto text-base leading-normal text-black">
          {{ nota.areaSalud.nombre }}
        </p>
        <p class="flex-none text-xs leading-normal text-secondary">{{ getDatetime(nota.fechaInicio)}} </p>
      </div>
      <p class="text-sm leading-normal truncate text-secondary">{{nota.dispensario.unidadOperativa}}</p>
      <div class="items-start" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <p class="text-xs font-black leading-tight mt-1 pr-1">Antropometría: </p>
        <p *ngIf="!nota.antropometria" class="text-xs text-secondary leading-tight text-wrap truncate mt-1">No se
          registraron los datos de antropometría</p>
        <div *ngIf="nota.antropometria" class="mt-1" fxLayout="row" fxLayoutGap="6px" fxLayout.xs="column">
              <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Perímetro abdominal: {{nota.antropometria.perimetroAbdominal}} cm
              </span>
          <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Peso: {{nota.antropometria.peso}} Kg
              </span>
          <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Talla: {{nota.antropometria.talla}} cm
              </span>
          <span class="text-xxs rounded px-1 bg-purple-light text-purple">
                Índice de masa corporal: {{nota.antropometria.indiceMasaCorporal}} kg/m2
              </span>
        </div>
      </div>
      <div class="items-start" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <p class="text-xs font-black leading-tight mt-1 pr-1">Signos vitales: </p>
        <p *ngIf="!nota.signoVital" class="text-xs text-secondary leading-tight text-wrap truncate mt-1">No se
          registraron signos vitales</p>
        <div *ngIf="nota.signoVital" class="mt-1" fxLayout="row" fxLayoutGap="6px" fxLayout.xs="column">
          <div fxLayout="column" fxLayoutGap="6px">
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Frecuencia cardiaca: {{nota.signoVital.frecuenciaCardiaca}} Lat/min
                </span>
            <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Presión arterial: {{nota.signoVital.presionArterial}} / {{nota.signoVital.diastole}} mmHg
                </span>
          </div>
          <div fxLayout="column" fxLayoutGap="6px">
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Frecuencia respiratoria: {{nota.signoVital.frecuenciaRespiratoria}} fr/min
                </span>
            <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Saturación de oxígeno: {{nota.signoVital.saturacionOxigeno}} O2%
                </span>
          </div>
          <div fxLayout="column" fxLayoutGap="6px">
                <span class="text-xxs rounded px-1 bg-teal-light text-teal">
                  Temperatura: {{nota.signoVital.temperatura}} °C
                </span>
            <span class="text-xxs rounded px-1 bg-teal-light text-teal" *ngIf="isFemenino()">
                  Fecha última menstruación: {{nota.signoVital.fechaUltimaMenstruacion}}
                </span>
          </div>
        </div>
      </div>

      <div class="flex items-start">
        <p class="text-xs text-secondary leading-tight text-wrap truncate mt-1"><span
          class="font-black">Preconsulta:</span> {{ nota.preConsulta | stripHtml }}</p>
        <span fxFlex></span>
        <!--            <div *ngIf="checkDeaths(litter.deaths)"-->
        <!--                 class="px-2 bg-red text-contrast-white box bg-app-bar text-secondary rounded caption ml-2 text-xxs">-->
        <!--              <span class="box-text">{{countDeaths(litter.deaths)}} Muertes</span>-->
        <!--            </div>-->
        <div class="px-2 bg-green text-contrast-white box bg-app-bar text-secondary rounded caption ml-2 text-xxs">
          <span class="box-text">{{nota.estado}}</span>
        </div>
      </div>
      <div class="flex items-start">
        <p class="text-xs text-secondary leading-tight text-wrap truncate mt-1"><span
          class="font-black">Post consulta:</span> {{ nota.postConsulta | stripHtml }}</p>
      </div>
    </div>
  </div>

</div>
