<vex-title-page
  title="Reportes en excel"
  explanation="Descarga los siguientes tipos de reportes en formato Excel.">
</vex-title-page>
<vex-loading class="flex justify-center"></vex-loading>
<div class="my-12 container pb-12"
     gdAlignColumns="start start"
     gdColumns="1fr 1fr"
     gdColumns.lt-md="1fr"
     gdGap="24px">

  <div class="card max-w-full overflow-hidden p-3">
    <mat-nav-list>
      <h3 mat-subheader>Atenciones medicas</h3>
      <a (click)="report.onClick(filtersMenuOriginRef, report)"
         *ngFor="let report of reports; trackBy: trackById"
         class="rounded overflow-hidden"
         mat-list-item>
        <mat-icon [icIcon]="report.icon" mat-list-icon></mat-icon>
        <span matLine>{{ report.label }}</span>
        <mat-icon size="20px" [icIcon]="icFilterList"></mat-icon>
        <div #filtersMenuOriginRef></div>
      </a>
    </mat-nav-list>
  </div>
</div>
