<vex-page-layout @stagger>

  <vex-secondary-toolbar current="Asociaciones">
    <vex-breadcrumbs [crumbs]="['Catálogos', 'Asociaciones']"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <vex-page-layout-content vexContainer>
    <div class="card overflow-auto w-full block" @fadeInUp fxLayout="column">
      <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="m-0 title" fxFlex="auto">Asociaciones</h2>

        <button (click)="create()" mat-icon-button type="button">
          <mat-icon [icIcon]="icAdd" class="text-secondary"></mat-icon>
        </button>
      </div>

      <table [dataSource]="dataSource" class="w-full overflow-auto" mat-table matSort>
        <!-- Model Properties Column -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="menu">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation() "
                    [matMenuTriggerData]="{ item: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <!--suppress UnnecessaryLabelJS -->
        <tr *matRowDef="let row; columns: visibleColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>

    </div>
  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-item="item" matMenuContent>
    <button (click)="update(item)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button (click)="openDeleteDialog(item)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>

