<div class="dropdown">
  <div class="dropdown-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="userData | async as user">
      <div class="dropdown-heading-icon" fxLayout="row" fxLayoutAlign="center center">
        <img [src]="getUserImage(user.id)" alt="user-image" class="avatar h-9 w-9 align-middle">
      </div>
      <div class="dropdown-heading">{{getShortName(user.nombres)}}</div>
    </div>
  </div>

  <div class="dropdown-content">
    <a (click)="close()"
       *ngFor="let item of items; trackBy: trackById"
       [routerLink]="item.route"
       class="notification"
       fxLayout="row"
       fxLayoutAlign="start center"
       matRipple>
      <mat-icon [icIcon]="item.icon"
                [ngClass]="item.colorClass"
                class="notification-icon"
                fxFlex="none"></mat-icon>
      <div fxFlex="auto">
        <div class="notification-label">{{ item.label }}</div>
        <div class="notification-description">{{ item.description }}</div>
      </div>
      <mat-icon [icIcon]="icChevronRight" class="notification-chevron" fxFlex="none"></mat-icon>
    </a>
  </div>

  <div class="dropdown-footer" fxLayout="row" fxLayoutAlign="end center">
    <a (click)="logout()" color="primary" mat-button>CERRAR SESIÓN</a>
  </div>
</div>
