<div *ngIf="saludUser" class="card">
  <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="m-0 title" fxFlex="auto">{{title}} {{saludUser.nombres}} {{year}}</h2>
    <vex-pick-year (searchEvent)="searchByYear($event)"></vex-pick-year>
    <button matTooltip="Descargar reporte excel" mat-icon-button type="button">
      <mat-icon (click)="generateReport()" [icIcon]="icCloudDownload" class="text-secondary"></mat-icon>
    </button>
  </div>

  <div class="pt-3 pb-1 pr-6">
    <vex-chart-ng *ngIf="dataFetched" [options]="options" [series]="series"></vex-chart-ng>
    <vex-loading class="flex justify-center" *ngIf="!dataFetched"></vex-loading>
  </div>
</div>
