<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<ng-container *ngIf="this.pacienteActual">
  <vex-secondary-toolbar current="Crear nueva vacuna">
    <vex-breadcrumbs [crumbs]="['Medicina general', 'Vacunación', 'Crear nueva vacuna']"
                     fxFlex="auto"></vex-breadcrumbs>
  </vex-secondary-toolbar>
  <div @stagger class="p-gutter" vexContainer>
    <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
    <span @scaleIn class="w-10 h-10 rounded-full text-primary mr-3 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icDescription" height="20px" width="20px"></ic-icon>
    </span>
      <span @fadeInRight class="block">Registro de nueva vacuna</span>
    </h2>

    <div fxLayout="column" fxLayoutGap="16px" fxLayout.gt-sm="row">
      <div fxFlex="auto" @fadeInUp class="card overflow-hidden">
        <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
          <ng-template matStepperIcon="edit">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
          </ng-template>

          <ng-template matStepperIcon="done">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
          </ng-template>

          <mat-step [stepControl]="step1FormGroup">
            <form [formGroup]="step1FormGroup">
              <ng-template matStepLabel>Vacuna</ng-template>
              <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-6">
                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Tipo de vacuna</mat-label>
                    <mat-select formControlName="idTipoVacuna" required>
                      <mat-option (click)="sharedTipoVacuna()"  *ngFor="let tipoVacuna of tipoVacuna | async"
                                  [value]="tipoVacuna.id">{{tipoVacuna.nombre}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Lote</mat-label>
                    <input type="text" formControlName="lote" matInput>
                    <mat-error *ngIf="step1FormGroup.get('lote').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <mat-label>Observación</mat-label>
                    <textarea cdkAutosizeMinRows="2"
                              formControlName="observacion"
                              matInput
                              matTextareaAutosize
                              placeholder="Agregue una observación ..."></textarea>
                    <mat-error *ngIf="step1FormGroup.get('observacion').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
                <button [disabled]="step1FormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                  SIGUIENTE
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="step2FormGroup">
            <form [formGroup]="step2FormGroup">
              <ng-template matStepLabel>Dosis</ng-template>
              <mat-tab-group class="vex-tabs">
                <mat-tab label="DOSIS">
                  <div class="py-6">
                    <vex-dosis-vacuna-table [dosisVacunas]="dosisVacuna"
                                           (returnDiagnosticos)="chargeDosisVacunas($event)">
                    </vex-dosis-vacuna-table>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
                <button (click)="createVacuna()" [disabled]="step2FormGroup.invalid" color="primary"
                        mat-raised-button
                        matStepperNext>
                  GUARDAR
                </button>
                <vex-loading></vex-loading>
              </div>

            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>

</ng-container>
