<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0"
      fxFlex="auto">Modificar grupos prioritarios del paciente</h2>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-dialog-content fxLayout="column">
  <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <mat-selection-list fxFlex="100%" [(ngModel)]="groups" [compareWith]="compareFunction">
        <mat-list-option *ngFor="let grupo of gruposPrioritarios" [value]="grupo">
          {{grupo.nombre}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">CANCELAR</button>
  <button (click)="save()" color="primary" mat-button type="submit">GUARDAR</button>
  <vex-loading></vex-loading>
</mat-dialog-actions>
