<div class="p-gutter" vexContainer>
  <div class="card">
    <div class="px-6 pt-6">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h4 class="text-secondary" fxLayout="row" fxFlex="none" fxLayoutAlign="start center">
            <span @scaleIn
                  class="w-10 h-10 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icSave" size="20px"></ic-icon>
            </span>
          <h2 @fadeInRight class="m-0 title" fxFlex="auto">Dosis</h2>
        </h4>
        <span fxFlex></span>
      </div>
    </div>
    <div class="px-6">
      <div *ngIf="this.vacuna" class="pb-4" fxLayout="row" fxLayoutAlign="start center">
        <div class="subheading-1 font-medium" fxFlex="auto"></div>

        <button  *ngIf="this.dosisSuministradas<this.vacuna.tipoVacuna.dosis.length" (click)="createDosisVacuna()" color="primary" mat-button type="button">
          <ic-icon [icon]="icAdd" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
          <span>AGREGAR DOSIS</span>
        </button>
      </div>
      <div class="pb-6 overflow-auto" fxLayout="column" fxLayoutAlign="space-between">
        <table [dataSource]="dataSource"
               class="w-full border-t"
               fxFlex="auto"
               mat-table
               matSort>

          <!-- Dosis Column -->
          <ng-container matColumnDef="dosis">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Dosis</th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{getDosis(row['dosis'])}}
            </td>
          </ng-container>

          <!-- Date Columns -->
          <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" mat-cell>{{ getFormattedDate(row[column.property]) }}</td>
            </ng-container>
          </ng-container>

          <!-- Model Properties Column -->
          <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
              <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
            </ng-container>

            <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
              <ng-container *ngIf="column.property === 'menu'">
                <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
                  <button (click)="$event.stopPropagation(); openDeleteDialog(row);"
                          mat-icon-button
                          matTooltip="Eliminar dosis"
                          type="button">
                    <mat-icon [icIcon]="icDeleteForever"></mat-icon>
                  </button>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <!--suppress UnnecessaryLabelJS -->
          <tr (click)="updateDosisVacunas(row)"
              *matRowDef="let row; columns: visibleColumns;"
              @fadeInUp
              class="hover:bg-hover cursor-pointer"
              mat-row></tr>
        </table>
      </div>

    </div>
  </div>
</div>

