<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="flex justify-between">
      <div (click)="updateAntecedentePersonal()" class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icPen" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-primary">Modificar</p>
      </div>

      <div *ngIf="isFemenino() && !antecedentePersonal.periodoGestacion && !antecedentePersonal.periodoLactancia" (click)="initializePeriodoGestacion()" class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
          <svg-icon class="block" src="assets/svgs/pregnant.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
        </div>
        <p @fadeInRight class="font-medium text-primary">Iniciar período de gestación</p>
      </div>

      <div *ngIf="isFemenino() && antecedentePersonal.periodoGestacion" (click)="finalizePeriodoGestacion()" class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
          <svg-icon class="block" src="assets/svgs/pregnant.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
        </div>
        <p @fadeInRight class="font-medium text-primary">Finalizar período de gestación</p>
      </div>

      <div *ngIf="isFemenino() && antecedentePersonal.periodoLactancia" (click)="finalizePeriodoLactancia()" class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icBaby" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-primary">Finalizar período de lactancia</p>
      </div>

    </div>

    <div @fadeInUp class="card w-full mt-6">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Información general</h2>
      </div>

      <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <div *ngIf="antecedentePersonal.periodoLactancia" class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icBaby" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">PACIENTE EN PERÍODO DE LACTANCIA</p>
            <p class="m-0 caption text-hint">Período lactancia</p>
          </div>
        </div>

        <div *ngIf="antecedentePersonal.periodoGestacion" class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icTransgenderAlt" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">PACIENTE EN PERÍODO DE GESTACIÓN <span class="font-bold">({{antecedentePersonal?.semanasGestacion}} SEMANAS)</span></p>
            <p class="m-0 caption text-hint">Período de gestación</p>
          </div>
        </div>


        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icGenderless" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{antecedentePersonal.orientacionSexual?.nombre}}</p>
            <p class="m-0 caption text-hint">Orientación sexual</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icTransgenderAlt" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{antecedentePersonal.identidadGenero?.nombre}}</p>
            <p class="m-0 caption text-hint">Identidad de género</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icAllergies" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{antecedentePersonal.poseeAlergia}}</p>
            <p class="m-0 caption text-hint">Alergias</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icClipBoardList" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1 break-words">{{antecedentePersonal.descripcionAlergia}}</p>
            <p class="m-0 caption text-hint">Descripción alergias</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
