<div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px">
  <div *ngFor="let gp of gruposPrioritarios" fxLayout="row" fxLayoutAlign="start center">
    <div @fadeInRight fxFlex="auto">
      <h4 class="body-2 m-0 leading-snug">{{ gp.grupoPrioritario.nombre}}</h4>
    </div>
  </div>
  <div (click)="manageGruposPrioritario()" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
      <ic-icon [icon]="icAdd" size="20px"></ic-icon>
    </div>

    <p @fadeInRight class="m-0 body-1 cursor-pointer">Gestionar grupos prioritarios</p>
  </div>
</div>

<div class="px-gutter py-4" *ngIf="gruposPrioritarios.length === 0" @scaleFadeIn fxLayout="column"
     fxLayoutAlign="center center">
  <img class="m-15 h-32" src="assets/img/illustrations/no_data_blue.svg">
  <p class="mt-6 body-1">No se han encontrado grupos prioritarios</p>
</div>
