<div *ngIf="loadingService.loading$ | async">
  <mat-progress-spinner diameter=30
                        mode="indeterminate"
                        color="primary">
  </mat-progress-spinner>
</div>
