<div class="pb-4" fxLayout="row" fxLayoutAlign="start center">
  <div class="subheading-1 font-medium" fxFlex="auto"></div>

  <button (click)="createDosisVacuna()" color="primary" mat-button type="button">
    <ic-icon [icon]="icAdd" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
    <span>AGREGAR DOSIS</span>
  </button>
</div>

<div class="pb-6" fxLayout="column" fxLayoutAlign="space-between">
  <table [dataSource]="dataSource"
         class="w-full border-t"
         fxFlex="auto"
         mat-table
         matSort>
    <!-- Dosis Column -->
    <ng-container matColumnDef="dosis">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Dosis</th>
      <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
        {{getDosis(row['dosis'])}}
      </td>
    </ng-container>

    <!-- Date Columns -->
    <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
        <td *matCellDef="let row" mat-cell>{{ getFormattedDate(row[column.property]) }}</td>
      </ng-container>
    </ng-container>

    <!-- Model Properties Column -->
    <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
        <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
      </ng-container>

      <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
        <ng-container *ngIf="column.property === 'menu'">
          <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
            <button (click)="$event.stopPropagation(); deleteDosisVacuna(row);"
                    mat-icon-button
                    type="button">
              <mat-icon [icIcon]="icDeleteForever"></mat-icon>
            </button>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <!--suppress UnnecessaryLabelJS -->
    <tr (click)="updateDosisVacuna(row)"
        *matRowDef="let row; columns: visibleColumns;"
        @fadeInUp
        class="hover:bg-hover cursor-pointer"
        mat-row></tr>
  </table>
</div>
