<mat-list class="max-w-full w-full pb-3">
  <div mat-subheader fxLayout="row" fxLayoutAlign="start center">
    <h2>
      <span class="text-sm font-medium pr-6">Prescripciones farmacológicas</span>
    </h2>
    <span fxFlex></span>
    <button
      matTooltip="Descargar receta médica"
      mat-icon-button type="button" (click)="downloadRecetaMedica()">
      <mat-icon [icIcon]="icDownload" size="24px"></mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="close()">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>
  <mat-list-item *ngFor="let pres of prescripciones | async">
    <p matLine>
      <span class="text-sm">{{pres.cantidad}} </span>
      <span class="text-sm">{{pres.medicamento.nombre}}</span>
      <span class="text-sm"> ({{pres.presentacion}})</span>
    </p>
    <p matLine>
      <span class="text-sm">{{pres.indicacion}}</span>
    </p>
  </mat-list-item>
  <div *ngIf="(prescripciones | async)?.length === 0" class="w-300 px-10">
    <h2 class="text-sm m-10 text-center">Sin prescripciones</h2>
  </div>
  <vex-loading class="flex justify-center"></vex-loading>
  <mat-divider></mat-divider>
  <div mat-subheader fxLayout="row" fxLayoutAlign="start center">
    <h2>
      <span class="text-sm font-medium">Prescripciones no farmacológicas</span>
    </h2>
  </div>
  <mat-list-item>
    <p matLine *ngIf="evolucion.indicacionNoFarmacologica">
      <span class="text-sm">{{evolucion.indicacionNoFarmacologica | stripHtml}}</span>
    </p>
    <p matLine *ngIf="!evolucion.indicacionNoFarmacologica">
      <span class="text-sm font-medium">No se registraron indicaciones</span>
    </p>
  </mat-list-item>
</mat-list>
