<div class="text-center py-12 header">
  <div class="text-left mx-6 card"
       gdAlignColumns="start start"
       gdColumns="1fr 1fr"
       gdColumns.lt-md="1fr"
       gdGap="16px">
    <div @fadeInUp class="max-w-full overflow-hidden px-12 py-6">
      <h1 class="display-1 mb-4 mt-3 text-center">
        Bievenidos a ESPE SALUD
      </h1>
      <img class="mx-auto my-6 h-10" src="/assets/img/espe/ESPESALUD.png">

      <h2 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Sistema Integrado de Salud de la Universidad de las Fuerzas Armadas ESPE.</h2>
      <mat-nav-list>
        <h3>Instrucciones</h3>
        <span matLine>
            <blockquote>
              <button
                (click)="selectPatient()"
                color="primary"
                mat-icon-button
                type="button">
                <mat-icon [icIcon]="icSearch"></mat-icon>
              </button>
              Para iniciar debe seleccionar un paciente. Haga click en el icono de búsqueda.
            </blockquote>
            <blockquote>
              <button
                color="primary"
                mat-icon-button
                type="button">
                <mat-icon [icIcon]="icLeft"></mat-icon>
              </button>
              Seleccione una opción en el menú de la izquierda.
            </blockquote>
        </span>
      </mat-nav-list>
    </div>

    <div @fadeInUp class="max-w-full overflow-hidden">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="/assets/img/espe/stodomingo.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="/assets/img/espe/latacunga.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="/assets/img/espe/belisario.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="/assets/img/espe/sangolqui.jpg">
        </ng-template>
      </owl-carousel-o>
<!--      <carousel [height]="450"-->
<!--                [objectFit]="'cover'"-->
<!--                [autoplay]="true"-->
<!--                [loop]="true"-->
<!--                [cellsToShow]="1"-->
<!--                [dots]="true">-->
<!--        <div class="carousel-cell">-->
<!--          <img src="/assets/img/espe/stodomingo.jpg">-->
<!--        </div>-->
<!--        <div class="carousel-cell">-->
<!--          <img src="/assets/img/espe/latacunga.jpg">-->
<!--        </div>-->
<!--        <div class="carousel-cell">-->
<!--          <img src="/assets/img/espe/belisario.jpg">-->
<!--        </div>-->
<!--        <div class="carousel-cell">-->
<!--          <img src="/assets/img/espe/sangolqui.jpg">-->
<!--        </div>-->
<!--      </carousel>-->

    </div>
  </div>
</div>
