<form (ngSubmit)="save()" [formGroup]="form">
  <div class="mb-0 body-1" mat-dialog-title>
    <div>
      <h2 class="title m-0" fxLayout="row" fxLayoutAlign="start center">
        <ic-icon [icon]="icAssignment" class="ltr:mr-1 rtl:ml-1 text-secondary" fxFlex="none" size="24px"></ic-icon>
        <span class="pl-3 title bg-card" fxFlex="auto">{{data.fecha | date:'longDate': '':'es-419' }}</span>
<!--        <input [class.empty]="!form.get('title').value"-->
<!--               class="hidden-input title bg-card"-->
<!--               formControlName="title"-->
<!--               fxFlex="auto">-->
        <button cdkFocusInitial class="text-secondary" mat-dialog-close mat-icon-button type="button">
          <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
      </h2>

      <div class="body-2 text-secondary-default ltr:ml-10 rtl:mr-10" fxLayout="row" fxLayoutAlign="start center">
        <span>{{ data?.origen }}</span>
<!--        <div class="w-1 h-1 mx-2 bg-gray rounded-full"></div>-->
      </div>
    </div>

    <div class="mt-3 ltr:ml-10 rtl:mr-10" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="members" fxFlex="none">
        <div class="body-2 text-secondary">SOLICITADO POR</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <img [matTooltip]="data.usuario.nombres + data.usuario.apellidos"
               [src]="getUserImage(data.usuario.idBanner)"
               class="avatar cursor-pointer"
               fxFlex="none">
        </div>
      </div>

      <div class="labels max-w-full" fxFlex="none">
        <div class="body-2 text-secondary">ESTADO</div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="4px">
        <span fxFlex="none" class="label px-2 box bg-app-bar text-secondary rounded caption text-xxs"
              [ngClass]="getLabStateColor(data.estado)" fxLayoutAlign="center center">
          {{data.estado}}
        </span>
        </div>
      </div>
    </div>

    <mat-divider class="-mx-6 mt-6"></mat-divider>
  </div>

  <mat-dialog-content class="pb-6 content">

    <h2 class="body-2 font-medium m-0 mt-6 text-secondary" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icMicroscope" class="ltr:mr-4 rtl:ml-4" fxFlex="none" size="24px"></ic-icon>
      <span>EXAMENES SOLICITADOS</span>
    </h2>

    <div class="ltr:ml-6 rtl:mr-6 mt-3">
      <mat-list formArrayName="examenes">
        <ng-container [formGroupName]="i" *ngFor="let examenGroup of getExamenesArray(form); let i = index;">
          <div mat-subheader>{{i + 1}}. {{examenGroup.get('examen').value['nombre']}}</div>

          <ng-container formArrayName="detalles">
            <mat-list-item [formGroupName]="j" *ngFor="let detalleGroup of getDetallesArray(examenGroup); let j = index;" >
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0" mat-line>
                <mat-form-field appearance="outline" fxFlex="auto">
                  <mat-label>{{detalleGroup.get('detalle').value['nombre']}}</mat-label>
                  <input formControlName="valor" matInput type="text">
                  <span class="px-5" matSuffix>{{detalleGroup.get('detalle').value['unidad']}}</span>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="auto">
                  <mat-label>Observación</mat-label>
                  <input formControlName="observacion" matInput type="text">
                </mat-form-field>
              </div>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>

<!--  <pre> {{form.value | json}} </pre>-->
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button
            color="primary" mat-raised-button type="submit">GUARDAR</button>
  </mat-dialog-actions>
</form>


<!--<mat-menu #attachmentMenu="matMenu">-->
<!--  <ng-template let-attachment="attachment" matMenuContent>-->
<!--    <button (click)="makeCover(attachment)" mat-menu-item>-->
<!--      <mat-icon [icIcon]="icImage"></mat-icon>-->
<!--      <span>Make Cover</span>-->
<!--    </button>-->

<!--    <button (click)="remove(attachment)" mat-menu-item>-->
<!--      <mat-icon [icIcon]="icDelete"></mat-icon>-->
<!--      <span>Remove</span>-->
<!--    </button>-->
<!--  </ng-template>-->
<!--</mat-menu>-->
