<div class="card overflow-auto" fxLayout="row" fxLayout.lt-md="column">
  <div class="p-gutter" fxFlex="300px" fxFlex.lt-md="auto">
    <vex-loading></vex-loading>
    <p class="caption" *ngIf="usuarioSalud | async as user">{{user.nombre}}</p>
  </div>
</div>

