<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar Dispensario</h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo Dispensario
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>


  <mat-dialog-content class="mt-6">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Nombre de la institución</mat-label>
          <input type="text" required formControlName="institucionSistema" matInput>
          <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('institucionSistema').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Unidad operativa</mat-label>
          <input type="text" required formControlName="unidadOperativa" matInput>
          <mat-icon [icIcon]="icCollege" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('unidadOperativa').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>UniCódigo</mat-label>
          <input type="text" required formControlName="uniCodigo" matInput>
          <mat-icon [icIcon]="icSecuridad" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('uniCodigo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Nombre de la imagen</mat-label>
          <mat-select formControlName="nombreImagen" required>
            <mat-option *ngFor="let dosis of nameDispensario$ | async" [value]="dosis">
              {{dosis}}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icIdEspe" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Correo</mat-label>
          <input type="text" required formControlName="correo" matInput>
          <mat-icon [icIcon]="icMail" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('correo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Teléfono</mat-label>
          <input type="text" required formControlName="telefono" matInput>
          <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('telefono').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fax</mat-label>
          <input type="text" required formControlName="fax" matInput>
          <mat-icon [icIcon]="icMobile" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('fax').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="provincia" required>
            <mat-option (onSelectionChange)="searchCantonesContacto(pr.idProvincia)" *ngFor="let pr of provincias" [value]="pr.descripcion">{{pr.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Cantón</mat-label>
          <mat-select formControlName="canton" required>
            <mat-option *ngFor="let can of cantonesContacto"
                        [value]="can.descripcion">{{can.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Dirección</mat-label>
          <input type="text" required formControlName="direccion" matInput>
          <mat-icon [icIcon]="icAddress" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('direccion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Campus</mat-label>
          <input type="text" required formControlName="campus" matInput>
          <mat-icon [icIcon]="icCap" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('campus').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="this.form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      GUARDAR
    </button>
    <button [disabled]="this.form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR
    </button>
  </mat-dialog-actions>
</form>
