<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

  <h2 class="headline m-0"
      fxFlex="auto">Ha ocurrido un error</h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content fxLayoutAlign="center">
  <div class="flex flex-col sm:flex-row">
    <div class="mt-6">
      <div>
        <p>
          <span class="font-bold">Razon:</span> {{data.reason}}
        </p>
        <p>
          <span class="font-bold">Código:</span> {{data.status}}
        </p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button color="primary" mat-dialog-close mat-button type="button">ACEPTAR</button>
</mat-dialog-actions>
