<div *ngIf="this.paciente.esEmpleado && this.paciente.empleado.id"
     @scaleFadeIn
     fxFlex="auto"
     fxLayout="column"
     fxLayoutAlign="center center">
  <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
  <h2 class="headline m-0 text-center">Aún no se han registrado datos</h2>
  <button (click)="registrarEmpleado()" class="rounded-full mx-auto mt-6 px-6 pb-1" color="primary" mat-raised-button type="button">
    <ic-icon [icon]="icUserCheck"
             class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2"
             inline="true"
             size="16px"></ic-icon>
    <span>Registrar datos del empleado</span>
  </button>
</div>

<vex-info-empleado *ngIf="this.paciente.esEmpleado && !this.paciente.empleado.id"></vex-info-empleado>
