<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <img *ngIf="data.personaBanner.id_banner" [src]="getUserImage(data.personaBanner.id_banner)" class="avatar mr-5">

    <h2 *ngIf="data"
        class="headline m-0"
        fxFlex="auto">{{ data.personaBanner.nombres}} {{ data.personaBanner.apellidos}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column">
      <div class="overflow-y-auto" fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Tipo identificación</mat-label>
          <mat-select disabled formControlName="idTipoIdentificacion" required>
            <mat-option *ngFor="let tipo of tiposIdentifiacion" [value]="tipo.id">
              {{tipo.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('idTipoIdentificacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Número de identificación</mat-label>
          <input formControlName="numeroIdentificacion" matInput required>
          <mat-error *ngIf="form.get('numeroIdentificacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Lateralidad</mat-label>
          <mat-select formControlName="lateralidad" required>
            <mat-option
              *ngFor="let lateralidad of lateralidades"
              [value]="lateralidad.value">
              {{lateralidad.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('lateralidad').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Dispensario</mat-label>
          <mat-select formControlName="idDispensario" required>
            <mat-option *ngFor="let dispensario of dispensarios | async"
                        [value]="dispensario.id">{{dispensario.unidadOperativa}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('idDispensario').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Seguro salud</mat-label>
          <mat-select formControlName="idSeguroSalud" required>
            <mat-option *ngFor="let seguroSalud of segurosSalud | async"
                        [value]="seguroSalud.id">{{seguroSalud.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('idSeguroSalud').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Asociación</mat-label>
          <mat-select formControlName="idAsociacionAfiliada" required>
            <mat-option *ngFor="let asociacion of asosiaciones | async"
                        [value]="asociacion.id">{{asociacion.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('idAsociacionAfiliada').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Relación con la ESPE</mat-label>
          <mat-select formControlName="idVinculadoEspe" required>
            <mat-option *ngFor="let relacion of relacionesEspe | async" [value]="relacion.id">{{relacion.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('idVinculadoEspe').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Instrucción</mat-label>
          <mat-select formControlName="idInstruccion" required>
            <mat-option *ngFor="let instruccion of instrucciones | async" [value]="instruccion.id">{{instruccion.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('idInstruccion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <div class="-mt-6" fxLayout="row" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutGap="16px"  fxLayoutAlign="center start">
          <mat-checkbox [checked]="false" formControlName="aceptaTransfucion" color="primary">
            Acepta transfusiones
          </mat-checkbox>
          <mat-checkbox [checked]="false" formControlName="esEstudiante" color="primary">
            Es estudiante
          </mat-checkbox>
          <mat-checkbox [checked]="false" formControlName="esEmpleado" color="primary">
            Es empleado
          </mat-checkbox>
        </div>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Grupos prioritarios</mat-label>
          <mat-select formControlName="gruposPrioritarios" multiple>
            <mat-option *ngFor="let grupoPrioritario of gruposPrioritarios | async"
                        [value]="grupoPrioritario">{{ grupoPrioritario.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      GUARDAR
    </button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR
    </button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
