<div class="overflow-hidden bg-card ml-2"
     fxFlex="none"
     fxHide.xs
     fxLayout="row"
     fxLayoutAlign="start center">
  <ic-icon [icon]="icSearch" class="ml-4 mr-3" size="18px"></ic-icon>
  <input [formControl]="searchCtrl"
         class="outline-none border-0 h-10 placeholder:text-secondary body-1 bg-card"
         fxFlex="50%"
         maxlength="4"
         placeholder="Año..."
         type="text">
</div>
