<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar consumo nocivo</h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">Nuevo consumo nocivo</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayoutAlign="center" class="block mt-3 mb-6 w-full">
      <mat-radio-group
        required
        class="ml-6"
        fxLayoutGap="16px"
        formControlName="tipoConsumidor"
        (change)="toggleDropdown($event)">
        <mat-radio-button *ngFor="let option of tiposConsumidor" [value]="option.title">
          {{option.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Consumo nocivo</mat-label>
          <input [formControl]="nombreConsumoNocivo" formControlName="nombreConsumoNocivo" [matAutocomplete]="autoConsumoNocivo"
                 matInput required>
          <mat-autocomplete autoActiveFirstOption #autoConsumoNocivo="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let consumo of filteredConsumosNocivos$ | async" [value]="consumo">
              <span class="body-1">{{consumo.nombre}}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="nombreConsumoNocivo.reset()" *ngIf="nombreConsumoNocivo.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!nombreConsumoNocivo.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-icon [icIcon]="icCannabis" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('nombreConsumoNocivo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Frecuencia de consumo</mat-label>
          <mat-select formControlName="frecuenciaConsumo" required>
            <mat-option *ngFor="let frecuency of listFrecuency" [value]="frecuency">{{frecuency}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icChart" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('frecuenciaConsumo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isConsumidor()" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha tentativa inicio</mat-label>
          <input [matDatepicker]="datepicker1"
                 formControlName="fechaTentativaInicio"
                 (click)="datepicker1.open()"
                 (focus)="datepicker1.open()"
                 [max]="today" matInput  (ngModelChange)="calcularTiempoConsumo()">
          <mat-datepicker-toggle [for]="datepicker1" class="block" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepicker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="!isConsumidor()" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha fin de consumo</mat-label>
          <input [matDatepicker]="datepicker1"
                 formControlName="fechaFinConsumo"
                 (click)="datepicker1.open()"
                 (focus)="datepicker1.open()"
                 [max]="today" matInput  (ngModelChange)="calcularTiempoExConsumidor()">
          <mat-datepicker-toggle [for]="datepicker1" class="block" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepicker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Cantidad</mat-label>
          <input type="text" formControlName="cantidadConsumo" matInput required>
          <mat-icon [icIcon]="icFormatListNumbered" class="mr-3" matPrefix></mat-icon>
          <span class="px-5" matSuffix>texto</span>
          <mat-error *ngIf="form.get('cantidadConsumo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Tiempo de consumo</mat-label>
          <input type="number" formControlName="tiempoConsumoMes" matInput>
          <mat-icon [icIcon]="icAccessTime" class="mr-3" matPrefix></mat-icon>
          <span class="px-5" matSuffix>meses</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Tiempo de abstinencia</mat-label>
          <input type="number" formControlName="tiempoAbstinenciaMes" matInput>
          <mat-icon [icIcon]="icAccessTime" class="mr-3" matPrefix></mat-icon>
          <span class="px-5" matSuffix>meses</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Observaciones</mat-label>
          <textarea rows="3" formControlName="observacion" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
