<a [routerLink]="['./', collection?.titulo]"
   class="flex w-full transition ease-in-out duration-200">
  <div class="flex-none flex flex-col ltr:pr-4 rtl:pl-4">
    <div class="py-12 px-16 rounded-full overflow-hidden mt-1 flex-none">
      <mat-icon color="gray" [fontIcon]="collection?.icono" class="icon-size" fontSet="fa"></mat-icon>
    </div>
  </div>

  <div class="truncate w-full pt-6">
    <div class="flex items-start">
      <p class="flex-none text-base leading-normal text-secondary-default font-semibold text-black">{{ collection?.titulo }}</p>
    </div>
    <div class="flex items-start">
      <p class="text-sm leading-normal truncate text-secondary-default">{{ collection?.slug }}</p>
    </div>
    <div class="flex items-start pt-3">
      <div class="w-8 h-8 rounded-full overflow-hidden mt-1 flex-none">
        <img [src]="getUserImage(collection.creadoPor.idBanner)" class="w-full h-full object-fit"/>
      </div>
      <div class="flex flex-col p-1 justify-start items-start">
        <p class="flex-none text-xs leading-normal text-secondary-default">
          <span class="text-xs rounded font-medium">95 </span>
          <span class="text-xs rounded font-normal">artículos en esta colección.</span>
        </p>
        <p class="flex-none text-xs leading-normal text-secondary-default">
          <span class="text-xs rounded font-normal">Creado por: </span>
          <span class="text-xs rounded font-medium">{{collection.creadoPor.nombres + ' ' + collection.creadoPor.apellidos}}</span>
        </p>
      </div>
<!--      <p-->
<!--        class="flex-auto text-base leading-normal text-black">-->
<!--        {{ evolucion.motivoAtencion.nombre }}-->
<!--        <span class="text-xxs rounded px-1"-->
<!--              [ngClass]="getTipoConsultaColors(evolucion.tipoConsulta)">-->
<!--                {{evolucion.tipoConsulta}}-->
<!--              </span>-->
<!--      </p>-->
<!--      <p class="text-xs text-secondary leading-tight truncate mt-1">{{ mail?.body | stripHtml }}</p>-->
    </div>
  </div>
</a>
