<div (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     [class.collapsed]="collapsed"
     [class.open]="collapsed && collapsedOpen$ | async"
     class="sidenav sidenav-background flex flex-col">
  <div class="sidenav-toolbar flex-none flex items-center">
    <img [src]="imageUrl$ | async" class="w-24 select-none flex-none">
    <h2 class="red-title title ltr:pl-4 rtl:pr-4 select-none flex-auto">{{ title$ | async }}</h2>
    <button (click)="toggleCollapse()"
            *ngIf="showCollapsePin$ | async"
            class="w-8 h-8 -mr-2 leading-none flex-none hidden lg:block"
            mat-icon-button
            type="button">
      <mat-icon *ngIf="!collapsed" [icIcon]="icThumbtack" size="14px"></mat-icon>
      <mat-icon *ngIf="collapsed" [icIcon]="icRadioButtonUnchecked" size="14px"></mat-icon>
    </button>
  </div>

  <vex-scrollbar class="flex-auto">
    <div class="sidenav-items" *ngIf="(patient | async) as paciente">
      <div class="border-b -mt-6" *ngIf="!(isDesktop$ | async)"></div>
      <div class="flex justify-center border-b" *ngIf="!(isDesktop$ | async)">
        <div (click)="buscarPaciente()"
             class="item text-center py-3"
             fxLayout="row"
             matRipple>
          <span fxFlex="none">{{paciente.primerNombre + ' ' + paciente.apellidoPaterno}}</span>
          <mat-icon [icIcon]="icArrowDropDown" class="item-dropdown-icon" fxFlex="none"></mat-icon>
        </div>
      </div>
      <div>
        <vex-sidenav-item *ngFor="let item of items; trackBy: trackByRoute"
        [item]="item"
        [level]="0"></vex-sidenav-item>
      </div>
    </div>
    <div class="sidenav-items" *ngIf="!(patient | async)">
      <div class="border-b -mt-6" *ngIf="!(isDesktop$ | async)"></div>
      <div class="flex justify-center border-b" *ngIf="!(isDesktop$ | async)">
        <div (click)="buscarPaciente()"
             class="item text-center py-3"
             fxLayout="row"
             matRipple>
          <span fxFlex="none">Seleccione un paciente</span>
          <mat-icon [icIcon]="icArrowDropDown" class="item-dropdown-icon" fxFlex="none"></mat-icon>
        </div>
      </div>
      <div>
        <vex-sidenav-item *ngFor="let item of items; trackBy: trackByRoute"
                          [item]="item"
                          [level]="0"></vex-sidenav-item>
      </div>
    </div>
  </vex-scrollbar>
</div>
