<div class="w-full p-gutter text-center">
  <img class="w-full max-w-lg mx-auto mb-6" src="assets/img/illustrations/forbbiden.svg">

  <h1 class="display-3 font-medium m-0">403</h1>
  <h2 class="title m-0 mt-3 max-w-lg mx-auto">Lo sentimos no tienes permisos para acceder a este recurso.</h2>

  <button (click)="gotToHome()" color="primary" class="mt-6 flex-auto" mat-raised-button type="button">
    <ic-icon [icon]="icHome" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
    <span>REGRESAR AL INICIO</span>
  </button>
</div>
