<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto">
      Actualizar actividad física
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto">
      Nueva actividad física
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Nombre de la actividad</mat-label>
      <input formControlName="nombreActividad" required matInput/>
      <mat-icon [icIcon]="running" class="mr-3" matPrefix></mat-icon>
      <mat-error *ngIf="form.get('nombreActividad').hasError('required')">{{errorMessages.required}}</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Frecuencia</mat-label>
      <mat-select formControlName="frecuencia" required>
        <mat-option *ngFor="let choise of listChoise" [value]="choise">{{
          choise
          }}</mat-option>
      </mat-select>
      <mat-icon [icIcon]="calendar" class="mr-3" matPrefix></mat-icon>
      <mat-error *ngIf="form.get('frecuencia').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Tiempo empleado</mat-label>
      <input type="number"
             formControlName="tiempoHoras"
             required
             matInput/>
      <mat-icon [icIcon]="stopwatch" class="mr-3" matPrefix></mat-icon>
      <span class="px-5" matSuffix>horas</span>
      <mat-error *ngIf="form.get('tiempoHoras').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="block w-full">
        <mat-label>Observación</mat-label>
        <textarea #lengthObservacion rows="5" formControlName="observacion" maxlength="255" matInput></textarea>
      <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
