<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar antecedente quirúrgico
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo antecedente quirúrgico
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico prequirúrgico</mat-label>
          <input [formControl]="diagnosticoCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let codigoCie of filteredCodigosCie | async" [value]="codigoCie">
              <span class="body-1">{{ codigoCie.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{ codigoCie.nombre }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="diagnosticoCtrl.reset()" *ngIf="diagnosticoCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!diagnosticoCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('idDiagnosticoPreQuirurgico').hasError('required')">{{errorMessages.required}}</mat-error>
          <mat-error *ngIf="diagnosticoCtrl.hasError('forbiddenObject')">{{errorMessages.forbiddenObject}}</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Procedimiento quirúrgico</mat-label>
          <input formControlName="procedimientoQuirurgico" matInput required>
          <mat-icon [icIcon]="icHealing" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('procedimientoQuirurgico').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Fecha de procedimiento</mat-label>
          <input required [matDatepicker]="datepickerRef" (click)="datepickerRef.open()" (focus)="datepickerRef.open()"
                 [max]="maxDate" formControlName="fechaProcedimiento"
                 matInput/>
          <mat-datepicker-toggle
            [for]="datepickerRef"
            class="block"
            matPrefix
          ></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-error *ngIf="form.get('fechaProcedimiento').hasError('required')">{{errorMessages.required}}</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Secuelas</mat-label>
          <textarea rows="5" formControlName="secuelas" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
