<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div>Consentimiento Informado</div>
  <span fxFlex></span>
  <button [matTooltip]="definitionConInf"
          class="text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button">
    <mat-icon [icIcon]="icHelp" height="18px" width="18px"></mat-icon>
  </button>
  <button type="button" mat-icon-button (click)="close(null)" tabindex="-1">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p class="pb-6">{{message}}</p>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button (click)="close('no')">RECHAZAR</button>
  <button mat-raised-button color="primary" (click)="close('si')">ACEPTAR</button>
</mat-dialog-actions>
