<div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px">
  <div @fadeInRight fxFlex="auto">
    <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
      <div @scaleIn
           class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="icFileMedical" size="20px"></ic-icon>
      </div>
      <div @fadeInRight>
        <p class="m-0 body-1">{{paciente.numeroArchivo}}</p>
        <p class="m-0 caption text-hint">Número de archivo</p>
      </div>
    </div>

    <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
      <div @scaleIn
           class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="icConsultorio" size="20px"></ic-icon>
      </div>
      <div @fadeInRight *ngIf="dispensario">
        <p class="m-0 body-1">{{dispensario.unidadOperativa}}</p>
        <p class="m-0 caption text-hint">Dispensario</p>
      </div>
    </div>

    <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
      <div @scaleIn
           class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="icActivo" size="20px"></ic-icon>
      </div>
      <div @fadeInRight>
        <p class="m-0 body-1">{{paciente.tipoPaciente}}</p>
        <p class="m-0 caption text-hint">Tipo de paciente</p>
      </div>
    </div>

    <div *ngIf="paciente.tipoPaciente === tipoPaciente.INTERNO" class="py-3" fxLayout="row" fxLayoutAlign="start center">
      <div @scaleIn
           class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="icActivo" size="20px"></ic-icon>
      </div>
      <div @fadeInRight>
        <p class="m-0 body-1">{{paciente.status}}</p>
        <p class="m-0 caption text-hint">Estatus banner</p>
      </div>
    </div>

    <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
      <div @scaleIn
           class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="icActivo" size="20px"></ic-icon>
      </div>
      <div @fadeInRight>
        <p class="m-0 body-1">{{paciente.activo ? 'SI' : 'NO'}}</p>
        <p class="m-0 caption text-hint">Activo</p>
      </div>
    </div>
  </div>
</div>
