<mat-list class="max-w-full w-full pb-3">
  <div mat-subheader fxLayout="row" fxLayoutAlign="start center">
    <h2>
      <span class="text-sm font-medium">Dosis</span>
    </h2>

    <span fxFlex></span>

    <button mat-icon-button type="button" (click)="close()">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let dos of dosisVacuna | async">
    <p matLine>
      <span class="text-sm">{{dos.dosis.nombre}} -- </span>
      <span class="text-sm">{{dos.fecha}}</span>
    </p>
    <p matLine>
      <span class="text-xxs">Fecha próxima vacuna: {{dos.fechaSiguienteDosis}}</span>
    </p>
    <p matLine>
      <span class="font-black text-xxs">Responsable: </span>
      <span class="text-xxs">{{dos.responsable}}, </span>
      <span class="font-black text-xxs">Establecimiento: </span>
      <span class="text-xxs">{{dos.establecimiento}}, </span>
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
  <vex-loading></vex-loading>
  <div *ngIf="(dosisVacuna | async)?.length === 0" class="w-300 px-10">
    <h2 class="text-sm m-10 text-center">No existen dosis</h2>
  </div>
</mat-list>
