<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar dosis</h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nueva dosis
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>


  <mat-dialog-content class="mt-6">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Dosis</mat-label>
          <mat-select formControlName="idDosis" required>
            <mat-option *ngFor="let dosis of filteredDosis$ | async" [value]="dosis.id">
              {{ dosis.nombre }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icPills" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Responsable</mat-label>
          <input type="text" required formControlName="responsable" matInput>
          <mat-error *ngIf="form.get('responsable').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Establecimiento</mat-label>
          <input type="text" required formControlName="establecimiento" matInput>
          <mat-error *ngIf="form.get('establecimiento').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha de aplicación de dosis</mat-label>
          <mat-datepicker-toggle [for]="datepickerRef" class="block" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <input [matDatepicker]="datepickerRef" (click)="datepickerRef.open()" (focus)="datepickerRef.open()"
                 formControlName="fecha" required matInput>
          <mat-error *ngIf="form.get('fecha').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha de la siguente dosis</mat-label>
          <input formControlName="fechaSiguienteDosis" matInput (click)="picker.open()" (focus)="picker.open()"
                 [matDatepicker]="picker"/>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('fechaSiguienteDosis').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="this.form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      GUARDAR
    </button>
    <button [disabled]="this.form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR
    </button>
  </mat-dialog-actions>
</form>
