<div class="px-6">
  <div class="card overflow-auto mt-6" fxLayout="column">
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
        <span *ngIf="selection.isEmpty()">Procedimientos</span>
        <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
          <span *ngIf="selection.selected.length === 1">procediiento</span>
        <span *ngIf="selection.selected.length > 1">procedimeintos seleccionados</span><span *ngIf="selection.selected.length == 1"> seleccionado</span></span>
      </h2>
      <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
        <button (click)="startDeleteProcedimiento(selection.selected)"
                color="primary"
                mat-icon-button
                matTooltip="Eliminar seleccionados"
                type="button">
          <mat-icon [icIcon]="icDelete"></mat-icon>
        </button>
      </div>
      <div class="bg-card rounded-full border px-4"
           fxFlex="80%"
           fxFlex.lt-md="auto"
           fxHide.xs
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-3 border-0 outline-none w-full bg-transparent"
               placeholder="Buscar..."
               type="search">
      </div>
      <span fxFlex></span>

      <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
        <mat-icon [icIcon]="icSearch"></mat-icon>
      </button>


      <button [matMenuTriggerFor]="columnFilterMenu"
              class="ml-4"
              fxFlex="none"
              mat-icon-button
              matTooltip="Filtrar Columnas"
              type="button">

        <mat-icon [icIcon]="icFilterList"></mat-icon>
      </button>

      <button (click)="createProcedimiento()"
              class="ml-4"
              color="primary"
              fxFlex="none"
              mat-mini-fab
              matTooltip="Agregar procedimiento"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>
    </div>

    <table @stagger [dataSource]="dataSource" fxFlex="auto" class="w-full" mat-table matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" class="w-4" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="selection.isSelected(row)"
                        color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Text Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
        </ng-container>

      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="menu">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
          <button (click)="$event.stopPropagation() "
                  [matMenuTriggerData]="{ procedimiento: row }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr (click)="updateProcedimiento(row)"
          *matRowDef="let row; columns: visibleColumns;"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row></tr>
    </table>

    <div *ngIf="dataSource.filteredData.length === 0"
         @scaleFadeIn
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
      <h3 class="headline m-0 text-center">Aún no se han ingresado registros</h3>
    </div>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
  </div>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
          class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-procedimiento="procedimiento" matMenuContent>
    <button (click)="updateProcedimiento(procedimiento)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button (click)="startDeleteProcedimiento(null, procedimiento)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
