<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div>ALERTA</div>
    <button type="button" mat-icon-button (click)="close('No answer')" tabindex="-1">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content>
    <p>{{message}}</p>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button (click)="close('no')">NO</button>
    <button mat-raised-button color="primary" (click)="close('si')">SI</button>
</mat-dialog-actions>
