<div #originRef
     (click)="showPopover(originRef)"
     [class.bg-hover]="dropdownOpen"
     class="flex items-center rounded cursor-pointer relative trans-ease-out select-none py-1 pr-1 pl-3 hover:bg-hover"
     matRipple>
  <div class="row" *ngIf="userData | async as user">
    <div fxFlex="auto" class="body-1 font-medium leading-snug ltr:mr-3 rtl:ml-3 mt-2" fxHide.xs>
      {{user.nombres}}
    </div>
    <div fxFlex="none" class="rounded-full h-9 w-9 flex items-center justify-center text-primary bg-primary-light">
      <img [src]="user.urlFoto" alt="user-image" class="avatar h-9 w-9 align-middle">
    </div>
  </div>
</div>
