<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar ant. patológico personal
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo ant. patológico personal
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Tipo de enfermedad personal</mat-label>
          <mat-select formControlName="idTipoEnfermedadPersonal" required>
            <mat-option *ngFor="let enfermedad of tiposEnfermedadPersonal | async" [value]="enfermedad.id">
              {{ enfermedad.nombre }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('idTipoEnfermedadPersonal').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico</mat-label>
          <input [formControl]="diagnosticoCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let codigoCie of filteredCodigosCie | async" [value]="codigoCie">
              <span class="body-1">{{ codigoCie.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{ codigoCie.nombre }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="diagnosticoCtrl.reset()" *ngIf="diagnosticoCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!diagnosticoCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="diagnosticoCtrl.hasError('required')">{{errorMessages.required}}</mat-error>
          <mat-error *ngIf="diagnosticoCtrl.hasError('forbiddenObject')">{{errorMessages.forbiddenObject}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Fecha de diagnóstico</mat-label>
          <input [matDatepicker]="datepickerRef" (click)="datepickerRef.open()" (focus)="datepickerRef.open()"
                 [max]="maxDate" formControlName="fechaDiagnostico"
                 matInput required/>
          <mat-datepicker-toggle
            [for]="datepickerRef"
            class="block"
            matPrefix
          ></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-error *ngIf="form.get('fechaDiagnostico').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Toma medicación</mat-label>
          <mat-select formControlName="frecuenciaMedicacion" required>
            <mat-option *ngFor="let frecuencia of frecuenciaMedicacion" [value]="frecuencia">
              {{frecuencia}}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('frecuenciaMedicacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>


        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign="center">
          <mat-checkbox [checked]="false" formControlName="esEnfermedadCatastrofica" color="primary">
            ¿Es enfermedad catastrófica?
          </mat-checkbox>
        </div>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Observaciones</mat-label>
          <textarea #lengthObservacion rows="3" formControlName="observaciones" maxlength="255" matInput></textarea>
          <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>


