<div class="card">
  <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="m-0 title" fxFlex="auto">Porcentaje de pacientes por dispensario</h2>
  </div>

  <div class="pt-3 pb-1 pr-6">
    <vex-chart-ng [options]="options" [series]="series"></vex-chart-ng>
  </div>
</div>
