<div class="mt-6 flex flex-col">
  <div class="flex-auto">
    <vex-planificacion-familiar></vex-planificacion-familiar>
    <vex-examen-sexual></vex-examen-sexual>
    <vex-antecedente-ginecologico *ngIf="isFemenino()"></vex-antecedente-ginecologico>
  </div>
</div>
