<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar control de embarazo</h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">Nuevo control de embarazo</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayoutAlign="center" class="block mt-3 mb-6 w-full">
      <mat-radio-group
        required
        class="ml-6"
        fxLayoutGap="16px"
        formControlName="tipoControlEmbarazo"
        (change)="toggleDropdown($event.value)">
        <mat-radio-button *ngFor="let option of tiposControlEmbarazo" [value]="option.title">
          {{option.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">

        <mat-form-field *ngIf="gestacion" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha última menstruación</mat-label>
          <input (ngModelChange)="calculateSemanas()" formControlName="fechaUltimaMenstruacion" matInput [max]="maxDate" (click)="datepickerRef3.open()"
                 (focus)="datepickerRef3.open()" [matDatepicker]="datepickerRef3"/>
          <mat-datepicker-toggle [for]="datepickerRef3" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef3></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="gestacion" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha probable de parto</mat-label>
          <input (ngModelChange)="calculateDiasFaltantes()" formControlName="fechaProbableParto" matInput (click)="datepickerRef1.open()"
                 (focus)="datepickerRef1.open()" [matDatepicker]="datepickerRef1">
          <mat-datepicker-toggle [for]="datepickerRef1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef1></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="gestacion" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Semanas de Embarazo</mat-label>
          <input formControlName="semanasEmbarazo" matInput>
          <mat-icon [icIcon]="icDoneAll" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field *ngIf="gestacion" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Días faltantes de embarazo</mat-label>
          <input formControlName="diasFaltantesEmbarazo" matInput>
          <mat-icon [icIcon]="icBabyCarriage" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field *ngIf="lactancia" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha de inicio lactancia</mat-label>
          <input formControlName="fechaInicioLactancia" matInput (click)="datepickerRef.open()"
                 (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef">
          <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-hint>Fecha del parto</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="lactancia" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha fin de lactancia</mat-label>
          <input formControlName="fechaFinLactancia" matInput (click)="datepickerRef2.open()"
                 (focus)="datepickerRef2.open()" [matDatepicker]="datepickerRef2">
          <mat-datepicker-toggle [for]="datepickerRef2" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%"
                        fxFlex.sm="100%">
          <mat-label>Observación</mat-label>
          <textarea formControlName="observacion"
                    matInput
                    maxlength="255"
                    #lengthObservacion
                    rows="5"></textarea>
          <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
