<div class="card overflow-hidden">
  <div (click)="openUsuario.emit(usuario)"
       class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative"
       matRipple>
    <img class="avatar h-24 w-24 mx-auto"
         [src]="getUserImage(usuario.idBanner)">
    <h2 class="title mb-1 mt-3">{{ usuario.nombres }} {{ usuario.apellidos }}</h2>
    <div class="body-2 text-secondary-default">
      <ic-icon [icon]="icIdCard" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
      <span>{{ usuario.correoInstitucional }}</span>
    </div>

    <div class="body-2 text-secondary-default">
      <ic-icon [icon]="icPhone" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
      <span>{{ usuario.dispensario.telefono }}</span>
    </div>

    <button class="absolute top-2 right-2" mat-icon-button type="button">
      <mat-icon matTooltip="Activo" *ngIf="usuario.activo" [icIcon]="icActive" class="text-primary"></mat-icon>
      <mat-icon matTooltip="Inactivo" *ngIf="!usuario.activo" [icIcon]="icInactive" class="text-danger-default"></mat-icon>
    </button>
  </div>

  <div class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">
    <a class="text-secondary" matTooltip="Llamar" href="tel:{{usuario.dispensario.telefono}}" mat-icon-button type="button">
      <mat-icon [icIcon]="icPhone"></mat-icon>
    </a>

    <button (click)="sendMail()" matTooltip="Enviar correo" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMail"></mat-icon>
    </button>

    <button *ngIf="usuario.activo" (click)="disableUser()" matTooltip="Desactivar usuario" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icInactive"></mat-icon>
    </button>

    <button *ngIf="!usuario.activo" (click)="enableUser()" matTooltip="Activar usuario" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icActive"></mat-icon>
    </button>
  </div>
</div>
