<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Agregar nota de postconsulta</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">
    <div class="row">
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>Nota de postconsulta</mat-label>
        <textarea rows="5" formControlName="postConsulta" required matInput></textarea>
        <mat-error *ngIf="form.get('postConsulta').hasError('required')">{{errorMessages.required}}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
