<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<vex-page-layout mode="card" [ngStyle]="{'display': this.pacienteActual ? 'block' : 'none' }">
  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Odontograma</h1>
        <vex-breadcrumbs [crumbs]="['Medicina general', 'Odontología']"></vex-breadcrumbs>
      </div>

    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                           [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
    
    <div class="mt-6 flex flex-col md:flex-row md:items-start">
      <div class="flex-auto" >

    
        <div class="card mt-6" style="overflow-x: scroll;">
          <div class="px-gutter py-4 border-b">
            <h2 class="title m-0">Odontograma</h2>
            <div class="rounded-full mx-auto mt-6 px-6 pb-1" ></div>   
            <button (click)="guardarOdontograma()" class="ml-4 rounded-full" color="primary" fxFlex="none" mat-raised-button
                    matTooltip="Guardar" type="button" >
              <mat-icon [icIcon]="icSave"></mat-icon>
              <span> Guardar</span>
            </button>
          </div>
    
          <div class="px-gutter py-4" gdColumns="1fr" gdColumns.xs="1fr" gdGap="16px" style="min-width:988px; max-width:988px; margin: auto;" [style]="cursor">
            <!--MOVILIDAD PIEZAS SUPERIORES-->
            <div class="contenedor-inputs-odontograma">
              <input id="input_movilidad_18" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[18]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 18" style="margin-left: 6px;"/>
              <input id="input_movilidad_17" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[17]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 17"/>
              <input id="input_movilidad_16" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[16]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 16"/>
              <input id="input_movilidad_15" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[15]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 15"/>
              <input id="input_movilidad_14" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[14]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 14"/>
              <input id="input_movilidad_13" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[13]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 13"/>
              <input id="input_movilidad_12" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[12]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 12"/>
              <input id="input_movilidad_11" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[11]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 11"/>
              
              <input  type="number" class="input-odontograma-relleno-centro"/>

              <input id="input_movilidad_21" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[21]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 21"/>
              <input id="input_movilidad_22" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[22]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 22"/>
              <input id="input_movilidad_23" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[23]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 23"/>
              <input id="input_movilidad_24" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[24]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 24"/>
              <input id="input_movilidad_25" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[25]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 25"/>
              <input id="input_movilidad_26" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[26]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 26"/>
              <input id="input_movilidad_27" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[27]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 27"/>
              <input id="input_movilidad_28" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[28]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 28" style="margin-right: 0px!important;"/>
            </div>
            <!--RECESIÓN PIEZAS SUPERIORES-->
            <div class="contenedor-inputs-odontograma">
              <input id="input_recesion_18" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[18]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 18" style="margin-left: 6px;"/>
              <input id="input_recesion_17" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[17]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 17"/>
              <input id="input_recesion_16" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[16]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 16"/>
              <input id="input_recesion_15" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[15]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 15"/>
              <input id="input_recesion_14" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[14]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 14"/>
              <input id="input_recesion_13" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[13]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 13"/>
              <input id="input_recesion_12" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[12]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 12"/>
              <input id="input_recesion_11" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[11]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 11"/>

              <input  type="number" class="input-odontograma-relleno-centro"/>

              <input id="input_recesion_21" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[21]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 21"/>
              <input id="input_recesion_22" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[22]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 22"/>
              <input id="input_recesion_23" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[23]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 23"/>
              <input id="input_recesion_24" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[24]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 24"/>
              <input id="input_recesion_25" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[25]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 25"/>
              <input id="input_recesion_26" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[26]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 26"/>
              <input id="input_recesion_27" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[27]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 27"/>
              <input id="input_recesion_28" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[28]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 28" style="margin-right: 0px!important;"/>
            </div>


            <div id='lienzo' ></div>

            <!--MOVILIDAD PIEZAS INFERIORES-->
            <div class="contenedor-inputs-odontograma">
              <input id="input_movilidad_48" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[48]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 48" style="margin-left: 6px;"/>
              <input id="input_movilidad_47" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[47]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 47"/>
              <input id="input_movilidad_46" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[46]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 46"/>
              <input id="input_movilidad_45" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[45]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 45"/>
              <input id="input_movilidad_44" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[44]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 44"/>
              <input id="input_movilidad_43" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[43]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 43"/>
              <input id="input_movilidad_42" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[42]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 42"/>
              <input id="input_movilidad_41" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[41]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 41"/>

              <input  type="number" class="input-odontograma-relleno-centro"/>

              <input  id="input_movilidad_31" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[31]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 31"/>
              <input  id="input_movilidad_32" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[32]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 32"/>
              <input  id="input_movilidad_33" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[33]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 33"/>
              <input  id="input_movilidad_34" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[34]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 34"/>
              <input  id="input_movilidad_35" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[35]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 35"/>
              <input  id="input_movilidad_36" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[36]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 36"/>
              <input  id="input_movilidad_37" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[37]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 37"/>
              <input  id="input_movilidad_38" type="number" class="input-odontograma"  min="0" max="3" value="0" [(ngModel)] = "indicesMovilidad[38]" (input)="filtrarRangoMovilidad($event)" matTooltip="Movilidad Pieza 38" style="margin-right: 0px!important;"/>
            </div>
            <!--RECESIÓN PIEZAS INFERIORES-->
            <div class="contenedor-inputs-odontograma">
              <input id="input_recesion_48" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[48]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 48" style="margin-left: 6px;"/>
              <input id="input_recesion_47" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[47]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 47" />
              <input id="input_recesion_46" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[46]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 46" />
              <input id="input_recesion_45" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[45]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 45" />
              <input id="input_recesion_44" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[44]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 44" />
              <input id="input_recesion_43" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[43]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 43" />
              <input id="input_recesion_42" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[42]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 42" />
              <input id="input_recesion_41" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[41]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 41" />

              <input  type="number" class="input-odontograma-relleno-centro"/>

              <input id="input_recesion_31" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[31]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 31" />
              <input id="input_recesion_32" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[32]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 32" />
              <input id="input_recesion_33" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[33]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 33" />
              <input id="input_recesion_34" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[34]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 34" />
              <input id="input_recesion_35" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[35]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 35" />
              <input id="input_recesion_36" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[36]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 36" />
              <input id="input_recesion_37" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[37]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 37" />
              <input id="input_recesion_38" type="number" class="input-odontograma"  min="0" max="4" value="0" [(ngModel)] = "indicesRecesion[38]" (input)="filtrarRangoRecesion($event)" matTooltip="Recesión Pieza 38" style="margin-right: 0px!important;"/>
            </div>
          </div>
        </div>
        <div @fadeInUp class="card mt-6" [style]="cursor">
          <div class="px-gutter py-4 border-b">
            <h2 class="title m-0">Simbolos</h2>
          </div>
    
          <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px" >
            <div *ngFor="let data of icon_data" class="py-3" fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button  @scaleIn (click)="seleccionarDetalle(data.icon)"
                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center " 
                   style="min-width: 0px!important;
                   -webkit-box-shadow: 0px 0px 1.5px 0.5px rgba(184,199,184);
                    -moz-box-shadow: 0px 0px 1.5px 0.5px rgba(184,199,184);
                    box-shadow: 0px 0px 1.5px 0.5px rgba(184,199,184);
                   ">
                    <mat-icon svgIcon="{{data.icon}}" style="transform: scale(1);"></mat-icon>
              </button>
              <div @fadeInRight >
                <p class="m-0 body-1">{{data.name}}</p>
                <p class="m-0 caption text-hint">{{data.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <vex-indicadores-salud-bucal></vex-indicadores-salud-bucal>




      </div>
    </div>
    
    <div class="card indicescpo">
      
      
      <div class="px-gutter py-1" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <span>C</span>
        <span>P</span>
        <span>O</span>
        <p>{{C}}</p>
        <p>{{P}}</p>
        <p>{{O}}</p>
      </div>
    </div>

    <div class="card indicesceo">
      
      <div class="px-gutter py-1" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <span>c</span>
        <span>e</span>
        <span>o</span>
        <p>{{c}}</p>
        <p>{{e}}</p>
        <p>{{o}}</p>
      </div>
    </div>

  </vex-page-layout-content>

</vex-page-layout>
