#lienzo{
    margin: auto;
    margin-top: 10px;
    min-width: 956px;
    max-width: 956px;
}
.contenedor-inputs-odontograma{
    min-width: 940px; 
    max-width: 940px;
    margin-left:0;
}
.input-odontograma-relleno-centro{
    visibility: hidden;
    max-width: 31px!important;
    min-width: 31px!important;
}

.input-odontograma{
    text-align: center;
    color: #3a90b8; 
    border-width:1px!important;
    border-color: #1FABED;
    max-width: 39px!important;
    min-width: 39px!important;
    margin-right: 16px;
    margin-left:0;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.indicesceo {
    position: fixed;
    right: 3%;
    top: 10%;
    width: 15%;
    text-align: center;
}

.indicesceo span {
    font-weight: bold;
}

.indicesceo p {
    font-weight: lighter;
}

.indicescpo {
    position: fixed;
    right: 19%;
    top: 10%;
    width: 15%;
    text-align: center;
}

.indicescpo span {
    font-weight: bold;
}

.indicescpo p {
    font-weight: lighter;
}
