<div class="px-3 pb-2" fxLayout="row" fxLayoutAlign="start center">
  <h2>
    <span class="text-sm font-medium text-gray">Signos vitales</span>
  </h2>

  <span fxFlex></span>

  <button mat-icon-button type="button" (click)="close()">
    <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="pb-3" *ngIf="(notaEnfermeria | async) as nota">
  <vex-nota-enfermeria-item [nota]="nota" [canClick]="false"></vex-nota-enfermeria-item>
</div>
