<div class="card mt-6 max-w-full overflow-auto" fxLayout="column">
  <div class="sticky left-0 border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="m-0 title" fxFlex="auto">Antecedentes quirúrgicos</h2>
    <button (click)="createQuirurgico()"
            class="ml-4"
            color="primary"
            fxFlex="none"
            mat-mini-fab
            matTooltip="Agregar examen"
            type="button">
      <mat-icon [icIcon]="icAdd"></mat-icon>
    </button>
  </div>
  <table @stagger [dataSource]="dataSource" fxFlex="auto" class="w-full" mat-table matSort>
    <!-- Date Columns -->
    <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
        <td *matCellDef="let row" mat-cell>{{ getFormattedDate(row[column.property]) }}</td>
      </ng-container>
    </ng-container>

    <!-- Text Columns -->
    <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
      </ng-container>

    </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
        <button (click)="$event.stopPropagation() "
                [matMenuTriggerData]="{ antecedente: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button">
          <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <tr (click)="updateQuirurgico(row)"
        *matRowDef="let row; columns: visibleColumns;"
        @fadeInUp
        class="hover:bg-hover trans-ease-out cursor-pointer"
        mat-row></tr>
  </table>
  <div *ngIf="dataSource.filteredData.length === 0"
       @scaleFadeIn
       fxFlex="auto"
       fxLayout="column"
       fxLayoutAlign="center center">
    <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
    <h3 class="headline m-0 text-center">Aún no se han ingresado registros</h3>
  </div>
  <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>

</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-antecedente="antecedente" matMenuContent>
    <button (click)="updateQuirurgico(antecedente)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>
    <button (click)="openDeleteDialog(antecedente)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
