<div class="pb-4" fxLayout="row" fxLayoutAlign="start center">
  <div class="subheading-1 font-medium" fxFlex="auto"></div>

  <button (click)="createDiagnostico()" color="primary" mat-button type="button">
    <ic-icon [icon]="icAdd" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
    <span>AGREGAR DIAGNÓSTICO</span>
  </button>
</div>

<div class="pb-6" fxLayout="column" fxLayoutAlign="space-between">
  <table [dataSource]="dataSource"
         class="w-full border-t"
         fxFlex="auto"
         mat-table
         matSort>

    <!-- Model Properties Column -->
    <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
        <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
      </ng-container>

      <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
        <ng-container *ngIf="column.property === 'menu'">
          <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
            <button (click)="$event.stopPropagation(); deleteDiagnostico(row);"
                    mat-icon-button
                    type="button">
              <mat-icon [icIcon]="icDeleteForever"></mat-icon>
            </button>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <!--suppress UnnecessaryLabelJS -->
    <tr (click)="updateDiagnostico(row)"
        *matRowDef="let row; columns: visibleColumns;"
        @fadeInUp
        class="hover:bg-hover cursor-pointer"
        mat-row></tr>
  </table>
</div>
