<!--<form (ngSubmit)="save()" [formGroup]="form">-->
<!--  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>-->
<!--    <h2 *ngIf="form.get('id').value"-->
<!--        class="headline m-0"-->
<!--        fxFlex="auto">Actualizar registro</h2>-->
<!--    <h2 *ngIf="!form.get('id').value"-->
<!--        class="headline m-0"-->
<!--        fxFlex="auto">Nuevo registro</h2>-->

<!--    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">-->
<!--      <mat-icon [icIcon]="icClose"></mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--  <mat-dialog-content fxLayout="column">-->
<!--    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">-->
<!--      <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Fecha ingreso a la ESPE</mat-label>-->
<!--          <input [matDatepicker]="datepicker1"-->
<!--                 formControlName="fechaIngresoEspe"-->
<!--                 (click)="datepicker1.open()"-->
<!--                 (focus)="datepicker1.open()"-->
<!--                 [max]="maxDate" matInput required>-->
<!--          <mat-datepicker-toggle [for]="datepicker1" class="block" matSuffix></mat-datepicker-toggle>-->
<!--          <mat-datepicker #datepicker1></mat-datepicker>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Sede</mat-label>-->
<!--          <mat-select formControlName="idSede" required>-->
<!--            <mat-option *ngFor="let sede of sedes | async" [value]="sede.id">-->
<!--              {{ sede.nombre }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon [icIcon]="icCollege" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Unidad o Departamento</mat-label>-->
<!--          <input [formControl]="unidadDepartamentoCtrl" [matAutocomplete]="autoUnidadDepartamento" matInput required>-->
<!--          <mat-autocomplete autoActiveFirstOption #autoUnidadDepartamento="matAutocomplete">-->
<!--            <mat-option *ngFor="let ud of filteredUnidadesDepartamentos | async" [value]="ud.nombre">-->
<!--              <span class="body-1">{{ ud.nombre }}</span>-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--          <button (click)="unidadDepartamentoCtrl.reset()" *ngIf="unidadDepartamentoCtrl.value" mat-icon-button-->
<!--                  matSuffix-->
<!--                  type="button">-->
<!--            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>-->
<!--          </button>-->
<!--          <button *ngIf="!unidadDepartamentoCtrl.value" mat-icon-button matSuffix type="button">-->
<!--            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>-->
<!--          </button>-->
<!--          <mat-hint align="start" *ngIf="unidadDepartamentoCtrl.invalid">Seleccione una opción correcta.</mat-hint>-->
<!--          <mat-icon [icIcon]="icBuilding" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Carrera</mat-label>-->
<!--          <input formControlName="carrera" matInput required vexInputUppercase>-->
<!--          <mat-icon [icIcon]="icCap" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>Escuela</mat-label>-->
<!--          <input formControlName="escuela" matInput vexInputUppercase>-->
<!--          <mat-icon [icIcon]="icFlag" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">-->
<!--          <mat-label>CIUO</mat-label>-->
<!--          <input type="text" formControlName="ciuo" matInput>-->
<!--          <mat-icon [icIcon]="icCode" class="mr-3" matPrefix></mat-icon>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">-->
<!--          <mat-label>Actividades relevantes</mat-label>-->
<!--          <textarea rows="5" formControlName="actividadesRelevantes" matInput></textarea>-->
<!--        </mat-form-field>-->

<!--      </div>-->
<!--    </div>-->
<!--  </mat-dialog-content>-->

<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-button mat-dialog-close type="button">CANCELAR</button>-->
<!--    <button *ngIf="isCreateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>-->
<!--    <button *ngIf="isUpdateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">ACTUALIZAR-->
<!--    </button>-->
<!--  </mat-dialog-actions>-->
<!--</form>-->
