<div class="h-full" fxLayout="column">
  <div class="p-6 pb-0 bg-card shadow-b" fxFlex="none">
    <div vexContainer>
      <h1 class="display-1 mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
        <span @scaleIn class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
          <button mat-icon-button (click)="navigateBack()">
            <ic-icon [icon]="icBack" size="24px"></ic-icon>
          </button>
        </span>
        <span @fadeInRight class="block">Evolución - {{this.evolucionCodigo}}</span>
      </h1>

      <div fxLayout="row" fxLayoutAlign="start center">
        <nav class="vex-tabs border-0" fxFlex="auto" mat-tab-nav-bar>
          <a #rla="routerLinkActive"
             *ngFor="let link of links"
             [active]="rla.isActive"
             [disabled]="link.disabled"
             [routerLink]="link.route"
             mat-tab-link
             queryParamsHandling="preserve"
             [routerLinkActiveOptions]="link.routerLinkActiveOptions || { exact: false }"
             routerLinkActive>
            {{ link.label }}
          </a>
        </nav>

        <button class="ltr:ml-1 rtl:mr-1"
                color="primary"
                fxFlex="none"
                mat-icon-button
                matTooltip="Exportar datos"
                type="button">
          <mat-icon [icIcon]="icCloudDownload"></mat-icon>
        </button>

        <button (click)="crearNuevaEvolucion()"
                class="ltr:ml-1 rtl:mr-1"
                color="primary"
                fxFlex="none"
                fxHide.gt-xs
                mat-mini-fab
                matTooltip="Nueva Evolución"
                type="button">
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>

        <button (click)="crearNuevaEvolucion()"
                class="ltr:ml-4 rtl:mr-4"
                color="primary"
                fxFlex="none"
                fxHide.xs
                mat-raised-button
                type="button">
          <ic-icon [icon]="icAdd"
                   class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                   inline="true"
                   size="20px"></ic-icon>
          <span>NUEVA EVOLUCIÓN</span>
        </button>

      </div>
    </div>
  </div>
  <div @stagger class="overflow-y-auto" fxFlex="auto">
    <router-outlet></router-outlet>
  </div>

</div>
