<div (click)="createNotaEnfermeria()" class="py-3" fxLayout="row" fxLayoutAlign="start center">
  <div
       class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
    <ic-icon [icon]="icAdd" size="20px"></ic-icon>
  </div>

  <p class="m-0 body-1 cursor-pointer">Registrar nueva nota de enfermeria</p>
</div>
<vex-loading class="flex justify-center"></vex-loading>
<div class="pb-3" *ngFor="let notaEnfermeria of notasEnfermeria">
  <div fxLayout="row">
    <vex-nota-enfermeria-item [nota]="notaEnfermeria"
                              [canClick]="true"
                              (selectNota)="onNotaEnfermeriaChange($event)">
    </vex-nota-enfermeria-item>
    <span fxFlex></span>
    <mat-icon matTooltip="Remover de la lista"
              (click)="deleteFromList(notaEnfermeria.id)"
              fxLayoutAlign="center center"
              class="px-6 cursor-pointer">delete</mat-icon>
  </div>
</div>
