<div class="mt-6 flex flex-col">
  <div class="flex-auto">
    <vex-patologico-personal></vex-patologico-personal>
    <vex-patologico-familiar></vex-patologico-familiar>
    <vex-quirurgico></vex-quirurgico>
    <vex-medicacion-habitual></vex-medicacion-habitual>
    <vex-discapacidad></vex-discapacidad>
  </div>
</div>
