<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar planificación familiar
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nueva planificación familiar
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content class="mt-6">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Vida sexual activa</mat-label>
          <mat-select formControlName="vidaSexualActiva" required>
            <mat-option *ngFor="let choise of listChoise" [value]="choise">{{
              choise
              }}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="user" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Método de planificación</mat-label>
          <mat-select formControlName="metodoPlanificacion" required>
            <mat-option *ngFor="let ec of prevencionList" [value]="ec">{{ec}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('metodoPlanificacion').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Tipo de planificación</mat-label>
          <mat-select
            formControlName="idTipoPlanificacionFamiliar" required>
            <mat-option
              *ngFor="let planificacion of listPlanificacion | async"
              [value]="planificacion.id">
              {{ planificacion.nombre }}</mat-option
            >
          </mat-select>

          <mat-icon [icIcon]="clipboard" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Edad de inicio planificación</mat-label>
          <input
            formControlName="edadInicioPlanificacionFamiliar"
            type="number"
            min="1"
            matInput
          />

          <mat-icon [icIcon]="chalkboard" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Frecuencia de uso</mat-label>
          <mat-select formControlName="frecuenciaPlanificacionFamiliar" required>
            <mat-option
              *ngFor="let frecuencia of listFrecuencia"
              [value]="frecuencia"
            >{{ frecuencia }}</mat-option
            >
          </mat-select>
          <mat-icon [icIcon]="calendar" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field  *ngIf="!esMujer" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Hijos vivos</mat-label>
          <input
            formControlName="hijosVivos"
            type="number"
            matInput
          />

          <mat-icon [icIcon]="icMale" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="!esMujer" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Hijos muertos</mat-label>
          <input
            formControlName="hijosMuertos"
            type="number"
            matInput
          />
          <mat-icon [icIcon]="baby" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Observación</mat-label>
          <textarea formControlName="observacion" rows="4" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button mat-button mat-dialog-close type="button">CANCELAR</button>
      <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR
      </button>
      <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR
      </button>
    </div>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
