<div class="p-gutter" vexContainer>
  <div class="card">
    <div class="p-6">
      <mat-tab-group class="vex-tabs">
        <mat-tab label="FARMACOLÓGICAS">
          <div class="py-6" fxLayout="row" fxLayoutAlign="start center">
            <div class="subheading-1 font-medium" fxFlex="auto"></div>

            <button (click)="createPrescripcion()" color="primary" mat-button type="button">
              <ic-icon [icon]="icAdd" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
              <span>AGREGAR PRESCRIPCIÓN</span>
            </button>
          </div>
          <div class="pb-6 overflow-auto" fxLayout="column" fxLayoutAlign="space-between">
            <table [dataSource]="dataSource"
                   class="w-full border-t"
                   fxFlex="auto"
                   mat-table
                   matSort>
              <!-- Medicamento Column -->
              <ng-container matColumnDef="medicamento">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Medicamento</th>
                <td *matCellDef="let row" mat-cell>
                  {{getMedicamento(row['medicamento'])}}
                </td>
              </ng-container>

              <!-- Model Properties Column -->
              <ng-container *ngFor="let column of tableColumns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                  <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                  <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
                </ng-container>

                <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
                  <ng-container *ngIf="column.property === 'menu'">
                    <th class="uppercase" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" class="w-10" mat-cell>
                      <button (click)="$event.stopPropagation(); openDeleteDialog(row);"
                              mat-icon-button
                              matTooltip="Eliminar prescripción"
                              type="button">
                        <mat-icon [icIcon]="icDeleteForever"></mat-icon>
                      </button>
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>

              <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
              <!--suppress UnnecessaryLabelJS -->
              <tr (click)="updatePrescripcion(row)"
                  *matRowDef="let row; columns: visibleColumns;"
                  @fadeInUp
                  class="hover:bg-hover cursor-pointer"
                  mat-row></tr>
            </table>
          </div>

        </mat-tab>
        <mat-tab label="NO FARMACOLÓGICAS">
          <form [formGroup]="prescripcionNoFarmacologicaForm" (ngSubmit)="saveIndicacionNoFarmacologica()">
            <div class="py-6" fxLayout="row" fxLayoutAlign="start center">
              <div class="subheading-1 font-medium" fxFlex="auto"></div>

              <button color="primary" mat-button type="submit">
                <ic-icon [icon]="icSave" class="ltr:mr-3 rtl:ml-3" inline="true" size="18px"></ic-icon>
                <span>GUARDAR</span>
              </button>
              <vex-loading></vex-loading>
            </div>
            <mat-form-field appearance="outline" class="block w-full">
              <mat-label>Indicación no farmacológica</mat-label>
              <textarea  rows="5"  formControlName="indicacionNoFarmacologica" matInput></textarea>
            </mat-form-field>
          </form>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>

