<div class="bg-card py-6 px-gutter">
  <h2 class="display-1 mt-0 mb-4 text-center">Seleccione el tipo de paciente</h2>
  <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">
    Usted deberá seleccionar el tipo de paciente que desea registrar. Puede elegir entre las siguientes opciones:
  </h3>

  <div class="mt-16 max-w-3xl mx-auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
    <a class="text-center p-6 border cursor-pointer hover:bg-app-bar rounded"
       fxFlex
       routerLinkActive (click)="goToPacienteInternoForm()">
      <ic-icon [icon]="icInternal" class="text-hint" size="42px"></ic-icon>
      <h3 class="title mb-0 mt-4">INTERNO</h3>
      <h4 class="subheading-2 m-0 text-hint">Perteneciente a la ESPE</h4>
    </a>

    <a class="text-center p-6 border cursor-pointer hover:bg-app-bar rounded"
       fxFlex
       routerLinkActive (click)="gotToPacienteExternoForm()">
      <ic-icon [icon]="icExternal" class="text-hint" size="42px"></ic-icon>
      <h3 class="title mb-0 mt-4">EXTERNO</h3>
      <h4 class="subheading-2 m-0 text-hint">Externo a la institución</h4>
    </a>
  </div>
</div>
