<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 *ngIf="ingresoFormGroup.get('id').value" class="headline m-0" fxFlex="auto">Actualizar hospitalización</h2>
  <h2 *ngIf="!ingresoFormGroup.get('id').value" class="headline m-0" fxFlex="auto">Nueva hospitalización</h2>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
  <ng-template matStepperIcon="edit">
    <mat-icon [icIcon]="icDoneAll"></mat-icon>
  </ng-template>

  <ng-template matStepperIcon="done">
    <mat-icon [icIcon]="icDoneAll"></mat-icon>
  </ng-template>

  <mat-step [stepControl]="ingresoFormGroup">
    <form [formGroup]="ingresoFormGroup">
      <ng-template matStepLabel>Datos ingreso</ng-template>

      <h2 class="title m-0">Datos de ingreso</h2>
      <div class="subheading-1">Complete los datos de ingreso.</div>

      <div fxLayout="column" class="mt-6 overflow-hidden">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Fecha de ingreso</mat-label>
            <input (ngModelChange)="calculateTiempoEstadia()" required formControlName="fechaIngreso" matInput (click)="datepickerRef.open()"
                   (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef"/>
            <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepickerRef></mat-datepicker>
            <mat-error *ngIf="ingresoFormGroup.get('fechaIngreso').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Casa de salud</mat-label>
            <input required formControlName="casaSalud" matInput>
            <mat-icon [icIcon]="icHospital" class="mr-3" matPrefix></mat-icon>
            <mat-error *ngIf="ingresoFormGroup.get('casaSalud').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Médico tratante</mat-label>
            <input formControlName="medicoTratante" matInput required>
            <mat-icon [icIcon]="icDoctor" class="mr-3" matPrefix></mat-icon>
            <mat-error *ngIf="ingresoFormGroup.get('medicoTratante').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Especialidad del médico</mat-label>
            <input required formControlName="especialidadMedico" matInput>
            <mat-icon [icIcon]="icEspecialidad" class="mr-3" matPrefix></mat-icon>
            <mat-error *ngIf="ingresoFormGroup.get('especialidadMedico').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Diagnóstico de ingreso</mat-label>
            <textarea rows="3" required formControlName="diagnosticoIngreso" matInput></textarea>
            <mat-error *ngIf="ingresoFormGroup.get('diagnosticoIngreso').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Evolución, procedimientos y complicaciones</mat-label>
            <textarea rows="3" required formControlName="evolucionProcedimientoComplicaciones"
                      matInput></textarea>
            <mat-error *ngIf="ingresoFormGroup.get('evolucionProcedimientoComplicaciones').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button (click)="stepper.reset()" [disabled]="ingresoFormGroup.pristine" color="primary" mat-button
                type="button">LIMPIAR
        </button>
        <button [disabled]="ingresoFormGroup.invalid" color="primary" mat-raised-button matStepperNext>SIGUIENTE
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="egresoFormGroup">
    <form [formGroup]="egresoFormGroup">
      <ng-template matStepLabel>Datos egreso</ng-template>

      <div class="title m-0">Datos de egreso</div>
      <div class="subheading-1">Complete los datos de egreso.</div>

      <div fxLayout="column" class="mt-6 overflow-hidden">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Fecha de alta</mat-label>
            <input formControlName="fechaAlta"
                   (ngModelChange)="calculateTiempoEstadia()"
                   required
                   matInput
                   [max]="maxDate"
                   (click)="picker.open()"
                   (focus)="picker.open()"
                   [matDatepicker]="picker"/>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="egresoFormGroup.get('fechaAlta').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Tipo de egreso</mat-label>
            <input formControlName="tipoEgreso" matInput>
            <mat-icon [icIcon]="icEgreso1" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Tiempo de estadía</mat-label>
            <input formControlName="tiempoEstadiaDias" matInput>
            <mat-icon [icIcon]="icTime" class="mr-3" matPrefix></mat-icon>
            <span class="px-5" matSuffix>dias</span>
            <mat-error *ngIf="egresoFormGroup.get('tiempoEstadiaDias').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Días de incapacidad</mat-label>
            <input type="number" required formControlName="diasIncapacidad" matInput>
            <mat-icon [icIcon]="icTime" class="mr-3" matPrefix></mat-icon>
            <span class="px-5" matSuffix>dias</span>
            <mat-error *ngIf="egresoFormGroup.get('diasIncapacidad').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Diagnóstico egreso</mat-label>
            <textarea rows="3" formControlName="diagnosticoEgreso" matInput></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-label>Indicaciones al alta</mat-label>
            <textarea required rows="3" formControlName="indicacionesAlta" matInput></textarea>
            <mat-error *ngIf="egresoFormGroup.get('indicacionesAlta').hasError('required')">{{errorMessages.required}}</mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
        <button (click)="save()" *ngIf="isCreateMode()" type="submit" [disabled]="egresoFormGroup.invalid" color="primary" mat-raised-button
                matStepperNext>
          GUARDAR
        </button>
        <button (click)="save()" *ngIf="isUpdateMode()" [disabled]="egresoFormGroup.invalid" color="primary" mat-raised-button
                matStepperNext>
          ACTUALIZAR
        </button>
        <vex-loading></vex-loading>
      </div>
    </form>

  </mat-step>
</mat-horizontal-stepper>
