<div *ngIf="(isOpen$ | async)" class="w-full px-gutter border-b-2 border-red" fxLayout="row" fxLayoutAlign="center center" vexContainer>
  <span fxFlex></span>
  <p fxLayoutAlign="center center" class="text-sm py-1 font-medium">Tiempo restante de la sesión: <span class="font-bold text-warn"> {{minutesToDday}} min {{secondsToDday}} s</span></p>
  <span fxFlex></span>
  <button (click)="closeMenu()" class="text-secondary" mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>
