<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value"
        class="headline m-0"
        fxFlex="auto">Actualizar puesto trabajo</h2>
    <h2 *ngIf="!form.get('id').value"
        class="headline m-0"
        fxFlex="auto">Registro puesto trabajo</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">

        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>CIUO</mat-label>
          <input [formControl]="ciuoCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete">
            <mat-option *ngFor="let ciuo of filteredCodigosCiuo | async" [value]="ciuo.codigo">
              <span class="body-1">{{ ciuo.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{ ciuo.descripcion }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="ciuoCtrl.reset()" *ngIf="ciuoCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!ciuoCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-hint align="start" *ngIf="ciuoCtrl.invalid">Seleccione una opción correcta.</mat-hint>
          <mat-icon [icIcon]="icCode" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Actividades relevantes al puesto de trabajo</mat-label>
          <input formControlName="actividadesRelevantes" matInput>
          <mat-icon [icIcon]="icActivity" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Horario laboral actual</mat-label>
          <mat-select formControlName="horarioLaboralActual" required>
            <mat-option *ngFor="let jornada of tiposJornadaLaboral" [value]="jornada">{{jornada}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icClock" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Horas trabajo</mat-label>
          <input type="number" formControlName="horasTrabajoDia" matInput required>
          <span class="px-5" matSuffix>D</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Horas trabajo</mat-label>
          <input type="number" formControlName="horasTrabajoSemana" matInput required>
          <span class="px-5" matSuffix>S</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Horas trabajo</mat-label>
          <input type="number" formControlName="horasTrabajoMes" matInput required>
          <span class="px-5" matSuffix>M</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>¿Cumple comisión / Misión Servicios?</mat-label>
          <mat-select formControlName="cumpleComisionServicio" required>
            <mat-option *ngFor="let item of tresOpcionesCatalogo" [value]="item">{{item}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Observaciones al horario laboral</mat-label>
          <input formControlName="observacionesHorario" matInput>
          <mat-icon [icIcon]="icActivity" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    <button *ngIf="isUpdateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">ACTUALIZAR
    </button>
  </mat-dialog-actions>
</form>
