<div class="body-2 p-6 bg-primary text-primary-contrast">
  <p>HOY</p>
  <div class="display-1">{{ dayName }}</div>
  <div class="display-1">{{ date }}</div>
</div>

<mat-divider></mat-divider>

<mat-list *ngIf="this.pacienteActual" class="pb-3">
  <h3 matSubheader>DATOS PACIENTE ACTUAL</h3>
  <mat-list-item>
    <mat-icon [icIcon]="icUser" matListIcon></mat-icon>
    <h4 matLine>Nombre completo</h4>
    <p matLine>
      <span class="text-xs">{{pacienteActual.primerNombre}} {{pacienteActual.segundoNombre}} {{pacienteActual.apellidoPaterno}} {{pacienteActual.apellidoMaterno}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon [icIcon]="icCedula" matListIcon></mat-icon>
    <h4 matLine>Número de identifiación</h4>
    <p matLine>
      <span class="text-xs">{{pacienteActual.numeroIdentificacion}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon [icIcon]="icCalendar" matListIcon></mat-icon>
    <h4 matLine>Edad</h4>
    <p matLine>
      <span class="text-xs">{{getEdad(pacienteActual.fechaNacimiento)}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon [icIcon]="icBlood" matListIcon></mat-icon>
    <h4 matLine>Grupo sanguíneo</h4>
    <p matLine>
      <span class="text-xs">{{pacienteActual.grupoSanguineo}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon [icIcon]="icSex" matListIcon></mat-icon>
    <h4 matLine>Sexo</h4>
    <p matLine>
      <span class="text-xs">{{pacienteActual.sexo}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon [icIcon]="icLateralidad" matListIcon></mat-icon>
    <h4 matLine>Lateralidad</h4>
    <p matLine>
      <span class="text-xs">{{pacienteActual.lateralidad}}</span>
    </p>
  </mat-list-item>
  <mat-list-item *ngIf="(this.antecedentePersonal | async) as antecedente">
    <mat-icon [icIcon]="icAllergies" matListIcon></mat-icon>
    <h4 matLine>Alergías</h4>
    <p matLine>
      <span class="px-3 text-xs bg-red rounded text-contrast-white">{{antecedente.poseeAlergia}}</span>
    </p>
    <p matLine *ngIf="antecedente.poseeAlergia === 'SI'">
      <span class="text-xs">{{antecedente.descripcionAlergia}}</span>
    </p>
  </mat-list-item>
  <mat-list-item *ngIf="discapacidades.length > 0">
    <mat-icon [icIcon]="icBlind" matListIcon></mat-icon>
    <h4 matLine>Discapacidad</h4>
    <p matLine>
      <span class="text-xs">{{discapacidades.length}} discapacidad(es)</span>
    </p>
  </mat-list-item>
</mat-list>
