<div class="h-full" fxLayout="column">
  <div class="mx-6 mt-6" fxLayout="row" fxLayoutAlign="start center">
    <div class="bg-card rounded-full border px-4"
         fxFlex="100%"
         fxFlex.lt-md="auto"
         fxHide.xs
         fxLayout="row"
         fxLayoutAlign="start center">
      <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
      <input [formControl]="searchCtrl"
             class="px-4 py-3 border-0 outline-none w-full bg-transparent"
             placeholder="Buscar..."
             type="search">
    </div>

    <span fxFlex></span>

    <button (click)="openCreateDialog()"
            class="ltr:ml-4 rtl:mr-4"
            color="primary"
            fxFlex="none"
            fxHide.xs
            mat-raised-button
            type="button">
      <ic-icon [icon]="icAdd"
               class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
               inline="true"
               size="20px"></ic-icon>
      <span>AGREGAR EXAMEN</span>
    </button>
  </div>

</div>
<div class="card overflow-auto mx-6 mt-6" fxLayout="column">
  <table @stagger [dataSource]="dataSource" fxFlex="auto" class="w-full" mat-table matSort>
    <!-- Text Columns -->
    <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
      </ng-container>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
        <button (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ examen: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button">
          <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
  </table>
  <div *ngIf="dataSource.filteredData.length === 0"
       @scaleFadeIn
       fxFlex="auto"
       fxLayout="column"
       fxLayoutAlign="center center">
    <img class="m-12 h-48" src="assets/img/illustrations/no_data_blue.svg">
    <h3 class="headline m-0 text-center">No se han encontrado registros</h3>
  </div>

<!--  <mat-paginator-->
<!--    [pageSizeOptions]="pageSizeOptions"-->
<!--    [pageSize]="pageSize"-->
<!--    class="sticky left-0">-->
<!--  </mat-paginator>-->
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-examen="examen" matMenuContent>
    <button (click)="iniciarEliminacionDetalle(null, examen)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>

