<div @scaleFadeIn class="w-full p-gutter text-center">
    <img class="w-full max-w-lg mx-auto mb-6" src="assets/img/illustrations/no_data.svg">

    <h2 class="title m-0 mt-3 max-w-lg mx-auto">Aún no se ha registrado un antecedente laboral.</h2>
    <button (click)="createNewAntecedente()" class="rounded-full mx-auto mt-6 px-6 pb-1" color="primary" mat-raised-button type="button">
        <ic-icon [icon]="icAdd"
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2"
                inline="true"
                size="16px"></ic-icon>
        <span>Crear nuevo antecedente</span>
    </button>
</div>