<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Inicio de nuevo periodo de gestación</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>

    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha última menstruación</mat-label>
          <input (ngModelChange)="calculateSemanas()" required formControlName="fechaUltimaMenstruacion" matInput [max]="maxDate" (click)="datepickerRef3.open()"
                 (focus)="datepickerRef3.open()" [matDatepicker]="datepickerRef3"/>
          <mat-datepicker-toggle [for]="datepickerRef3" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef3></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha probable de parto</mat-label>
          <input (ngModelChange)="calculateDiasFaltantes()" [min]="maxDate" formControlName="fechaProbableParto" matInput (click)="datepickerRef1.open()"
                 (focus)="datepickerRef1.open()" [matDatepicker]="datepickerRef1">
          <mat-datepicker-toggle [for]="datepickerRef1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Semanas de Embarazo</mat-label>
          <input formControlName="semanasEmbarazo" matInput type="number">
          <mat-icon [icIcon]="icDoneAll" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Días faltantes de embarazo</mat-label>
          <input formControlName="diasFaltantesEmbarazo" matInput>
          <mat-icon [icIcon]="icBabyCarriage" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%"
                        fxFlex.sm="100%">
          <mat-label>Observación</mat-label>
          <textarea formControlName="observacion"
                    matInput
                    maxlength="255"
                    #lengthObservacion
                    rows="5"></textarea>
          <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
