<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar ant. patológico familiar
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo ant. patológico familiar
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Tipo de enfermedad</mat-label>
          <mat-select formControlName="idTipoEnfermedadFamiliar" required>
            <mat-option *ngFor="let enfermedad of tiposEnfermedadFamiliar | async" [value]="enfermedad.id">
              {{ enfermedad.nombre }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icThermometerEmpty" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('idTipoEnfermedadFamiliar').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Parentesco</mat-label>
          <mat-select formControlName="idParentesco" required>
            <mat-option *ngFor="let parentesco of perentescos | async" [value]="parentesco.id">
              {{ parentesco.nombre }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icParentesco" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('idParentesco').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico</mat-label>
          <input required type="text" formControlName="diagnostico" matInput>
          <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('diagnostico').hasError('required')">{{errorMessages.required}}</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Observaciones</mat-label>
          <textarea #lengthObservacion rows="5" formControlName="observacion" maxlength="255" matInput></textarea>
          <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
