<form (ngSubmit)="save()" [formGroup]="form" class="overflow-hidden">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar discapacidad
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nueva discapacidad
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Tipo de colaborador</mat-label>
          <mat-select formControlName="tipoColaborador" required>
            <mat-option *ngFor="let tipo of tiposColaboradorDiscapacidad" [value]="tipo.title">
              {{ tipo.value }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icAccessible_forward" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('tipoColaborador').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Tipo de discapacidad</mat-label>
          <mat-select formControlName="idTipoDiscapacidad" required>
            <mat-option *ngFor="let discapacidad of tiposDiscapacidad | async" [value]="discapacidad.id">
              {{ discapacidad.nombre }}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icBlind" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('idTipoDiscapacidad').hasError('required')">{{errorMessages.required}}</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Porcentaje de discapacidad</mat-label>
          <mat-select required formControlName="porcentajeDiscapacidad" (selectionChange)="setGradoDiscapacidad($event);">
            <mat-option *ngFor="let porcentaje of porcentajesDiscapacidad" [value]="porcentaje.porcentaje">
              {{porcentaje.porcentaje}}
            </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icAssignment" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('porcentajeDiscapacidad').hasError('required')">{{errorMessages.required}}</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Grado de discapacidad</mat-label>
          <input required type="text" formControlName="gradoDiscapacidad" matInput>
          <mat-icon [icIcon]="icAssignment" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('gradoDiscapacidad').hasError('required')">{{errorMessages.required}}</mat-error>

        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico</mat-label>
          <input required type="text" formControlName="diagnostico" matInput>
          <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('diagnostico').hasError('required')">{{errorMessages.required}}</mat-error>

        </mat-form-field>

      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
