<div class="card max-w-full overflow-auto" fxLayout="column">
    <div class="sticky left-0 border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="m-0 title" fxFlex="auto">Antecedentes de Accidentes de Trabajo</h2>
        <button (click)="createAccidenteTrabajo()"
                class="ml-4"
                color="primary"
                fxFlex="none"
                mat-mini-fab
                matTooltip="Agregar accidente"
                type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
    </div>
    <table @stagger [dataSource]="dataSource" fxFlex="auto" class="w-full" mat-table matSort>

        <!-- Recibió Antención en IESS column -->
        <ng-container matColumnDef="recibioAtencion">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Calificado por el IESS</th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{getFueAtentidoIESS(row['recibioAtencion'])}}
            </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text' && column.property !== 'fecha' && column.property !== 'recibioAtencion'" [matColumnDef]="column.property">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
            </ng-container>

            <ng-container *ngIf="column.property === 'fecha'" [matColumnDef]="column.property">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                {{getFormattedDate(row[column.property])}}
                </td>
            </ng-container>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="menu">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation() "
                    [matMenuTriggerData]="{ accidente: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
        </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="updateAccidenteTrabajo(row)"
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
    </table>
    <div *ngIf="dataSource.filteredData.length === 0"
            @scaleFadeIn
            fxFlex="auto"
            fxLayout="column"
            fxLayoutAlign="center center">
        <img class="m-12 h-32" src="assets/img/illustrations/no_data.svg">
        <h3 class="headline m-0 text-center">Aún no se han ingresado registros</h3>
    </div>
    <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>

</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-accidente="accidente" matMenuContent>
        <button (click)="updateAccidenteTrabajo(accidente)" mat-menu-item>
        <mat-icon [icIcon]="icEdit"></mat-icon>
        <span>Modificar</span>
        </button>
        <button (click)="openDeleteDialog(accidente)" mat-menu-item>
        <mat-icon [icIcon]="icDelete"></mat-icon>
        <span>Eliminar</span>
        </button>
    </ng-template>
</mat-menu>