<div class="p-gutter" vexContainer>
  <form (ngSubmit)="updateVacuna()" *ngIf="this.vacuna" [formGroup]="vacunaForm">

    <div class="card">
      <div class="p-6">
        <div class="mb-6" fxLayout="row" fxLayoutAlign="start center">
          <h4 class="text-secondary" fxLayout="row" fxFlex="none" fxLayoutAlign="start center">
            <span @scaleIn
                  class="w-10 h-10 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icMedKit" size="20px"></ic-icon>
            </span>
            <h2 @fadeInRight class="m-0 title" fxFlex="auto">Información general</h2>
          </h4>
          <span fxFlex></span>

          <button
            [disabled]="vacunaForm.invalid"
            class="ltr:ml-4 rtl:mr-4"
            color="primary"
            fxFlex="none"
            fxHide.xs
            mat-button
            type="submit">
            <ic-icon [icon]="icSave"
                     class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                     inline="true"
                     size="20px"></ic-icon>
            <span>ACTUALIZAR</span>
          </button>
          <button
            [disabled]="vacunaForm.invalid"
            color="primary"
            fxFlex="none"
            fxHide.gt-xs
            mat-mini-fab
            class="ml-4"
            matTooltip="Actualizar"
            type="submit">
            <mat-icon [icIcon]="icSave"></mat-icon>
          </button>
          <vex-loading></vex-loading>

        </div>
        <div fxLayout="column"
             class="pt-6 border-t md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Tipo de Vacuna</mat-label>
              <mat-select (select)="sharedTipoVacuna()" formControlName="idTipoVacuna" required>
                <mat-option *ngFor="let tipoVacuna of tipoVacuna | async"
                            [value]="tipoVacuna.id">{{tipoVacuna.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Lote</mat-label>
              <input type="text" formControlName="lote" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-label>Observación</mat-label>
              <textarea cdkAutosizeMinRows="2"
                        formControlName="observacion"
                        matInput
                        matTextareaAutosize
                        placeholder="Agregue una observación ..."></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
