<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
      <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
        <div class="fill-current text-center">
          <img class="w-16" src="assets/img/demo/logo_espe.png">
        </div>
      </div>
  
      <div class="text-center mt-4">
        <h2 class="title m-0">Salud ESPE</h2>
        <h4 class="body-2 text-secondary m-0">Iniciar sesión</h4>
      </div>
  
      <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow">
            <mat-label>Correo electrónico</mat-label>
            <input formControlName="email" matInput required>
            <mat-error *ngIf="form.get('email').hasError('required')">Necesitamos tu correo electrónico</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="grow">
            <mat-label>Contraseña</mat-label>
            <input [type]="inputType" formControlName="password" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
              <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
              <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
            </button>
            <mat-hint>Ver contraseña</mat-hint>
            <mat-error *ngIf="form.get('password').hasError('required')">Necesitamos tu contraseña</mat-error>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-checkbox class="caption" color="primary">Recordar</mat-checkbox>
          <a [routerLink]="['/forgot-password']" class="caption">¿Olvidaste tu contraseña?</a>
        </div>
  
        <button (click)="send()" color="primary" mat-raised-button type="button">
          INICIAR SESIÓN
        </button>
  
        <!-- <p class="text-secondary text-center">
          Don't have an account?<br/>
          <a [routerLink]="['/register']">Click here to create one</a>
        </p> -->
      </div>
    </div>
  </div>
  