<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">
      Actualizar Actividad de Enfermería
    </h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">
      Nueva Actividad de Enfermería
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Tipo ActividadModel de Enfermería</mat-label>
      <mat-select formControlName="idTipoActividadEnfermeria"
                  required
                  (selectionChange)="selectTipo()"
      >
        <mat-option *ngFor="let tipo of tipoActividad | async" [value]="tipo.id">
          {{ tipo.nombre }}
        </mat-option>
      </mat-select>
      <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="!isDescripcion()" appearance="outline" class="block w-full">
      <mat-label>Descripciones</mat-label>
      <mat-select formControlName="descripcion" required>
        <mat-option *ngFor="let descripcion of descripciones | async" [value]="descripcion.nombre">
          {{ descripcion.nombre }}
        </mat-option>
      </mat-select>
      <mat-icon [icIcon]="icCheck" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="isDescripcion()" appearance="outline" class="block w-full">
      <mat-label>Descripción de la actividad</mat-label>
      <textarea style="height: 120px;" formControlName="descripcion" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Fecha y Hora</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker" (click)="picker.open()" (focus)="picker.open()"
             formControlName="fecha">
      <mat-datepicker-toggle matPrefix [for]="picker">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [stepHour]="stepHour" [stepMinute]="stepMinute"
                               [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color">
      </ngx-mat-datetime-picker>
      <mat-error *ngIf="form.get('fecha').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button
            type="submit">ACTUALIZAR
    </button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
