<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0" fxFlex="auto">Seleccionar un paciente</h2>
  <button mat-dialog-close (click)="createPaciente()" mat-button class="bg-white">NUEVO PACIENTE</button>
</div>

<mat-dialog-content class="mt-6">
  <div fxLayout="row wrap"  fxLayoutGap="16px">
    <mat-form-field appearance="outline" class="block" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-label>Ingrese los nombres o el número de identificación del paciente</mat-label>
      <input placeholder="Ej: 0301971495 o Pedro Alfredo Palacios" cdkFocusInitial [formControl]="searchCtrl" matInput>
      <vex-loading matSuffix></vex-loading>
    </mat-form-field>
  </div>

  <vex-scrollbar class="h-full relative">
    <div fxLayout="column" fxLayoutAlign="space-between">
      <table @stagger [dataSource]="dataSource" fxFlex="auto" class="w-full" mat-table matSort>
        <!-- Checkbox Column-->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
              color="primary"
              [disabled]="true"
              [checked]="true"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox
              (change)="$event ? selectItem(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container matColumnDef="tipoIdentificacion">
          <th mat-header-cell mat-sort-header class="uppercase" *matHeaderCellDef>
            Tipo de identificación
          </th>
          <td mat-cell *matCellDef="let element">
            {{element['tipoIdentificacion']['nombre']}}
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container matColumnDef="numeroIdentificacion">
          <th mat-header-cell mat-sort-header class="uppercase" *matHeaderCellDef>
            Número de identificación
          </th>
          <td mat-cell *matCellDef="let element">
            {{element['numeroIdentificacion']}}
          </td>
        </ng-container>

        <ng-container matColumnDef="paciente">
          <th mat-header-cell mat-sort-header class="uppercase" *matHeaderCellDef>
            Paciente
          </th>
          <td mat-cell *matCellDef="let element">
            {{getPatientFullName(element)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoPaciente">
          <th mat-header-cell mat-sort-header class="uppercase" *matHeaderCellDef>
            Tipo paciente
          </th>
          <td mat-cell *matCellDef="let element">
            {{element['tipoPaciente']}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr
          (click)="oneClick($event, row)"
          (dblclick)="doubleClick($event, row)"
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <div *ngIf="dataSource.filteredData.length === 0"
           fxFlex="auto"
           fxLayout="column"
           fxLayoutAlign="center center">
        <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
        <h2 class="headline m-0 text-center mb-3">No se han encontrado pacientes</h2>
      </div>
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky bottom-0 left-0 right-0 border-t"></mat-paginator>
    </div>
  </vex-scrollbar>

</mat-dialog-content>
<mat-dialog-actions align="end" >
  <button mat-button mat-dialog-close type="button">CANCELAR</button>
  <button [disabled]="this.selection.selected[0]==null" mat-dialog-close (click)="openPaciente(this.selection.selected[0])" color="primary" mat-button type="submit">SELECCIONAR</button>
</mat-dialog-actions>

