<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="title m-0" fxFlex="auto">{{ title }} {{year}}</h2>

  <vex-pick-year (searchEvent)="searchByYear($event)"></vex-pick-year>

  <button (click)="generateReport()" matTooltip="Descargar reporte excel" class="text-secondary" mat-icon-button type="button">
    <mat-icon [icIcon]="icCloudDownload"></mat-icon>
  </button>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content class="my-6" fxLayout="column">
  <div class="pt-3 pb-1 pr-6">
    <vex-loading class="flex justify-center"></vex-loading>
    <vex-widget-table *ngIf="dataFetched" [columns]="columns" [data]="data" [pageSize]="null"> </vex-widget-table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button cdkFocusInitial color="primary" mat-button mat-dialog-close type="button">CERRAR</button>
</mat-dialog-actions>


<!--<div class="card">-->
<!--  <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">-->
<!--    <h2 class="m-0 title" fxFlex="auto">{{title}} {{year}}</h2>-->
<!--    <vex-pick-year (searchEvent)="searchByYear($event)"></vex-pick-year>-->
<!--    <button matTooltip="Descargar reporte excel" mat-icon-button type="button">-->
<!--      <mat-icon (click)="generateReport()" [icIcon]="icCloudDownload" class="text-secondary"></mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="pt-3 pb-1 pr-6">-->
<!--    <vex-widget-table *ngIf="dataFetched" [columns]="columns" [data]="data"> </vex-widget-table>-->
<!--    <vex-loading class="flex justify-center" *ngIf="!dataFetched"></vex-loading>-->
<!--  </div>-->
<!--</div>-->

