<div *ngIf="this.usuario">
  <div class="p-gutter" vexContainer>
    <form (ngSubmit)="save()" [formGroup]="form">
      <div class="card">
        <div class="p-6">
          <div class="mb-6" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="title" fxLayout="row" fxLayoutAlign="start center">
              <span @scaleIn class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
                <button mat-icon-button (click)="navigateBack()">
                  <ic-icon [icon]="icBack" size="24px"></ic-icon>
                </button>
              </span>
              <span @fadeInRight class="block">Información general del usuario</span>
            </h2>
            <span fxFlex></span>
            <vex-loading></vex-loading>

          </div>
          <div fxLayout="column"
               class="pt-6 border-t md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div class="block w-full">
                <ng-multiselect-dropdown
                  [placeholder]="'Seleccione los roles'"
                  [settings]="dropdownSettings"
                  [data]="roles | async"
                  formControlName="roles"
                >
                </ng-multiselect-dropdown>
              </div>
              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Nombres</mat-label>
                <input required type="text" formControlName="nombres" matInput>
                <mat-error *ngIf="form.get('nombres').hasError('required')">{{errorMessages.required}}</mat-error>

              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Apellidos</mat-label>
                <input type="text" formControlName="apellidos" matInput required>
                <!--              <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>-->
                              <mat-error *ngIf="form.get('apellidos').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Tipo identificación</mat-label>
                <mat-select formControlName="idTipoIdentificacion" required>
                  <mat-option *ngFor="let tipo of tiposIdentifiacion" [value]="tipo.id">
                    {{tipo.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.get('idTipoIdentificacion').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Número de identificación</mat-label>
                <input type="text" formControlName="cedula" matInput [required]="numeroIdentifiacionIsRequired">
                <mat-hint align="start"
                          *ngIf="form.get('cedula').invalid ? form.get('cedula').errors.uniqueNumeroArchivo : false">
                  Ya existe un paciente con este numero de identifiación.
                </mat-hint>
                <mat-error *ngIf="form.get('cedula').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" required>
                  <mat-option *ngFor="let sexo of sexoList" [value]="sexo.value">{{sexo.title}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('sexo').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Fecha de nacimiento</mat-label>
                <input formControlName="fechaNacimiento" matInput (click)="datepickerRef.open()"
                       (focus)="datepickerRef.open()" [max]="today" [matDatepicker]="datepickerRef">
                <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #datepickerRef></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Nacionalidad</mat-label>
                <mat-select formControlName="nacionalidad">
                  <mat-option *ngFor="let nac of nacionalidades | async"
                              [value]="nac.descripcion">{{nac.descripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('nacionalidad').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Auto Identificación</mat-label>
                <mat-select formControlName="idEtnia" required>
                  <mat-option *ngFor="let gc of etnias | async"
                              [value]="gc.id">{{gc.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('idEtnia').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Formación Profesional</mat-label>
                <mat-select formControlName="idFormacionProfesional" required (selectionChange)="cargarEspecialidades()">
                  <mat-option *ngFor="let mb of formacionesProfesionales | async"
                              [value]="mb.id">{{mb.nombre}} </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.get('idFormacionProfesional').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Especialidad Profesional</mat-label>
                <mat-select formControlName="idEspecialidadProfesional">
                  <mat-option *ngFor="let cd of especialidadesProfesionales | async"
                              [value]="cd.id">{{cd.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Código MSP</mat-label>
                <input type="text" formControlName="codigoMsp" matInput required>
  <!--              <mat-icon [icIcon]="icPerson" class="ltr:mr-3 rtl:ml-3" matPrefix></mat-icon>-->
                <mat-error *ngIf="form.get('codigoMsp').hasError('required')">{{errorMessages.required}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Dispensario</mat-label>
                <mat-select formControlName="idDispensario" required>
                  <mat-option *ngFor="let dispensario of dispensarios | async"
                              [value]="dispensario.id">{{dispensario.unidadOperativa}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-label>Área de atención</mat-label>
                <mat-select formControlName="idAreaSalud" required>
                  <mat-option *ngFor="let areaSalud of areasSalud | async"
                              [value]="areaSalud.id">{{areaSalud.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button mat-button type="button" (click)="navigateBack()">CANCELAR</button>
            <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR
            </button>
            <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR
            </button>
            <vex-loading></vex-loading>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
