<div class="mt-6 flex flex-col md:flex-row md:items-start" *ngIf="saludUser | async as user">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Información salud</h2>
      </div>
      <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icClinic" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.dispensario.unidadOperativa}}</p>
            <p class="m-0 caption text-hint">Dispensario</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icStethoscope" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.areaSalud.nombre}}</p>
            <p class="m-0 caption text-hint">Área de salud</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icAccount" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.nombres}} {{user.apellidos}}</p>
            <p class="m-0 caption text-hint">Nombres completos</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icIdCard" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.cedula}}</p>
            <p class="m-0 caption text-hint">Cédula</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icMail" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.correoInstitucional}}</p>
            <p class="m-0 caption text-hint">Correo institucional</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon *ngIf="user.activo" [icon]="icToggleOn" size="20px"></ic-icon>
            <ic-icon *ngIf="!user.activo" [icon]="icToggleOff" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.activo ? 'Si' : 'No'}}</p>
            <p class="m-0 caption text-hint">Activo</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icIdEspe" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.idBanner}}</p>
            <p class="m-0 caption text-hint">ID Institucional</p>
          </div>

        </div>


        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icIdMsp" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.codigoMsp}}</p>
            <p class="m-0 caption text-hint">Codigo MSP</p>
          </div>

        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icIdUser" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.formacionProfesional.nombre}}</p>
            <p class="m-0 caption text-hint">Formación Profesional</p>
          </div>

        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icIdUser" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.especialidadProfesional.nombre}}</p>
            <p class="m-0 caption text-hint">Especialidad Profesional</p>
          </div>

        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icGenderless" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{user.etnia.nombre}}</p>
            <p class="m-0 caption text-hint">Auto Identificación</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icSexo" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{user.sexo}}</p>
            <p class="m-0 caption text-hint">Sexo</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
    <div fxLayout="column">
      <div class="card">
        <div class="px-6 py-4 border-b">
          <h2 class="title m-0">Firmas</h2>
        </div>
        <vex-firma-usuario [pidm]="user.pidm" [firma]="user.firma"></vex-firma-usuario>
      </div>
    </div>
  </div>
</div>
