<div [ngClass]="{ 'ltr:mr-gutter rtl:ml-gutter mb-gutter': isDesktop$ | async }"
     class="m-6 flex-auto bg-white rounded shadow flex flex-col overflow-hidden">

  <div class="flex-auto flex overflow-hidden">
    <ng-container *ngIf="gtSm$ | async">


      <div @stagger class="flex-1 py-3">
        <vex-examen-list-entry (selectedChange)="$event ? selection.select(examen.id) : selection.deselect(examen.id)"
                               *ngFor="let examen of examenesLaboratorio$ | async; trackBy: trackById"
                               @fadeInUp
                               [examen]="examen"
                               [selected]="selection.isSelected(examen.id)"
                               class="block"></vex-examen-list-entry>
      </div>
      <div class="flex-1 flex flex-col ltr:border-l rtl:border-r">
        <router-outlet></router-outlet>
      </div>
    </ng-container>
    <ng-container *ngIf="!(gtSm$ | async)">
      <div @stagger class="flex-1 py-3">
        <vex-examen-list-entry (selectedChange)="$event ? selection.select(examen.id) : selection.deselect(examen.id)"
                               *ngFor="let examen of examenesLaboratorio$ | async; trackBy: trackById"
                               @fadeInUp
                               [examen]="examen"
                               [selected]="selection.isSelected(examen.id)"
                               class="block"></vex-examen-list-entry>
      </div>
    </ng-container>
  </div>
</div>
