<div class="py-4" gdColumns="2fr 2fr" gdColumns.xs="1fr" gdGap="16px" >
  <div  class="card mt-6">
    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Indicadores De Salud Bucal</h2>
      <div class="rounded-full mx-auto mt-6 px-6 pb-1" ></div>   
      <button (click)="guardarIndicadores()" class="ml-4 rounded-full" color="primary" fxFlex="none" mat-raised-button
              matTooltip="Guardar" type="button" >
        <mat-icon [icIcon]="icSave"></mat-icon>
        <span> Guardar</span>
      </button>
    </div>
    <div class="card overflow-auto w-full" fxLayout="column">
          <!--ENCABEZADO DE TABLA-->
          <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
            <div class=" px-20" fxLayout="column" fxLayoutAlign="start center">
              <div  fxFlex="auto" class="uppercase">PIEZA</div>
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
              <div  fxFlex="auto" class="uppercase">PLACA</div>
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
              <div  fxFlex="auto" class="uppercase">CÁLCULO</div>
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
              <div  fxFlex="auto" class="uppercase">GINGIVITIS</div>
            </div>
          </div>

            <!--GRUPO1-->
            <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="pieza_1">
                  <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                      <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                    </div>
                    
                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                      <mat-radio-button [value]="16"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">16</div>
                    </div>

                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                      <mat-radio-button [value]="17"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">17</div>
                    </div>

                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                      <mat-radio-button [value]="55"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">55</div>
                    </div>
                  </div>
                </mat-radio-group>
              <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                  <input matInput [(ngModel)]="nivel_placa_1" type="number" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
              </div>
              <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                  <input matInput [(ngModel)]="nivel_calculo_1" type="number" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
              </div>
              <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                  <input matInput [(ngModel)]="nivel_gingivitis_1" type="number" (change)="calcularPromedios()"[value]="0" min="0" max="1" style="max-width: 35px;padding-left: 25px;">
              </div>
            </div>

            <!--GRUPO2-->
            <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="pieza_2">
                  <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                      <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                    </div>
                    
                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                      <mat-radio-button [value]="11"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">11</div>
                    </div>

                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                      <mat-radio-button [value]="21"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">21</div>
                    </div>

                    <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                      <mat-radio-button [value]="54"></mat-radio-button>
                      <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">51</div>
                    </div>
                  </div>
                </mat-radio-group>
              <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                  <input matInput type="number" [(ngModel)]="nivel_placa_2" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
              </div>
              <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                  <input matInput type="number" [(ngModel)]="nivel_calculo_2" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
              </div>
              <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                  <input matInput type="number" [(ngModel)]="nivel_gingivitis_2" (change)="calcularPromedios()"[value]="0" min="0" max="1" style="max-width: 35px;padding-left: 25px;">
              </div>
            </div>


          <!--GRUPO3-->
          <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="pieza_3" >
                <div class="py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                    <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                  </div>
                  
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="26"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">26</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="27"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">27</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="65"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">65</div>
                  </div>
                </div>
              </mat-radio-group>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                <input matInput type="number"  [(ngModel)]="nivel_placa_3" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                <input matInput type="number" [(ngModel)]="nivel_calculo_3" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                <input matInput type="number"[(ngModel)]="nivel_gingivitis_3" (change)="calcularPromedios()"[value]="0" min="0" max="1" style="max-width: 35px;padding-left: 25px;">
            </div>
          </div>

          <!--GRUPO4-->
          <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="pieza_4">
              <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                  <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                </div>
                
                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                  <mat-radio-button [value]="36"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">36</div>
                </div>

                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                  <mat-radio-button [value]="37"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">37</div>
                </div>

                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                  <mat-radio-button [value]="75"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">75</div>
                </div>
              </div>
            </mat-radio-group>
          <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
              <input matInput type="number"  [(ngModel)]="nivel_placa_4" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
          </div>
          <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
              <input matInput type="number" [(ngModel)]="nivel_calculo_4" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
          </div>
          <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
              <input matInput type="number" [(ngModel)]="nivel_gingivitis_4" (change)="calcularPromedios()"[value]="0" min="0" max="1" style="max-width: 35px;padding-left: 25px;">
          </div>
          </div>



          <!--GRUPO5-->
          <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="pieza_5">
                <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                    <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                  </div>
                  
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="31" ></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">31</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="41"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">41</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="71"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">71</div>
                  </div>
                </div>
              </mat-radio-group>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                <input matInput type="number" [(ngModel)]="nivel_placa_5" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                <input matInput type="number" [(ngModel)]="nivel_calculo_5" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
            </div>
            <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
                <input matInput type="number" [(ngModel)]="nivel_gingivitis_5" (change)="calcularPromedios()"[value]="0" min="0" max="1" style="max-width: 35px;padding-left: 25px;">
            </div>
          </div>


        <!--GRUPO6-->
        <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="pieza_6">
            <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
              <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
              </div>
              
              <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                <mat-radio-button [value]="46"></mat-radio-button>
                <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">46</div>
              </div>

              <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                <mat-radio-button [value]="47"></mat-radio-button>
                <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">47</div>
              </div>

              <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                <mat-radio-button [value]="85"></mat-radio-button>
                <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">85</div>
              </div>
            </div>
          </mat-radio-group>
        <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
            <input matInput type="number" [(ngModel)]="nivel_placa_6" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
        </div>
        <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
            <input matInput type="number" [(ngModel)]="nivel_calculo_6" (change)="calcularPromedios()"[value]="0" min="0" max="3" style="max-width: 35px;padding-left: 25px;">
        </div>
        <div class=" px-6" fxLayout="column" fxLayoutAlign="start center">
            <input matInput type="number" [(ngModel)]="nivel_gingivitis_6" (change)="calcularPromedios()"[value]="0" min="0" max="1" style="max-width: 35px;padding-left: 25px;">
        </div>
      </div>


      <!--TOTAL-->
      <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
        <div class=" px-20" fxLayout="column" fxLayoutAlign="start center">
          <div  fxFlex="auto" >Total</div>
        </div>
        <div class=" px-6" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 50px;">
          {{promedio_placa}}
        </div>
        <div class=" px-6" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 75px;">
          {{promedio_calculo}}
        </div>
        <div class=" px-6" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 75px;">
          {{promedio_gingivitis}}
        </div>
      
      </div>





    </div>
  </div>
  <div  class="card mt-6" style="height: 275px;">
    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Indicadores Generales</h2>
      <div class="rounded-full mx-auto mt-6 px-6 pb-1" ></div>   
      <button (click)="guardarIndicadores()" class="ml-4 rounded-full" color="primary" fxFlex="none" mat-raised-button
              matTooltip="Guardar" type="button" >
        <mat-icon [icIcon]="icSave"></mat-icon>
        <span> Guardar</span>
      </button>
    </div>
    <div>
        <!--Enfermedad Periodontal-->
        <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
          <div class=" px-6" fxLayout="column" fxLayoutAlign="start center" style="width: 40%;">
            <h5 style="text-align:center;">Enfermedad Periodontal</h5>
          </div> 
          <div style="width: 60%;">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="enfermedad_periodontal" >
              <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                  <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                </div>
                
                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                  <mat-radio-button [value]="1"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Leve</div>
                </div>

                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                  <mat-radio-button [value]="2"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Moderada</div>
                </div>

                <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                  <mat-radio-button [value]="3"></mat-radio-button>
                  <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Severa</div>
                </div>
              </div>
          </mat-radio-group>
          </div>
        </div>  

        <!--Mal Oclusión-->
        <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
          <div class=" px-6" fxLayout="column" fxLayoutAlign="start center" style="width: 40%;">
            <h5  style="text-align:center;">Mal Oclusion</h5>
          </div>  
          <div style="width: 60%;">
            <mat-radio-group aria-label="Select an option"  [(ngModel)]="mal_oclusion">
                <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                    <mat-radio-button [value]="0" checked="checked"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                  </div>
                  
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="1"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Angle I</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="2"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Angle II</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="3"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Angle III</div>
                  </div>
                </div>
            </mat-radio-group>
          </div>
        </div>  


        <!--Fluorosis-->
        <div class="border-b py-1 px-6" fxLayout="row" fxLayoutAlign="start center">
          <div class=" px-6" fxLayout="column" fxLayoutAlign="start center" style="width: 40%;">
            <h5  style="text-align:left;">Fluorosis</h5>
          </div>  
          <div style="width: 60%;">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="fluorosis" >
                <div class=" py-1 px-3" fxLayout="row" fxLayoutAlign="start center" >
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center">
                    <mat-radio-button [value]="0"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Ausente</div>
                  </div>
                  
                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="1"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Leve</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="2"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Moderada</div>
                  </div>

                  <div class=" px-1" fxLayout="column" fxLayoutAlign="start center" style="padding-left: 10px;">
                    <mat-radio-button [value]="3"></mat-radio-button>
                    <div style="margin-left: -10px;font-size: 9pt; margin-top: 5px;">Severa</div>
                  </div>
                </div>
            </mat-radio-group>
          </div>
        </div>  
    </div>
  </div>
</div>


