<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar estudio complementario</h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">Nuevo estudio complementario</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Nombre de estudio realizado</mat-label>
          <input [formControl]="tipoEstudiosCatalogo" formControlName="nombreEstudio" [matAutocomplete]="autoTipoEstudio"
                 matInput required>
          <mat-icon [icIcon]="icMicroscope" class="mr-3" matPrefix></mat-icon>
          <mat-autocomplete autoActiveFirstOption #autoTipoEstudio="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let estudio of filteredEstudiosCatalogo$ | async" [value]="estudio">
              <span class="body-1">{{estudio.nombre}}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="tipoEstudiosCatalogo.reset()" *ngIf="tipoEstudiosCatalogo.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!tipoEstudiosCatalogo.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-error *ngIf="tipoEstudiosCatalogo.hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Fecha de estudio realizado</mat-label>
          <mat-datepicker-toggle [for]="datepickerRef" class="block" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <input [matDatepicker]="datepickerRef" (click)="datepickerRef.open()" (focus)="datepickerRef.open()"
                 formControlName="fechaEstudio" [max]="maxDate" required matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Descripción de estudio, hallazgos y conclusiones</mat-label>
          <textarea rows="5" formControlName="descripcionEstudio" matInput required></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
