<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="flex justify-between" *ngIf="paciente.tipoPaciente === tipoPaciente.EXTERNO">
      <div (click)="actualizarEmpleado()"
           class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-green-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-green-light text-green rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icEdit" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-green">Modificar empleado</p>
      </div>
    </div>
    <div class="card mt-6">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Información del empleado</h2>
      </div>

      <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr"
           gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icFecha" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.fechaIngresoLaboral}}</p>
            <p class="m-0 caption text-hint">Fecha ingreso laboral</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icSede" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.campus}}</p>
            <p class="m-0 caption text-hint">Campus</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icBuilding" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.departamento}}</p>
            <p class="m-0 caption text-hint">Departamento</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icBuilding" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.seccion}}</p>
            <p class="m-0 caption text-hint">Sección</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCanton" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.provinciaTrabajo}}</p>
            <p class="m-0 caption text-hint">Provincia de trabajo</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCanton" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.cantonTrabajo}}</p>
            <p class="m-0 caption text-hint">Cantón de trabajo</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCanton" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.parroquiaTrabajo}}</p>
            <p class="m-0 caption text-hint">Parroquia de trabajo</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icDireccion" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.direccionLaboral}}</p>
            <p class="m-0 caption text-hint">Dirección laboral</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icArea" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
<!--            TODO Actualmente solo se cambio el lugar de trabajo por situacion administrativa. Cuando se obtengan mas datos de banner este campo se debera cmabiar desde el backend a lo que en realidad corresponde.-->
            <p class="m-0 body-1">{{paciente.empleado.situacionAdministrativa}}</p>
            <p class="m-0 caption text-hint">Área trabajo</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icBadge" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.cargoTrabajoActual}}</p>
            <p class="m-0 caption text-hint">Cargo trabajo actual</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icProfesion" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.empleado.areaTrabajo}}</p>
            <p class="m-0 caption text-hint">Situación Administrativa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Right menu-->
  <div class="max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
    <div fxLayout="column">
      <div class="card">
        <div class="px-6 py-4 border-b">
          <h2 class="title m-0">Puesto de trabajo</h2>
        </div>
<!--        <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px">-->
<!--          <div @fadeInRight fxFlex="auto">-->
<!--            <div class="py-3" fxLayout="row" fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icCode" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.ciuo}}</p>-->
<!--                <p class="m-0 caption text-hint">CIUO</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div *ngIf="paciente.empleado.actividadesRelevantes !== ''" class="py-3" fxLayout="row"-->
<!--                 fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icActividad" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.actividadesRelevantes}}</p>-->
<!--                <p class="m-0 caption text-hint">Actividades relevantes al puesto</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="py-3" fxLayout="row" fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icHora" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.horasTrabajoDia}}</p>-->
<!--                <p class="m-0 caption text-hint">Horas trabajo al dia</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="py-3" fxLayout="row" fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icHora" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.horasTrabajoMes}}</p>-->
<!--                <p class="m-0 caption text-hint">Horas trabajo al mes</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="py-3" fxLayout="row" fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icHora" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.horasTrabajoSemana}}</p>-->
<!--                <p class="m-0 caption text-hint">Horas trabajo a la semana</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="py-3" fxLayout="row" fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icHora" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.tipoJornadaLaboral}}</p>-->
<!--                <p class="m-0 caption text-hint">Tipo jornada laboral</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="py-3" fxLayout="row" fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icMisionServicio" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.cumpleMisionServicio}}</p>-->
<!--                <p class="m-0 caption text-hint">¿Cumple comisión / misión servicios?</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div *ngIf="paciente.empleado.observacionHorario !== ''" class="py-3" fxLayout="row"-->
<!--                 fxLayoutAlign="start center">-->
<!--              <div @scaleIn-->
<!--                   class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">-->
<!--                <ic-icon [icon]="icObservacion" size="20px"></ic-icon>-->
<!--              </div>-->
<!--              <div @fadeInRight>-->
<!--                <p class="m-0 body-1">{{paciente.empleado.observacionHorario}}</p>-->
<!--                <p class="m-0 caption text-hint">Observación horario laboral</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="px-gutter py-4" *ngIf="!paciente.empleado.puestoTrabajo" @scaleFadeIn fxLayout="column"
             fxLayoutAlign="center center">
          <img class="m-15 h-32" src="assets/img/illustrations/no_data_blue.svg">
          <p class="mt-6 body-1 text-center">Aún no se han registrado datos del puesto de trabajo.</p>
<!--          <button (click)="registerPuestoTrabajo()" class="mt-3" mat-raised-button color="primary">Registrar</button>-->
        </div>

      </div>
    </div>
  </div>
</div>


