<div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px">

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icInfo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.barrio}}</p>
      <p class="m-0 caption text-hint">Barrio</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icInfo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.callePrincipal}}</p>
      <p class="m-0 caption text-hint">Calle Principal</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icInfo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.calleSecundaria}}</p>
      <p class="m-0 caption text-hint">Calle Secundaria</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCorreo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.correoInstitucional}}</p>
      <p class="m-0 caption text-hint">Correo Institucional</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCorreo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.correoPersonal}}</p>
      <p class="m-0 caption text-hint">Correo Personal</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icExtension" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.extension}}</p>
      <p class="m-0 caption text-hint">Extensión</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.cantonResidencia}}</p>
      <p class="m-0 caption text-hint">Cantón residencia</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.provinciaResidencia}}</p>
      <p class="m-0 caption text-hint">Provincia residencia</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCelular" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.numeroCelular}}</p>
      <p class="m-0 caption text-hint">Número celular</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icConvencional" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.numeroConvencional}}</p>
      <p class="m-0 caption text-hint">Número convencional</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.parroquiaResidencia}}</p>
      <p class="m-0 caption text-hint">Parroquia</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.zonaGeografica}}</p>
      <p class="m-0 caption text-hint">Zona Geográfica</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.contacto.direccionReferencia}}</p>
      <p class="m-0 caption text-hint">Dirección de referencia</p>
    </div>
  </div>
</div>
