<vex-page-layout>

  <vex-secondary-toolbar current="Documentation">
    <vex-breadcrumbs [crumbs]="['Documentación', 'Registro de cambios']" fxFlex="auto"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <vex-page-layout-content vexContainer>
    <div class="card p-gutter relative">
      <showdown src="/CHANGELOG.md"></showdown>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
