<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div>ALERTA</div>
  <button type="button" mat-icon-button (click)="close()" tabindex="-1">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p class="text-danger-default">{{message}}</p>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="close()">Aceptar</button>
</mat-dialog-actions>
