<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto">
      Actualizar colección ayuda
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto">
      Nueva colección ayuda
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Título</mat-label>
          <input formControlName="titulo" matInput required>
          <mat-error *ngIf="form.get('titulo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Subtítulo</mat-label>
          <input formControlName="slug" matInput required>
          <mat-error *ngIf="form.get('slug').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Icono</mat-label>
          <input [formControl]="selectCtrl" [matAutocomplete]="auto" matInput>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let icon of filteredIcons" [value]="icon">
              <mat-icon class="example-option-icon" [fontIcon]="icon" fontSet="fa"></mat-icon>
              <span class="body-2 text-secondary text-center">{{ icon }}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.get('icono').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    <button *ngIf="isUpdateMode()" [disabled]="form.invalid" color="primary" mat-button type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
