<vex-title-page
  title="Gráficos estadísticos"
  explanation="Visualiza y descarga los reportes correspondientes a todos los dispensarios de la UFA.">
</vex-title-page>
<div class="my-12 container pb-12"
     gdAlignColumns="start start"
     gdColumns="1fr 1fr"
     gdColumns.lt-md="1fr"
     gdGap="24px">

  <div class="card max-w-full overflow-hidden p-3">
    <mat-nav-list>
      <h3 mat-subheader>Reportes por mes</h3>
      <a (click)="openCie10Table()" class="rounded overflow-hidden" mat-list-item>
        <mat-icon [icIcon]="icDescription" mat-list-icon></mat-icon>
        <span matLine>Total de pacientes atendidos por código CIE10</span>
      </a>
      <a (click)="report.onClick(report)"
         *ngFor="let report of monthlyReports; trackBy: trackById"
         class="rounded overflow-hidden"
         mat-list-item>
        <mat-icon [icIcon]="report.icon" mat-list-icon></mat-icon>
        <span matLine>{{ report.label }}</span>
      </a>
    </mat-nav-list>
  </div>
</div>
