<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Actualizar registro
    </h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo registro
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Procedimiento</mat-label>
      <input [formControl]="procedimientoCtrl" [matAutocomplete]="autoProcedimiento" matInput required>
      <mat-autocomplete #autoProcedimiento="matAutocomplete">
        <mat-option *ngFor="let ud of filteredProcedimientos | async" [value]="ud.nombre">
          <span class="body-1">{{ ud.nombre }}</span>
        </mat-option>
      </mat-autocomplete>
      <button (click)="procedimientoCtrl.reset()" *ngIf="procedimientoCtrl.value" mat-icon-button
              matSuffix
              type="button">
        <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
      </button>
      <button *ngIf="!procedimientoCtrl.value" mat-icon-button matSuffix type="button">
        <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Numero de Actividades</mat-label>
      <input type="number" formControlName="numeroActividades" matInput required  type="number">
    </mat-form-field>

    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Observación</mat-label>
      <textarea rows="5" formControlName="nota" matInput></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ACTUALIZAR</button>
  </mat-dialog-actions>

</form>
