<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0"
      fxFlex="auto">Registro de enfermeria</h2>

<!--  <h2 *ngIf="!antropometriaFormGroup.get('id').value" class="headline m-0"-->
<!--      fxFlex="auto">Actualización registro de enfermeria</h2>-->
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content>
  <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
    <ng-template matStepperIcon="edit">
      <mat-icon [icIcon]="icDoneAll"></mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon [icIcon]="icDoneAll"></mat-icon>
    </ng-template>

    <mat-step *ngIf="antropometriaFormGroup" [stepControl]="antropometriaFormGroup">
      <form [formGroup]="antropometriaFormGroup">
        <ng-template matStepLabel>Antropometría</ng-template>
        <h2 class="title m-0">Antropometría</h2>
        <div class="subheading-1">Datos correpondientes a la antropometría del paciente.</div>

        <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-6">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Perímetro abdominal en (cm)</mat-label>
              <input type="number" formControlName="perimetroAbdominal" min="0" max="10000" matInput>
              <span class="px-5" matSuffix>cm</span>
              <mat-error
                *ngIf="antropometriaFormGroup.get('perimetroAbdominal').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error
                *ngIf="antropometriaFormGroup.get('perimetroAbdominal').hasError('max')">{{errorMessages.max}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Peso en (Kg)</mat-label>
              <input type="number" formControlName="peso" min="0" max="10000" matInput (keyup)="setPeso($event) ">
              <span class="px-5" matSuffix>Kg</span>
              <mat-error *ngIf="antropometriaFormGroup.get('peso').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error *ngIf="antropometriaFormGroup.get('peso').hasError('max')">{{errorMessages.max}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Talla en (cm)</mat-label>
              <input type="number" formControlName="talla" matInput (keyup)="setTalla($event)" min="0" max="1000">
              <span class="px-5" matSuffix>cm</span>
              <mat-error *ngIf="antropometriaFormGroup.get('talla').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error *ngIf="antropometriaFormGroup.get('talla').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="antropometriaFormGroup.get('talla').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Índice de masa corporal en (kg/m2)</mat-label>
              <input type="number" formControlName="indiceMasaCorporal" matInput>
              <span class="px-5" matSuffix>kg/m2</span>
            </mat-form-field>
          </div>
        </div>

        <mat-dialog-actions align="end">
          <button (click)="stepper.reset()" [disabled]="antropometriaFormGroup.pristine" color="primary" mat-button
                  type="button">LIMPIAR
          </button>
          <button [disabled]="antropometriaFormGroup.invalid" color="primary" mat-raised-button matStepperNext>SIGUIENTE
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>

    <mat-step *ngIf="signoVitalFormGroup" [stepControl]="signoVitalFormGroup">
      <form [formGroup]="signoVitalFormGroup">
        <ng-template matStepLabel>Signos vitales</ng-template>

        <h2 class="title m-0">Signos vitales</h2>
        <div class="subheading-1">Ingrese los signos vitales del paciente.</div>
        <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-6">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Frecuencia cardiaca</mat-label>
              <input type="number" formControlName="frecuenciaCardiaca" min="30" max="200" matInput>
              <span class="px-5" matSuffix>Lat/min</span>
              <mat-error
                *ngIf="signoVitalFormGroup.get('frecuenciaCardiaca').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('frecuenciaCardiaca').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('frecuenciaCardiaca').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label class="px-6">Presión arterial</mat-label>
              <div role="group" class="presion-div">
                <input class="presion-input" type="number" formControlName="presionArterial" min="0" max="200" matInput>
                <span>&#47;</span>
                <input class="presion-input" type="number" formControlName="diastole" min="0" max="200" matInput>

              </div>
              <mat-error
                *ngIf="signoVitalFormGroup.get('presionArterial').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('presionArterial').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('presionArterial').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
              <mat-error *ngIf="signoVitalFormGroup.get('diastole').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error *ngIf="signoVitalFormGroup.get('diastole').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('diastole').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
              <span class="px-5" matSuffix>mmHg</span>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Frecuencia respiratoria</mat-label>
              <input type="number" formControlName="frecuenciaRespiratoria" min="1" max="60" matInput>
              <span class="px-5" matSuffix>fr/min</span>
              <mat-error
                *ngIf="signoVitalFormGroup.get('frecuenciaRespiratoria').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('frecuenciaRespiratoria').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('frecuenciaRespiratoria').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Saturación de oxígeno</mat-label>
              <input type="number" formControlName="saturacionOxigeno" min="20" max="100" matInput>
              <span class="px-5" matSuffix>O2%</span>
              <mat-error
                *ngIf="signoVitalFormGroup.get('saturacionOxigeno').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('saturacionOxigeno').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('saturacionOxigeno').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Temperatura</mat-label>
              <input type="number" formControlName="temperatura" min="35" max="42" matInput>
              <span class="px-5" matSuffix>°C</span>
              <mat-error
                *ngIf="signoVitalFormGroup.get('temperatura').hasError('min')">{{errorMessages.min}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('temperatura').hasError('max')">{{errorMessages.max}}</mat-error>
              <mat-error
                *ngIf="signoVitalFormGroup.get('temperatura').hasError('pattern')">{{errorMessages.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="isFemenino()" appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Fecha última menstruación</mat-label>
              <input [matDatepicker]="datepicker4"
                     formControlName="fechaUltimaMenstruacion"
                     (click)="datepicker4.open()"
                     (focus)="datepicker4.open()"
                     [max]="maxDate" matInput>
              <mat-datepicker-toggle [for]="datepicker4" class="block" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepicker4></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <mat-dialog-actions align="end">
          <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
          <button [disabled]="signoVitalFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
            SIGUIENTE
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>

    <mat-step *ngIf="preConsultaFormGroup" [stepControl]="preConsultaFormGroup">
      <form [formGroup]="preConsultaFormGroup">
        <ng-template matStepLabel>PreConsulta</ng-template>

        <h2 class="title m-0">Casi hemos terminado!</h2>
        <div class="subheading-1">Para finalizar el registro ingrese una nota de pre consulta.</div>
        <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-6">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Área de salud</mat-label>
              <mat-select formControlName="idAreaSalud">
                <mat-option *ngFor="let areaSalud of areasSalud | async" [value]="areaSalud.id">
                  {{ areaSalud.nombre }}
                </mat-option>
              </mat-select>
              <mat-icon [icIcon]="icClinic" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Dispensario</mat-label>
              <mat-select formControlName="idDispensario">
                <mat-option *ngFor="let dispensario of dispensarios | async" [value]="dispensario.id">
                  {{ dispensario.unidadOperativa }}
                </mat-option>
              </mat-select>
              <mat-icon [icIcon]="icHospital" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
                            class="vex-dense-form-field body-1">
              <mat-label>Nota de preconsulta</mat-label>
              <textarea cdkAutosizeMinRows="2"
                        formControlName="preConsulta"
                        matInput
                        matTextareaAutosize></textarea>
            </mat-form-field>
          </div>
        </div>

        <mat-dialog-actions align="end" class="mt-6">
          <button color="primary" mat-button matStepperPrevious type="button">ATRÁS</button>
          <button *ngIf="isCreateMode()" (click)="save()" [disabled]="preConsultaFormGroup.invalid" color="primary" mat-raised-button
                  matStepperNext>
            GUARDAR NOTA
          </button>

          <button *ngIf="isUpdateMode()" (click)="save()" [disabled]="preConsultaFormGroup.invalid" color="primary" mat-raised-button
                  matStepperNext>
            ACTUALIZAR NOTA
          </button>
          <vex-loading></vex-loading>
        </mat-dialog-actions>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
