<form (ngSubmit)="createPdf()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">
      Certificado de buena salud
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">
    <div class="pb-6" fxLayout="column" fxLayoutGap="16px">
      <mat-radio-group formControlName="aptitudMedica" color="accent" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
        <mat-radio-button value="APTO">Apto</mat-radio-button>
        <mat-radio-button value="APTOENOBSERVACION">Apto en observación</mat-radio-button>
        <mat-radio-button value="APTOCONLIMITACIONES">Apto con limitaciones</mat-radio-button>
        <mat-radio-button value="NOAPTO">No apto</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-label>Observaciones</mat-label>
      <textarea rows="3" formControlName="observaciones" matInput required></textarea>
      <mat-error *ngIf="form.get('observaciones').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-label>Recomendaciones</mat-label>
      <textarea rows="3" formControlName="recomendacion" matInput required></textarea>
      <mat-error *ngIf="form.get('recomendacion').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button color="primary" mat-button type="submit">DESCARGAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
