<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<div *ngIf="this.pacienteActual" class="pb-6">
  <div class="h-full" fxLayout="column">
    <div class="px-6 pt-6 pb-0" fxFlex="none">
      <div vexContainer>
        <h1 class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn
            class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icMedKit" size="24px"></ic-icon>
      </span>
          <span @fadeInRight class="block title font-medium pr-3">Notas de evolución</span>
          <vex-breadcrumbs [crumbs]="['Notas de evolución']"></vex-breadcrumbs>
        </h1>
      </div>
    </div>

    <div class="mx-6 mt-6" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
          fxHide.sm>
        <span>Notas evolución</span>
      </h2>

      <div class="bg-card rounded-full border px-4"
           fxFlex="100%"
           fxFlex.lt-md="auto"
           fxHide.xs
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-3 border-0 outline-none w-full bg-transparent"
               placeholder="Buscar..."
               type="search">
      </div>

      <span fxFlex></span>

      <button (click)="createEvolucion()"
              color="primary"
              fxFlex="none"
              fxHide.gt-xs
              mat-mini-fab
              class="ml-4"
              matTooltip="Nueva nota de evolución"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>

      <button (click)="createEvolucion()"
              class="ltr:ml-4 rtl:mr-4"
              color="primary"
              fxFlex="none"
              fxHide.xs
              mat-raised-button
              type="button">
        <ic-icon [icon]="icAdd"
                 class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                 inline="true"
                 size="20px"></ic-icon>
        <span>AGREGAR NOTA</span>
      </button>
    </div>
  </div>

  <div class="card overflow-auto mx-6 mt-6" fxLayout="column">
    <div
      *ngFor="let evolucion of evoluciones$ | async; trackBy: trackById"
      fxLayout="row"
      class="block border-b"
      fxLayoutAlign="start center">
      <div (click)="availableToModify(evolucion.fechaInicio) ? updateEvolucion(evolucion) : null"
           [ngClass]="{'hover:bg-hover trans-ease-out cursor-pointer': availableToModify(evolucion.fechaInicio)}"
           class="flex py-3 transition ease-in-out duration-200 w-full px-6">
        <div fxHide.xs class="flex-none flex flex-col ltr:pr-4 rtl:pl-4">
          <div class="w-8 h-8 rounded-full overflow-hidden mt-1 flex-none">
            <img matTooltip="{{evolucion.usuario.nombres}}" [src]="getUserImage(evolucion.usuario.idBanner)" class="w-full h-full object-fit"/>
          </div>
          <span class="flex-1"></span>
        </div>
        <div class="truncate w-full">
          <div class="flex items-end">
            <p
              class="flex-auto text-base leading-normal text-black">
              {{ evolucion.motivoAtencion.nombre }}
              <span class="text-xxs rounded px-1"
                    [ngClass]="getTipoConsultaColors(evolucion.tipoConsulta)">
                {{evolucion.tipoConsulta}}
              </span>
            </p>
            <p class="flex-none text-xs leading-normal text-secondary">{{ getDatetime(evolucion.fechaInicio)}} </p>
          </div>
          <p class="text-sm leading-normal truncate text-secondary">{{evolucion.areaSalud.nombre}}</p>
          <p class="text-xs leading-normal truncate text-secondary">{{evolucion.motivoConsulta}}</p>
          <div class="flex items-start">
            <p class="text-xs text-secondary leading-tight text-wrap truncate mt-1">
              <quill-view [content]="evolucion.notaEvolucion" format="html" theme="snow">
              </quill-view>
            </p>
            <span fxFlex></span>
<!--            <div *ngIf="checkDeaths(litter.deaths)"-->
<!--                 class="px-2 bg-red text-contrast-white box bg-app-bar text-secondary rounded caption ml-2 text-xxs">-->
<!--              <span class="box-text">{{countDeaths(litter.deaths)}} Muertes</span>-->
<!--            </div>-->
            <div
              [ngClass]="getEvolucionStateColor(evolucion.estado)"
              class="px-2 box bg-app-bar text-secondary rounded caption ml-2 text-xxs">
              <span class="box-text">{{evolucion.estado}}</span>
            </div>
<!--            <span class="px-2 box bg-app-bar text-secondary rounded caption text-xxs" [ngClass]="getLabStateColor(pedido.estado)" fxLayoutAlign="center center">-->
<!--                {{pedido.estado}}-->
<!--              </span>-->
          </div>
          <div class="mt-1" fxLayout="row">
            <div>
              <button
                mat-button
                class="text-xs text-bold text-link"
                (click)="$event.stopPropagation();
                showDiagnosticos(evolucion.id)"
              >Diagnósticos</button>
            </div>
            <div>
              <button
                mat-button
                class="text-xs text-bold text-link"
                (click)="$event.stopPropagation();
                showPrescripciones(evolucion)"
              >Prescripciones</button>
            </div>
            <div *ngIf="evolucion.idNotaEnfermeria">
              <button
                mat-button
                class="text-xs text-bold text-link"
                (click)="$event.stopPropagation();
                showNotaEnfermeria(evolucion.idNotaEnfermeria)"
              >Signos vitales</button>
            </div>
          </div>
        </div>
        <div class="w-10 ml-3 text-secondary">
          <button (click)="$event.stopPropagation()"
                  [matMenuTriggerData]="{ evolucion: evolucion }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="(evoluciones$ | async)?.length === 0"
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
      <h2 class="headline m-0 text-center mb-6">No se han encontrado registros</h2>
    </div>
  </div>
  <vex-loading class="flex justify-center"></vex-loading>
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-evolucion="evolucion" matMenuContent>
    <button *ngIf="evolucion.estado === 'BORRADOR'" (click)="finalizeEvolucion(evolucion)" mat-menu-item>
      <mat-icon [icIcon]="icCheck"></mat-icon>
      <span>Finalizar atención</span>
    </button>

    <button *ngIf="availableToModify(evolucion.fechaInicio)" (click)="updateEvolucion(evolucion)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modificar</span>
    </button>

    <button (click)="generateCertificadoBuenaSalud(evolucion)" mat-menu-item>
      <mat-icon [icIcon]="icDownload"></mat-icon>
      <span>Certificado buena salud</span>
    </button>

    <button (click)="generateCertificadoReposo(evolucion)" mat-menu-item>
      <mat-icon [icIcon]="icDownload"></mat-icon>
      <span>Certificado reposo</span>
    </button>
  </ng-template>
</mat-menu>
