<div>
  <div class="h-full" fxLayout="column">
    <div class="px-6 pt-6 pb-0" fxFlex="none">
      <div vexContainer>
        <h1 class="mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn
            class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="icHeartBeat" size="24px"></ic-icon>
      </span>
          <span @fadeInRight class="block title font-medium pr-3">Actividades de enfermería</span>
          <vex-breadcrumbs [crumbs]="['Actividades de enfermería']"></vex-breadcrumbs>
        </h1>
      </div>
    </div>

    <div class="mx-6 mt-6" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="pl-3 title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
          fxHide.sm>
        <span>Actividades de enfermería</span>
      </h2>
      <div class="mr-4 pr-4 border-r" fxFlex="none">
        <button
          color="primary"
          mat-icon-button
          matTooltip="Exportar"
          type="button">
          <mat-icon [icIcon]="icDownload"></mat-icon>
        </button>
        <button
          (click)="print()"
          color="primary"
          mat-icon-button
          matTooltip="Imprimir"
          type="button">
          <mat-icon [icIcon]="icPrint"></mat-icon>
        </button>
      </div>
      <div class="bg-card rounded-full border px-4"
           fxFlex="100%"
           fxFlex.lt-md="auto"
           fxHide.xs
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-3 border-0 outline-none w-full bg-transparent"
               placeholder="Buscar..."
               type="search">
      </div>

      <span fxFlex></span>

      <button (click)="openSearchModal()"
              color="primary"
              fxFlex="none"
              mat-icon-button
              fxHide.gt-xs
              class="ml-4"
              matTooltip="Buscar"
              type="button">
        <mat-icon [icIcon]="icSearch"></mat-icon>
      </button>

      <button [matMenuTriggerFor]="columnFilterMenu"
              color="primary"
              fxFlex="none"
              mat-icon-button
              class="ml-4"
              matTooltip="Filtrar columnas"
              type="button">
        <mat-icon [icIcon]="icFilterList"></mat-icon>
      </button>

      <button (click)="createActividad()"
              color="primary"
              fxFlex="none"
              fxHide.gt-xs
              mat-mini-fab
              class="ml-4"
              matTooltip="Nueva revisión"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>

      <button (click)="createActividad()"
              class="ltr:ml-4 rtl:mr-4"
              color="primary"
              fxFlex="none"
              fxHide.xs
              mat-raised-button
              type="button">
        <ic-icon [icon]="icAdd"
                 class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                 inline="true"
                 size="20px"></ic-icon>
        <span>AGREGAR ACTIVIDAD</span>
      </button>
    </div>
  </div>

  <div class="card overflow-auto mx-6 mt-6" fxLayout="column">
    <table @stagger [dataSource]="dataSource" fxFlex="auto" class="w-full" mat-table matSort>

      <!-- ActividadModel column -->
      <ng-container matColumnDef="tipoActividadEnfermeria">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Tipos de actividades de enfermería</th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
          {{getTipoActividades(row['tipoActividadEnfermeria'])}}
        </td>
      </ng-container>

      <!-- Date Time Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container *ngIf="column.type === 'datetime'" [matColumnDef]="column.property">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
          <td *matCellDef="let row" mat-cell>{{ getFormattedDateTime(row[column.property]) }}</td>
        </ng-container>
      </ng-container>

      <!-- Text Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
        </ng-container>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
          <button (click)="$event.stopPropagation()"
                  [matMenuTriggerData]="{ actividad: row }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr (click)="updateActividad(row)"
          *matRowDef="let row; columns: visibleColumns;"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row></tr>
    </table>
    <div *ngIf="dataSource.filteredData.length === 0"
         @scaleFadeIn
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-48" src="assets/img/illustrations/no_data_blue.svg">
      <h3 class="headline m-0 text-center">No se han encontrado registros</h3>
    </div>

    <mat-paginator
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      class="sticky left-0">
    </mat-paginator>
  </div>


  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
            class="checkbox-item mat-menu-item">
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </mat-menu>

  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-actividad="actividad" matMenuContent>
      <button (click)="updateActividad(actividad)" mat-menu-item>
        <mat-icon [icIcon]="icEdit"></mat-icon>
        <span>Modificar</span>
      </button>
      <button (click)="openDeleteDialog(actividad)" mat-menu-item>
        <mat-icon [icIcon]="icDelete"></mat-icon>
        <span>Eliminar</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
