<vex-loading class="inset-0 flex items-center justify-center"></vex-loading>
<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<vex-antecedente-empty *ngIf="this.pacienteActual && !this.antecedenteLaboral && !(this.loadingService.loading$ | async)"></vex-antecedente-empty>
<vex-page-layout mode="card" *ngIf="this.pacienteActual && this.antecedenteLaboral">
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <div [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between">
        <div>
            <h1 class="title mt-0 mb-1">Antecedentes Laborales</h1>
            <vex-breadcrumbs [crumbs]="['Salud Ocupacional', 'Antecedentes Laborales']"></vex-breadcrumbs>
        </div>

        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                            [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
        <div class="card">
        <nav class="vex-tabs vex-tabs-dense border-0 mt-4" mat-tab-nav-bar>
            <a #rla="routerLinkActive"
            *ngFor="let link of links"
            [active]="rla.isActive"
            [disabled]="link.disabled"
            [routerLink]="link.route"
            mat-tab-link
            queryParamsHandling="preserve"
            [routerLinkActiveOptions]="link.routerLinkActiveOptions || { exact: false }"
            routerLinkActive>
            {{ link.label }}
            </a>
        </nav>
        </div>
        <router-outlet></router-outlet>
    </vex-page-layout-content>

</vex-page-layout>
