<vex-scrollbar *ngIf="examenLaboratorio" @fadeInUp class="flex-auto">
  <div class="p-gutter">
    <div class="mb-gutter flex items-center">
      <a *ngIf="!(gtSm$ | async)" [routerLink]="['../']" class="mr-4" mat-icon-button>
        <mat-icon [icIcon]="icArrowBack" size="24px"></mat-icon>
      </a>
      <p class="text-lg leading-normal">
        <span>{{ examenLaboratorio.examen.nombre }}</span>
        <vex-label *ngIf="examenLaboratorio.completado"
                   class="ml-2 bg-primary-light text-primary"
                   label="Completado"></vex-label>
        <vex-label *ngIf="!examenLaboratorio.completado"
                   class="ml-2 bg-warn-light text-warn"
                   label="Pendiente"></vex-label>
      </p>
    </div>
    <form (ngSubmit)="save()" [formGroup]="form">

      <mat-dialog-content>
        <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
          <div formArrayName="detalles" fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field [formGroupName]="i" *ngFor="let detalleGroup of detallesArray; let i = index;"
                            appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-label>{{detalleGroup.get('detalle').value['nombre']}}</mat-label>
              <input formControlName="valor" matInput>
              <span class="px-5" matSuffix>{{detalleGroup.get('detalle').value['unidad']}}</span>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
    </form>
  </div>
</vex-scrollbar>
