<div class="card">
  <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="m-0 title" fxFlex="auto">Evoluciones este mes</h2>
    <button (click)="openFilterMenu(filtersMenuOriginRef)" mat-icon-button type="button">
      <mat-icon [icIcon]="icCloudDownload" matTooltip="Reporte consolidado" class="text-secondary"></mat-icon>
    </button>
    <div #filtersMenuOriginRef></div>
  </div>

  <div class="py-6 px-6" fxLayout="row" fxLayout.lt-md="column">
    <div class="pb-6 pt-4 px-6" fxFlex="auto" fxLayout="column">
      <h2 class="display-2 font-bold m-0">{{ total }}</h2>
      <h3 class="title font-medium mt-2 mb-0">Evoluciones en el mes</h3>

      <div *ngIf="calculatePercentageDifference() >= 0" class="mt-6" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="w-8 h-8 rounded text-green bg-green-light"
             fxFlex="none"
             fxLayout="row"
             fxLayoutAlign="center center">
          <ic-icon [icon]="faCaretUp" height="20px" inline="true" width="20px"></ic-icon>
        </div>

        <p class="text-secondary-default m-0"><span class="font-medium text-green">{{calculatePercentageDifference()}}% más atenciones</span> en comparación al
          mes
          anterior.</p>
      </div>

      <div *ngIf="calculatePercentageDifference() < 0" class="mt-4" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="w-8 h-8 rounded text-red bg-red-light"
             fxFlex="none"
             fxLayout="row"
             fxLayoutAlign="center center">
          <ic-icon [icon]="faCaretDown" height="20px" inline="true" width="20px"></ic-icon>
        </div>

        <p class="text-secondary-default m-0"><span class="font-medium text-red">{{calculatePercentageDifference()}}% atenciones</span> en comparación al
          mes
          anterior.</p>
      </div>

      <div class="mt-6" fxFlex="auto" fxLayout="column" fxLayoutAlign="end">
        <button *ngIf="user" (click)="downloadReporteConsolidado()" color="primary" mat-raised-button type="button">
          DESCARGAR REPORTE CONSOLIDADO
        </button>
        <vex-loading class="flex justify-center"></vex-loading>
      </div>
    </div>

    <div fxFlex="50%" fxFlexOffset="48px">
      <vex-chart-ng [options]="options" [series]="series"></vex-chart-ng>
    </div>
  </div>
</div>
