<button matTooltip="Dispensario" (click)="memberSelect.open()" class="pl-2" fxFlex="none" fxLayout="row" mat-icon-button type="button">
  <mat-icon [icIcon]="icFilterList" class="text-secondary"></mat-icon>
</button>
<mat-select #memberSelect="matSelect"
            [formControl]="searchCtrl"
            class="invisible w-0 h-0 text-sm"
            fxFlex="0 1 0px">
  <mat-option [value]="null">
    <span>Todos</span>
  </mat-option>
  <mat-option *ngFor="let dispensario of dispensarios | async" [value]="dispensario">
    <span>{{ dispensario.unidadOperativa }}</span>
  </mat-option>
</mat-select>
