<div class="p-gutter" vexContainer>
  <form *ngIf="this.evolucion" [formGroup]="evolucionForm">

    <div class="card">
      <div class="p-6">
        <div class="mb-6" fxLayout="row" fxLayoutAlign="start center">
          <h4 class="text-secondary" fxLayout="row" fxFlex="none" fxLayoutAlign="start center">
            <span @scaleIn
                  class="w-10 h-10 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icMedKit" size="20px"></ic-icon>
            </span>
            <h2 @fadeInRight class="m-0 title" fxFlex="auto">Información general</h2>
          </h4>
          <span fxFlex></span>

          <button
            [disabled]="evolucionForm.invalid"
            class="ltr:ml-4 rtl:mr-4"
            color="primary"
            fxFlex="none"
            fxHide.xs
            (click)="updateEvolucion()"
            mat-button
            type="submit">
            <ic-icon [icon]="icSave"
                     class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                     inline="true"
                     size="20px"></ic-icon>
            <span>ACTUALIZAR</span>
          </button>
          <button
            [disabled]="evolucionForm.invalid"
            color="primary"
            fxFlex="none"
            (click)="updateEvolucion()"
            fxHide.gt-xs
            mat-mini-fab
            class="ml-4"
            matTooltip="Actualizar"
            type="submit">
            <mat-icon [icIcon]="icSave"></mat-icon>
          </button>
          <vex-loading></vex-loading>

        </div>
        <div fxLayout="column"
             class="pt-6 border-t md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Dispensario</mat-label>
              <mat-select formControlName="idDispensario" required>
                <mat-option *ngFor="let dispensario of dispensarios | async"
                            [value]="dispensario.id">{{dispensario.unidadOperativa}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Área de atención</mat-label>
              <mat-select formControlName="idAreaSalud" required>
                <mat-option *ngFor="let areaSalud of areasSalud | async"
                            [value]="areaSalud.id">{{areaSalud.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Responsable</mat-label>
              <mat-select formControlName="responsablePidm" required>
                <mat-option *ngFor="let usuario of usuarios | async"
                            [value]="usuario.pidm">{{usuario.nombres}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Tipo de Consulta</mat-label>
              <mat-select formControlName="tipoConsulta" required>
                <mat-option
                  *ngFor="let tipoConsulta of tiposConsultas"
                  [value]="tipoConsulta.value">
                  {{tipoConsulta.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Motivo de atención</mat-label>
              <mat-select formControlName="idMotivoAtencion" required>
                <mat-option *ngFor="let ma of motivosAtencion | async"
                            [value]="ma.id">{{ma.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Lugar de atención</mat-label>
              <mat-select formControlName="idLugarAtencion" required>
                <mat-option *ngFor="let la of lugaresAtencion | async"
                            [value]="la.id">{{la.nombre}}</mat-option>
              </mat-select>
              <mat-error *ngIf="evolucionForm.get('idLugarAtencion').hasError('required')">{{errorMessages.required}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Motivo de consulta</mat-label>
              <input type="text" required formControlName="motivoConsulta" matInput>
            </mat-form-field>

            <div class="p-gutter container" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
              <quill-editor @fadeInUp
                            formControlName="notaEvolucion"
                            [styles]="{ flex: '1 1 auto' }"></quill-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
