<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Finalizar periodo de gestación</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>

    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha de inicio lactancia</mat-label>
          <input formControlName="fechaInicioLactancia" matInput (click)="datepickerRef.open()"
                 (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef">
          <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-hint>Fecha del parto</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha fin de lactancia</mat-label>
          <input formControlName="fechaFinLactancia" [min]="maxDate" matInput (click)="datepickerRef2.open()"
                 (focus)="datepickerRef2.open()" [matDatepicker]="datepickerRef2">
          <mat-datepicker-toggle [for]="datepickerRef2" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%"
                        fxFlex.sm="100%">
          <mat-label>Observación</mat-label>
          <textarea formControlName="observacion"
                    matInput
                    maxlength="255"
                    #lengthObservacion
                    rows="5"></textarea>
          <mat-hint align="end">{{lengthObservacion.value.length}}/255</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>
</form>
