<div class="text-center header">
  <div class="container">
    <div @stagger
         class="mt-24 -mb-16 mx-auto"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="24px"
         fxLayoutGap.xs="16px">
      <a #rla="routerLinkActive"
         *ngFor="let link of links; trackBy: trackByRoute"
         @fadeInUp
         [class.border-primary]="rla.isActive"
         [routerLink]="link.route"
         class="card block text-center p-6 hover:bg-app-bar trans-ease-out cursor-pointer relative no-underline text-dark border-2"
         fxFlex
         fxFlex.xs="auto"
         fxLayout="column"
         fxLayoutAlign="center center"
         matRipple
         routerLinkActive>
        <ic-icon [class.text-primary]="rla.isActive" [icon]="link.icon" class="text-hint" size="42px"></ic-icon>
        <h3 class="title mb-0 mt-4">{{ link.label }}</h3>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


<!--<vex-secondary-toolbar current="Dashboard">-->
<!--  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>-->

<!--  <button class="ml-2" color="primary" mat-icon-button type="button">-->
<!--    <mat-icon [icIcon]="icMoreVert"></mat-icon>-->
<!--  </button>-->
<!--</vex-secondary-toolbar>-->

<!--<div class="p-gutter"-->
<!--     gdColumns="1fr 1fr 1fr 1fr"-->
<!--     gdColumns.lt-md="1fr 1fr"-->
<!--     gdColumns.lt-sm="1fr"-->
<!--     gdGap="16px"-->
<!--     vexContainer>-->
<!--  <vex-widget-year-patient-->
<!--                          gdColumn="1 / 5"-->
<!--                          gdColumn.lt-md="1 / -1"-->
<!--                          gdColumn.lt-sm="1"></vex-widget-year-patient>-->


<!--  <vex-widget-patient-relacion-espe-->
<!--                          gdColumn="1 / 5"-->
<!--                          gdColumn.lt-md="1 / -1"-->
<!--                          gdColumn.lt-sm="1"></vex-widget-patient-relacion-espe>-->


<!--  <vex-widget-all-patient-seguro-salud-->
<!--                          gdColumn="1 / 5"-->
<!--                          gdColumn.lt-md="1 / -1"-->
<!--                          gdColumn.lt-sm="1"></vex-widget-all-patient-seguro-salud>-->


<!--  <vex-widget-all-patient-stacked-->
<!--                          gdColumn="1 / 5"-->
<!--                          gdColumn.lt-md="1 / -1"-->
<!--                          gdColumn.lt-sm="1"></vex-widget-all-patient-stacked>-->

<!--  <vex-widget-all-patient-morbilidad-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1"></vex-widget-all-patient-morbilidad>-->

<!--  <vex-widget-all-patient-prevencion-morbilidad-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1"></vex-widget-all-patient-prevencion-morbilidad>-->

<!--  <vex-widget-all-patient-sexo-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1"></vex-widget-all-patient-sexo>-->


<!--  <vex-widget-all-patient-motivo-atencion-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1"></vex-widget-all-patient-motivo-atencion>-->


<!--  <vex-widget-all-patient-tipo-consulta-->
<!--    gdColumn="1 / 5"-->
<!--    gdColumn.lt-md="1 / -1"-->
<!--    gdColumn.lt-sm="1"></vex-widget-all-patient-tipo-consulta>-->

<!--  <vex-widget-table-all-patient-cie-->
<!--                          gdColumn="1 / 5"-->
<!--                          gdColumn.lt-md="1 / -1"-->
<!--                          gdColumn.lt-sm="1"></vex-widget-table-all-patient-cie>-->

<!--</div>-->
