<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="this.mode === 'update'" class="headline m-0" fxFlex="auto">Actualizar contacto emergencia</h2>
    <h2 *ngIf="this.mode === 'create'" class="headline m-0" fxFlex="auto">Agregar contacto emergencia</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Nombres</mat-label>
      <input type="text" formControlName="nombreContacto" matInput required maxlength="50" vexInputUppercase>
      <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Parentesco</mat-label>
      <mat-select formControlName="parentesco" required>
        <mat-option *ngFor="let parentesco of perentescos |async" [value]="parentesco.descripcion">{{parentesco.descripcion}}</mat-option>
      </mat-select>
      <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dirección</mat-label>
      <input type="text" formControlName="direccion" matInput required maxlength="50" vexInputUppercase>
      <mat-icon [icIcon]="icAddress" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teléfono celular</mat-label>
      <input type="tel" #lengthCelularCE maxlength="10" formControlName="telefonoCelular" matInput required vexOnlyNumbers>
      <mat-icon [icIcon]="icMobile" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="end">{{lengthCelularCE.value.length}}/10</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teléfono convencional</mat-label>
      <input type="tel" #lengthConvencionalCE maxlength="9" formControlName="telefonoConvencional" matInput vexOnlyNumbers >
      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="end">{{lengthConvencionalCE.value.length}}/9</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button *ngIf="isCreateMode()" color="primary" [disabled]="form.invalid" mat-button type="submit">AGREGAR</button>
    <button *ngIf="isUpdateMode()" color="primary" [disabled]="form.invalid" mat-button type="submit">ACTUALIZAR</button>
  </mat-dialog-actions>
</form>
