<div class="container text-center mt-12 mb-8">
  <button (click)="addNewCollection()"
          color="primary"
          mat-mini-fab
          matTooltip="Agregar nueva colección"
          type="button">
    <mat-icon [icIcon]="icAdd"></mat-icon>
  </button>

  <div class="overflow-auto mx-6 mt-6" fxLayout="column">
    <vex-coleccion-ayuda-item class="card mb-4 shadow-1 hover:bg-hover trans-ease-out cursor-pointer w-full"
                              *ngFor="let colecction of coleccionesAyuda$ | async; trackBy: trackById"
                              @fadeInUp
                              [collection]="colecction">
    </vex-coleccion-ayuda-item>
    <div *ngIf="(coleccionesAyuda$ | async)?.length === 0"
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/no_data_blue.svg">
      <h2 class="headline m-0 text-center mb-6">No se han encontrado registros</h2>
    </div>
  </div>
  <vex-loading class="flex justify-center"></vex-loading>
</div>
