<div class="p-gutter" vexContainer>
  <form (ngSubmit)="update()" *ngIf="this.pedidoExamen" [formGroup]="pedidoForm">

    <div class="card">
      <div class="p-6">
        <div class="mb-6" fxLayout="row" fxLayoutAlign="start center">
          <h4 class="text-secondary" fxLayout="row" fxFlex="none" fxLayoutAlign="start center">
            <span @scaleIn
                  class="w-10 h-10 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icMicroscope" size="20px"></ic-icon>
            </span>
            <h2 @fadeInRight class="m-0 title" fxFlex="auto">Información general</h2>
          </h4>
          <span fxFlex></span>

          <button
            [disabled]="pedidoForm.invalid"
            class="ltr:ml-4 rtl:mr-4"
            color="primary"
            fxFlex="none"
            fxHide.xs
            mat-button
            type="submit">
            <ic-icon [icon]="icSave"
                     class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1"
                     inline="true"
                     size="20px"></ic-icon>
            <span>ACTUALIZAR</span>
          </button>
          <button
            [disabled]="pedidoForm.invalid"
            color="primary"
            fxFlex="none"
            fxHide.gt-xs
            mat-mini-fab
            class="ml-4"
            matTooltip="Actualizar"
            type="submit">
            <mat-icon [icIcon]="icSave"></mat-icon>
          </button>
          <vex-loading></vex-loading>
        </div>
        <div fxLayout="column"
             class="pt-6 border-t md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Responsable</mat-label>
              <mat-select formControlName="responsablePidm" required>
                <mat-option *ngFor="let usuario of usuarios | async"
                            [value]="usuario.pidm">{{usuario.nombres}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Fecha de examen</mat-label>
              <input required formControlName="fecha" matInput (click)="datepickerRef.open()"
                     (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef"/>
              <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepickerRef></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Origen</mat-label>
              <mat-select formControlName="origen" required>
                <mat-option *ngFor="let origen of origenes" [value]="origen.title">
                  {{origen.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="pedidoForm.get('origen').hasError('required')">{{errorMessages.required}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado" required>
                <mat-option *ngFor="let estado of estados" [value]="estado.title">
                  {{estado.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="pedidoForm.get('estado').hasError('required')">{{errorMessages.required}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
