<div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px">
  <div *ngFor="let ce of contactosEmergencia" fxLayout="row" fxLayoutAlign="start center">
    <img @scaleIn src="assets/img/demo/hombre.svg" alt="Profile Picture" class="avatar ltr:mr-3 rtl:ml-3"
         fxFlex="none"/>
    <div @fadeInRight fxFlex="auto">
      <h4 class="body-2 m-0 leading-snug">{{ ce.nombreContacto}} - {{ce.parentesco}}</h4>
      <h5 class="text-secondary mb-1 caption leading-none">{{ ce.direccion }}</h5>
      <h5 class="text-secondary caption leading-none">
        {{ ce.telefonoCelular }} <span *ngIf="ce.telefonoConvencional != ''">| {{ce.telefonoConvencional}}</span>
      </h5>
      <div fxLayout="row" fxLayoutGap="16px">
        <div
          *ngIf="this.contactosEmergencia.length > 1 && paciente.tipoPaciente === tipoPaciente.EXTERNO"
          (click)="eliminarContactoEmergencia(ce)"
          class="rounded py-1 font-medium text-xs cursor-pointer text-red">Eliminar
        </div>
        <div
          (click)="modificarContactoEmergencia(ce)"
          *ngIf="paciente.tipoPaciente === tipoPaciente.EXTERNO"
          class="rounded py-1 font-medium text-xs cursor-pointer text-green">Modificar
        </div>
      </div>
    </div>
  </div>
  <div (click)="agregarContactoEmergencia()" fxLayout="row" fxLayoutAlign="start center" *ngIf="paciente.tipoPaciente === tipoPaciente.EXTERNO">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
      <ic-icon [icon]="icAdd" size="20px"></ic-icon>
    </div>

    <p @fadeInRight class="m-0 body-1 cursor-pointer">Agregar contacto emergencia</p>
  </div>
</div>

<div class="px-gutter py-4" *ngIf="contactosEmergencia.length === 0" @scaleFadeIn fxLayout="column"
     fxLayoutAlign="center center">
  <img class="m-15 h-32" src="assets/img/illustrations/no_data_blue.svg">
  <p class="mt-6 body-1">No se han encontrado contactos de emergencia</p>
</div>
