<div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icPerson" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.primerNombre}} {{paciente.segundoNombre}}</p>
      <p class="m-0 caption text-hint">Nombres</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icPerson" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}}</p>
      <p class="m-0 caption text-hint">Apellidos</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCedula" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.tipoIdentificacion?.nombre}}</p>
      <p class="m-0 caption text-hint">Tipo de identificación</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCedula" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.numeroIdentificacion}}</p>
      <p class="m-0 caption text-hint">Número de identificación</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icSexo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{getSexoLongName(paciente.sexo)}}</p>
      <p class="m-0 caption text-hint">Sexo</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icSangre" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.grupoSanguineo}}</p>
      <p class="m-0 caption text-hint">Grupo sanguíneo</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icNacimiento" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.fechaNacimiento}}</p>
      <p class="m-0 caption text-hint">Fecha de nacimiento</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icTransfucion" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{msg1}}</p>
      <p class="m-0 caption text-hint">Acepta transfución</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icLateralidad" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.lateralidad}}</p>
      <p class="m-0 caption text-hint">Lateralidad</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCivil" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.estadoCivil}}</p>
      <p class="m-0 caption text-hint">Estado civil</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icSalud" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.seguroSalud?.nombre}}</p>
      <p class="m-0 caption text-hint">Seguro salud</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icAsosiacion" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.asociacionAfiliada?.nombre}}</p>
      <p class="m-0 caption text-hint">Asociación afiliada</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icVinculado" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.vinculadoEspe?.nombre}}</p>
      <p class="m-0 caption text-hint">Relación con la ESPE</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icInstruccion" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.instruccion?.nombre}}</p>
      <p class="m-0 caption text-hint">Instruccion</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icProfesion" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.profesion}}</p>
      <p class="m-0 caption text-hint">Profesión</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icChurch" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.religion}}</p>
      <p class="m-0 caption text-hint">Religión</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icWhatshot" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.etnia}}</p>
      <p class="m-0 caption text-hint">Grupo Cultural</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icPueblo" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.pueblos}}</p>
      <p class="m-0 caption text-hint">Pueblos</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.paisNacimiento}}</p>
      <p class="m-0 caption text-hint">País de nacimiento</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.provinciaNacimiento}}</p>
      <p class="m-0 caption text-hint">Provincia de nacimiento</p>
    </div>
  </div>

  <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icCanton" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.cantonNacimiento}}</p>
      <p class="m-0 caption text-hint">Cantón de nacimiento</p>
    </div>
  </div>

  <div
    *ngIf="paciente.nacionalidad2 !== ''"
    class="py-3"
    fxLayout="row"
    fxLayoutAlign="start center">
    <div @scaleIn
         class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
      <ic-icon [icon]="icNacionalidad" size="20px"></ic-icon>
    </div>
    <div @fadeInRight>
      <p class="m-0 body-1">{{paciente.nacionalidad2}}</p>
      <p class="m-0 caption text-hint">Nacionalidad 2</p>
    </div>
  </div>

</div>
