<div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px">
  <div (mouseenter)="showButton = true"
       (mouseleave)="showButton = false"
       [ngClass]="showButton ? 'cursor-pointer' : ''"
       class="relative rounded hover:bg-app-bar trans-shadow" (click)="fileInput.click()">
    <div *ngIf="firma" @stagger
         fxLayout="row"
         class="px-gutter py-4">
      <img @scaleIn
           class="rounded w-full"
           gdGridAlign="center"
           [src]="'data:image/jpg;base64,' + this.firma"/>
    </div>

    <div *ngIf="!firma" @stagger fxLayout="row" class="px-gutter py-4">
      <img @scaleIn
           gdGridAlign="center"
           class="rounded w-full w-24 h-24" src="assets/img/illustrations/upload.svg"/>
    </div>

    <button *ngIf="showButton"
            @scaleInOut
            class="absolute bg-card center-absolute"
            color="primary"
            mat-icon-button
            type="button">
      <mat-icon [icIcon]="icUpload" height="24px" width="24px"></mat-icon>
    </button>

  </div>

  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center">
    <input #fileInput
           style="display:none;"
           accept='image/*'
           type="file"
           (change)="selectImage($event)">
    <button @scaleIn (click)="upload()" fxLayout="row" class="flex-auto" mat-button type="button">
      <span>SUBIR FIRMA</span>
    </button>
    <button *ngIf="firma" @scaleIn (click)="delete(); fileInput.value='';" fxLayout="row" color="warn" mat-button type="button">
      <span>ELIMINAR</span>
    </button>
    <vex-loading class="flex justify-center"></vex-loading>
  </form>
</div>
