<vex-empty-paciente *ngIf="!this.paciente"></vex-empty-paciente>
<ng-container *ngIf="this.paciente">
  <vex-secondary-toolbar current="Actualizar paciente">
    <vex-breadcrumbs [crumbs]="['Perfil paciente','Actualizar paciente']" fxFlex="auto"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <div @stagger class="p-gutter" vexContainer>
    <h1 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
        <button mat-icon-button (click)="navigateBack()">
          <ic-icon [icon]="icBack" size="24px"></ic-icon>
        </button>
      </span>
      <span @fadeInRight class="block">Actualizar datos paciente</span>
    </h1>
    <div @fadeInUp class="card overflow-hidden">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <ng-template matStepperIcon="edit">
          <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>
        <mat-step [stepControl]="informacionPersonalFormGroup">
          <form [formGroup]="informacionPersonalFormGroup">
            <ng-template matStepLabel>Información personal</ng-template>
            <h2 class="title m-0">Información personal</h2>
            <div class="subheading-1">Ingrese los datos personales del paciente.</div>
            <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Primer nombre</mat-label>
                  <input formControlName="primerNombre" matInput required vexInputUppercase>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('primerNombre').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Segundo Nombre</mat-label>
                  <input formControlName="segundoNombre" matInput required maxlength="25" vexInputUppercase>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('segundoNombre').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Apellido paterno</mat-label>
                  <input formControlName="apellidoPaterno" matInput required maxlength="25" vexInputUppercase>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('apellidoPaterno').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Apellido materno</mat-label>
                  <input formControlName="apellidoMaterno" matInput required maxlength="25" vexInputUppercase>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('apellidoMaterno').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Tipo identificación</mat-label>
                  <mat-select formControlName="idTipoIdentificacion" required (selectionChange)="setRequiredParamToNumeroIdentificacion($event.value)">
                    <mat-option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.id">{{tipo.nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('idTipoIdentificacion').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Número de identificación</mat-label>
                  <input type="text" formControlName="numeroIdentificacion" matInput [required]="numeroIdentifiacionIsRequired">
                  <mat-hint align="start"
                            *ngIf="informacionPersonalFormGroup.get('numeroIdentificacion').invalid ? informacionPersonalFormGroup.get('numeroIdentificacion').errors.uniqueNumeroArchivo : false">
                    Ya existe un paciente con este numero de identifiación.
                  </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Sexo</mat-label>
                  <mat-select formControlName="sexo" required>
                    <mat-option *ngFor="let sexo of sexoList" [value]="sexo.value">{{sexo.title}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('sexo').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Estado civil</mat-label>
                  <mat-select formControlName="estadoCivil" required>
                    <mat-option *ngFor="let ec of estadosCiviles | async" [value]="ec.descripcion">{{ec.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('estadoCivil').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Grupo Sanguíneo</mat-label>
                  <mat-select formControlName="grupoSanguineo" required>
                    <mat-option value="NO SABE">NO SABE</mat-option>
                    <mat-option *ngFor="let gs of gruposSanguineos | async" [value]="gs.descripcion">
                      {{gs.descripcion}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('grupoSanguineo').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Religión</mat-label>
                  <mat-select formControlName="religion" required>
                    <mat-option *ngFor="let religion of religiones | async" [value]="religion.descripcion">{{religion.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('religion').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Lateralidad</mat-label>
                  <mat-select formControlName="lateralidad" required>
                    <mat-option
                      *ngFor="let lateralidad of lateralidades"
                      [value]="lateralidad.value">
                      {{lateralidad.value}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('lateralidad').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Seguro salud</mat-label>
                  <mat-select formControlName="idSeguroSalud" required>
                    <mat-option *ngFor="let seguroSalud of segurosSalud | async"
                                [value]="seguroSalud.id">{{seguroSalud.nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('idSeguroSalud').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Asociación</mat-label>
                  <mat-select formControlName="idAsociacionAfiliada">
                    <mat-option *ngFor="let asociacion of asosiaciones | async"
                                [value]="asociacion.id">{{asociacion.nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('idAsociacionAfiliada').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Instrucción</mat-label>
                  <mat-select formControlName="idInstruccion" required>
                    <mat-option *ngFor="let instruccion of nivelesInstrucccion | async" [value]="instruccion.id">
                      {{instruccion.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('idInstruccion').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Profesión</mat-label>
                  <input formControlName="profesion" matInput maxlength="50" vexInputUppercase>
                  <mat-hint align="start">Ejemplo: Contador</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Relación con la ESPE</mat-label>
                  <mat-select formControlName="idVinculadoEspe" required>
                    <mat-option *ngFor="let relacion of relacionesEspe | async" [value]="relacion.id">{{relacion.nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('idVinculadoEspe').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input required formControlName="fechaNacimiento" matInput (click)="datepickerRef.open()"
                         (focus)="datepickerRef.open()" [max]="today" [matDatepicker]="datepickerRef">
                  <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #datepickerRef></mat-datepicker>
                  <mat-hint align="start">{{fullAge}}</mat-hint>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('fechaNacimiento').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Pais nacimiento</mat-label>
                  <mat-select formControlName="paisNacimiento" required (selectionChange)="validatePais($event.value)">
                    <mat-option *ngFor="let pais of paises | async" [value]="pais.nacion">{{pais.nacion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('paisNacimiento').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="provinciaNacimientoIsRequired" appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Provincia nacimiento</mat-label>
                  <mat-select formControlName="provinciaNacimiento" [required]="provinciaNacimientoIsRequired" (selectionChange)="searchCantones($event)">
                    <mat-option *ngFor="let provincia of provincias"
                                [value]="provincia.idProvincia">{{provincia.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('provinciaNacimiento').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="cantonNacimientoIsRequired" appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Cantón nacimiento</mat-label>
                  <mat-select formControlName="cantonNacimiento" [required]="cantonNacimientoIsRequired">
                    <mat-option *ngFor="let canton of cantones"
                                [value]="canton.idCanton">{{canton.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('cantonNacimiento').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Nacionalidad</mat-label>
                  <mat-select formControlName="nacionalidad">
                    <mat-option *ngFor="let nac of nacionalidades | async"
                                [value]="nac.descripcion">{{nac.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('nacionalidad').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Grupo cultural</mat-label>
                  <mat-select formControlName="idEtnia" required (selectionChange)="searchNacionalidades($event.value)">
                    <mat-option *ngFor="let gc of gruposCulturales | async"
                                [value]="gc.id">{{gc.nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionPersonalFormGroup.get('idEtnia').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <ng-container *ngIf="(nacionalidadesPueblos | async)?.length > 0 as np">
                  <mat-form-field *ngIf="np > 0" appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Nacionalidades</mat-label>
                    <mat-select formControlName="idNacionalidadEtnica"
                                [required]="(nacionalidadesPueblos | async)?.length > 0" (selectionChange)="seachPueblos($event.value)">
                      <mat-option *ngFor="let nacionalidad of nacionalidadesPueblos | async"
                                  [value]="nacionalidad.id">{{nacionalidad.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="informacionPersonalFormGroup.get('idNacionalidadEtnica').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>
                </ng-container>

                <ng-container *ngIf="(pueblos | async)?.length > 0 as pb">
                  <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-label>Pueblos</mat-label>
                    <mat-select formControlName="idPueblo" [required]="pb > 0">
                      <mat-option *ngFor="let pueblo of pueblos | async"
                                  [value]="pueblo.id">{{pueblo.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="informacionPersonalFormGroup.get('idNacionalidadEtnica').hasError('required')">{{errorMessages.required}}</mat-error>
                  </mat-form-field>
                </ng-container>

                <mat-form-field appearance="outline" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Nacionalidad 2</mat-label>
                  <mat-select formControlName="nacionalidad2">
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let nac of nacionalidades | async"
                                [value]="nac.descripcion">{{nac.descripcion}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-checkbox [checked]="false" formControlName="aceptaTransfucion" color="primary">
                  Acepta transfusiones
                </mat-checkbox>
              </div>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button (click)="stepper.reset()" [disabled]="informacionPersonalFormGroup.pristine" color="primary"
                      mat-button type="button">LIMPIAR
              </button>
              <button [disabled]="informacionPersonalFormGroup.invalid" color="primary" mat-raised-button
                      matStepperNext>
                SIGUIENTE
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="informacionContactoFormGroup">
          <form [formGroup]="informacionContactoFormGroup">
            <ng-template matStepLabel>Información contacto</ng-template>
            <h2 class="title m-0">Información contacto</h2>
            <div class="subheading-1">Ingrese la información de contacto del paciente.</div>
            <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Provincia de residencia</mat-label>
                  <mat-select formControlName="provinciaResidencia" required
                              (selectionChange)="searchCantonesContacto($event)">
                    <mat-option *ngFor="let pr of provincias" [value]="pr.idProvincia">{{pr.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionContactoFormGroup.get('provinciaResidencia').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Cantón</mat-label>
                  <mat-select formControlName="cantonResidencia" required (selectionChange)="searchParroquias($event)">
                    <mat-option *ngFor="let can of cantonesContacto"
                                [value]="can.idCanton">{{can.descripcion}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionContactoFormGroup.get('cantonResidencia').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Parroquia</mat-label>
                  <mat-select formControlName="parroquiaResidencia" required>
                    <mat-option *ngFor="let parroquia of parroquias"
                                [value]="parroquia.id">{{parroquia.nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionContactoFormGroup.get('parroquiaResidencia').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Barrio/Sector</mat-label>
                  <input formControlName="barrio" matInput maxlength="50" vexInputUppercase>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Dirección principal</mat-label>
                  <input formControlName="callePrincipal" matInput required maxlength="50" vexInputUppercase>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Dirección secundaria</mat-label>
                  <input formControlName="calleSecundaria" matInput maxlength="50" vexInputUppercase>
                </mat-form-field>
              </div>

              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Dirección de referencia</mat-label>
                  <input formControlName="direccionReferencia" matInput maxlength="50" vexInputUppercase>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Zona residencia</mat-label>
                  <mat-select formControlName="zonaGeografica" required>
                    <mat-option *ngFor="let zona of zonas" [value]="zona">{{zona}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="informacionContactoFormGroup.get('zonaGeografica').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Correo personal</mat-label>
                  <input formControlName="correoPersonal" matInput maxlength="50" type="email">
                  <mat-hint align="end">example@example.com</mat-hint>
                  <mat-error *ngIf="informacionContactoFormGroup.get('correoPersonal').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Correo insitucional</mat-label>
                  <input formControlName="correoInstitucional" matInput maxlength="50" type="email">
                  <mat-hint align="end">example@espe.edu.ec</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Celular</mat-label>
                  <input #lengthCelular type="tel" formControlName="numeroCelular" matInput required maxlength="10" vexOnlyNumbers>
                  <mat-hint align="end">{{lengthCelular.value.length}}/10</mat-hint>
                  <mat-error *ngIf="informacionContactoFormGroup.get('numeroCelular').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" appearance="outline" fxFlex="29%" fxFlex.xs="100%"
                                fxFlex.sm="50%">
                  <mat-label>Número convencional</mat-label>
                  <input #lengthConvencional type="tel" formControlName="numeroConvencional" matInput maxlength="9" vexOnlyNumbers>
                  <mat-hint align="end">{{lengthConvencional.value.length}}/9</mat-hint>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" appearance="outline" fxFlex="10%" fxFlex.xs="100%"
                                fxFlex.sm="50%">
                  <mat-label>Extensión</mat-label>
                  <input formControlName="extension" matInput maxlength="50" vexOnlyNumbers>
                </mat-form-field>
              </div>
            </div>

            <div>{{informacionContactoFormGroup.errors}}</div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">ATRAS</button>
              <button [disabled]="informacionContactoFormGroup.invalid" color="primary" mat-raised-button
                      matStepperNext>
                SIGUIENTE
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="informacionAdicionalFormGroup">
          <form [formGroup]="informacionAdicionalFormGroup">
            <ng-template matStepLabel>Información adicional</ng-template>

            <div class="title m-0">Casi hemos finalizado!</div>
            <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden mt-4">
              <div class="mt-6" fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field *ngIf="numeroIdentificacionRepresentanteIsRequired" appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Identificación representante</mat-label>
                  <input type="text" formControlName="identificacionRepresentante" matInput [required]="numeroIdentificacionRepresentanteIsRequired">
                  <mat-error *ngIf="informacionAdicionalFormGroup.get('identificacionRepresentante').hasError('required')">{{errorMessages.required}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-label>Dispensario</mat-label>
                  <mat-select formControlName="idDispensario" required
                              (selectionChange)="cargarReadOnlyInputs($event.value)">
                    <mat-option *ngFor="let dispensario of dispensarios"
                                [value]="dispensario.id">{{dispensario.unidadOperativa}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%"
                                *ngIf="dispensarioSeleccionado">
                  <mat-label>Institución sistema</mat-label>
                  <input matInput disabled [value]="dispensarioSeleccionado.institucionSistema">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%"
                                *ngIf="dispensarioSeleccionado">
                  <mat-label>Unidad Operativa</mat-label>
                  <input matInput disabled [value]="dispensarioSeleccionado.unidadOperativa">
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%"
                                *ngIf="dispensarioSeleccionado">
                  <mat-label>UniCódigo</mat-label>
                  <input matInput disabled [value]="dispensarioSeleccionado.uniCodigo">
                </mat-form-field>
              </div>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">ATRAS</button>
              <button (click)="actualizarPaciente()"
                      [disabled]="informacionAdicionalFormGroup.invalid" color="primary"
                      mat-raised-button matStepperNext>
                ACTUALIZAR
              </button>
              <vex-loading></vex-loading>
            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</ng-container>
