<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">Actualizar diagnostico</h2>
    <h2
      *ngIf="!form.get('id').value"
      class="headline m-0"
      fxFlex="auto"
    >
      Nuevo diagnostico
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>


  <mat-dialog-content class="mt-6">
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Código CIE10</mat-label>
          <input [formControl]="cieCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete" (optionSelected)="cargarCondicionCIE10($event, null)" [displayWith]="displayFn">
            <mat-option *ngFor="let codigoCIE of filteredCodigosCie | async" [value]="codigoCIE">
              <span class="body-1">{{ codigoCIE.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{ codigoCIE.nombre }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="cieCtrl.reset()" *ngIf="cieCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!cieCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-icon [icIcon]="icCode" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="cieCtrl.hasError('required')">{{errorMessages.required}}</mat-error>
          <mat-error *ngIf="cieCtrl.hasError('forbiddenObject')">{{errorMessages.forbiddenObject}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Tipo</mat-label>
          <mat-select (selectionChange)="changeTipo()" formControlName="tipo" required>
            <mat-option *ngFor="let ec of tipoList" [value]="ec">{{ec}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icLaptoMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="form.get('tipo').hasError('required')">{{errorMessages.required}}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!validated" appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Cronología</mat-label>
          <mat-select formControlName="cronologia" required>
            <mat-option *ngFor="let ec of morbilidadList" [value]="ec">{{ec}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icLaptoMedical" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="validated" appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Cronología</mat-label>
          <mat-select formControlName="cronologia" required (selectionChange)="cargarDiagnosticos($event.value)">
            <mat-option *ngFor="let mb of morbilidadList" [value]="mb.nombre">{{mb.nombre}} </mat-option>
          </mat-select>
          <mat-icon [icIcon]="icLaptoMedical" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="validated" appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Condición Diagnóstico</mat-label>
          <mat-select formControlName="condicionDiagnostico" required>
            <mat-option *ngFor="let cd of condicionesDiagnosticoList" [value]="cd">{{cd}}</mat-option>
          </mat-select>
          <mat-icon [icIcon]="icDescription" class="mr-3" matPrefix></mat-icon>

        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="this.form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">
      GUARDAR
    </button>
    <button [disabled]="this.form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
      ACTUALIZAR
    </button>
  </mat-dialog-actions>
</form>
