<vex-loading class="flex justify-center"></vex-loading>
<div class="mt-6 flex flex-col md:flex-row md:items-start" *ngIf="paciente">
  <div class="flex-auto">
    <div class="flex justify-between">
      <div (click)="paciente.tipoPaciente === tipoPaciente.EXTERNO ? actualizarPacienteExterno() : actualizarPacienteInterno()"
           class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-primary-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icEdit" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-primary">Modificar paciente</p>
      </div>

      <div *ngIf="!this.paciente.consentimientoInformadoAceptado"
           (click)="aceptarConsentimientoInformado()"
           class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-green-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-green-light text-green rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icActivate" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-green">Aceptar consentimiento informado</p>
      </div>

      <div *ngIf="this.paciente.consentimientoInformadoAceptado"
           (click)="revokeConsentimientoInformado()"
           class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-red-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-red-light text-red rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icRevoke" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-red">Revocar consentimiento informado</p>
      </div>
    </div>
    <!--Informacion Personal-->
    <div class="card mt-6">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Información personal</h2>
      </div>
      <vex-info-personal></vex-info-personal>
    </div>
    <!--Contactos-->
    <div class="card mt-6">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Dirección domiciliaria del paciente</h2>
      </div>
      <vex-info-contacto></vex-info-contacto>
    </div>
  </div>
  <!--Right menu-->
  <div class="max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
    <div fxLayout="column">
      <div class="card">
        <div class="px-6 py-4 border-b">
          <h2 class="title m-0">Datos generales</h2>
        </div>
        <vex-info-general></vex-info-general>
      </div>
      <div class="card mt-6">
        <div class="px-6 py-4 border-b">
          <h2 class="title m-0">Contactos emergencia</h2>
        </div>
        <vex-info-contacto-emergencia></vex-info-contacto-emergencia>
      </div>
      <div class="card mt-6">
        <div class="px-6 py-4 border-b">
          <h2 class="title m-0">Grupos prioritarios</h2>
        </div>
        <vex-info-grupos-prioritarios></vex-info-grupos-prioritarios>
      </div>
    </div>
  </div>
</div>
