<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="flex justify-between" *ngIf="paciente.tipoPaciente === tipoPaciente.EXTERNO">
      <div (click)="actualizarEstudiante()"
           class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-green-light trans-ease-out"
           matRipple>
        <div @scaleIn class="p-2 bg-green-light text-green rounded-full ltr:mr-4 rtl:ml-4">
          <mat-icon [icIcon]="icEdit" class="block"></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-green">Modificar estudiante</p>
      </div>
    </div>

    <div class="card mt-6">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Información del estudiante</h2>
      </div>
      <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr"
           gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icFecha" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.fechaIngresoEspe}}</p>
            <p class="m-0 caption text-hint">Fecha de ingreso ESPE</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icSede" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.campus}}</p>
            <p class="m-0 caption text-hint">Campus</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icBuilding" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.departamento}}</p>
            <p class="m-0 caption text-hint">Departamento</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icFlag" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.escuela}}</p>
            <p class="m-0 caption text-hint">Escuela</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCap" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.carrera}}</p>
            <p class="m-0 caption text-hint">Carrera</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCap" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.nivel}}</p>
            <p class="m-0 caption text-hint">Nivel</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icActividad" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.actividadesRelevantes}}</p>
            <p class="m-0 caption text-hint">Actividades relevantes</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCanton" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.provinciaEstudio}}</p>
            <p class="m-0 caption text-hint">Provincia estudio</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCanton" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.cantonEstudio}}</p>
            <p class="m-0 caption text-hint">Cantón estudio</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icCanton" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.parroquiaEstudio}}</p>
            <p class="m-0 caption text-hint">Parroquia</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <ic-icon [icon]="icDireccion" size="20px"></ic-icon>
          </div>
          <div @fadeInRight>
            <p class="m-0 body-1">{{paciente.estudiante.direccionLugarEstudio}}</p>
            <p class="m-0 caption text-hint">Dirección de estudio</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
