<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div class="lg:border-r-2" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-selection-list [multiple]="false" (selectionChange)="searchParameters($event.options[0])">
      <div mat-subheader>Examenes</div>
      <mat-list-option *ngFor="let examen of tipoExamenes | async" [value]="examen">
        {{examen.nombre}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="lg:border-r-2" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-selection-list (selectionChange)="setParameter($event.options[0])">
      <div mat-subheader>Parámetros</div>
      <mat-list-option *ngFor="let parameter of parameters | async"
                       [value]="parameter" [selected]="checkIfSelect(parameter.id)">
        {{parameter.nombre}}
      </mat-list-option>
    </mat-selection-list>
    <div *ngIf="!parameters"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/add_to_cart.svg">
      <h2 class="subheading-1 m-0 text-center mb-3">Selecciona un examen en la lista de opciones.</h2>
    </div>
  </div>
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-list>
      <div mat-subheader>Parámetros a solicitar</div>
      <mat-list-item *ngFor="let parameter of parametrosSolicitados">
        <p matLine>
          <span class="font-black text-sm">Parámetro: </span>
          <span class="text-sm">{{parameter.nombre}}, </span>
          <span class="font-black text-sm">Unidad: </span>
          <span class="text-sm">{{parameter.unidad}}</span>
        </p>
        <button matTooltip="Eliminar" (click)="remove(parameter.id)" mat-icon-button type="button">
          <mat-icon [icIcon]="icDelete" class="text-secondary"></mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <div *ngIf="parametrosSolicitados.length === 0"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="m-12 h-32" src="assets/img/illustrations/empty_cart.svg">
      <h2 class="subheading-1 m-0 text-center mb-3">Aún no has agregado ningún examen.</h2>
    </div>
  </div>
</div>
