<vex-empty-paciente *ngIf="!this.pacienteActual"></vex-empty-paciente>
<div  *ngIf="this.pacienteActual">
  <div class="container py-gutter">
    <div class="card overflow-hidden">
      <div class="h-64 relative overflow-hidden">
        <img class="w-full h-full object-cover" src="assets/img/demo/landscape.jpg">
        <div class="absolute bg-contrast-black opacity-25 top-0 right-0 bottom-0 left-0 w-full h-full z-0"></div>

        <img class="avatar h-24 w-24 absolute top-6 ltr:left-4 rtl:right-4 sm:hidden"
             src="assets/img/demo/student.png">
      </div>

      <div class="z-10 relative -mt-16 px-gutter flex items-center">
        <img @scaleIn
             class="avatar h-24 w-24 flex-none align-start hidden sm:block border-3 border-white"
             src="assets/img/demo/student.png">
        <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
          <div class="h-16 flex items-center">
            <h1 @fadeInRight class="headline text-contrast-white m-0">{{nombreCompleto}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container flex flex-col md:flex-row md:items-start" *ngIf="!this.historiaClinica && this.pacienteActual">
  <div class="w-full p-gutter text-center">
    <h2 class="title m-0 max-w-lg mx-auto">Aún no se ha abierto la historia clínica odontológica para este paciente</h2>
    <button (click)='abrirHistoriaClinica()' class="rounded-full mx-auto mt-6 px-6 pb-1" color="primary" mat-raised-button
            type="button">
      <span>Abrir Historia Clínica</span>
    </button>
  </div>
</div>

<div class="container flex flex-col md:flex-row md:items-start" *ngIf="this.historiaClinica && this.pacienteActual">
  <div class="w-full text-center">
    <button (click)='actualizarHistoriaClinica()' class="rounded-full mx-auto mt-6 px-6 pb-1" color="primary" mat-raised-button
            type="button">
      <span>Actualizar</span>
    </button>
  </div>
</div>

<div class="container mt-6 flex flex-col md:flex-row md:items-start" *ngIf="this.historiaClinica && this.pacienteActual">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Historia Clínica</h2>
      </div>

      <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
               <ic-icon [icon]="icFecha" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{this.historiaClinica.fechaApertura}}</p>
            <p class="m-0 caption text-hint">Fecha De Apertura</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
               <ic-icon [icon]="icFecha" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{this.historiaClinica.fechaControl}}</p>
            <p class="m-0 caption text-hint">Fecha De Último Control</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
               <ic-icon [icon]="icPerson" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{this.historiaClinica.profesional}}</p>
            <p class="m-0 caption text-hint">Profesional</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div @scaleIn
               class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
               <ic-icon [icon]="icNotesMedical" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{this.historiaClinica.codigoProfesional}}</p>
            <p class="m-0 caption text-hint">Código Profesional</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-10 mt-6 flex flex-col"  *ngIf="this.historiaClinica && this.pacienteActual">
  <div class="flex-auto">
    <div class="card">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Examen del Sistema Estomatognático</h2>
      </div>
      <vex-sistema-estomatognatico></vex-sistema-estomatognatico>
    </div>
  </div>
</div>















