<form (ngSubmit)="save()" [formGroup]="form" class="overflow-hidden">
  <div class="flex items-center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">
      Actualizar enfermedad profesional
    </h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">
      Nueva enfermedad profesional
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="column" class="md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Empresa</mat-label>
          <input formControlName="empresa" required matInput>
          <mat-icon [icIcon]="outlineWork" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Fecha</mat-label>
          <input formControlName="fecha" matInput (click)="datepickerRef.open()"
                 (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef">
          <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepickerRef></mat-datepicker>
          <mat-icon [icIcon]="icCalendarCheck" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Lugar de Atención</mat-label>
          <input formControlName="lugarAtencion" required matInput>
          <mat-icon [icIcon]="icBuilding" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico</mat-label>
          <input [formControl]="diagnosticoCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let codigoCie of filteredCodigosCie | async" [value]="codigoCie">
              <span class="body-1">{{ codigoCie.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{codigoCie.nombre }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="diagnosticoCtrl.reset()" *ngIf="diagnosticoCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!diagnosticoCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="diagnosticoCtrl.hasError('required')">{{errorMessages.required}}</mat-error>
          <mat-error *ngIf="diagnosticoCtrl.hasError('forbiddenObject')">{{errorMessages.forbiddenObject}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Riesgo Implicado</mat-label>
          <input formControlName="riesgoImplicado" required matInput>
          <mat-icon [icIcon]="icRiesgo" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Secuelas</mat-label>
          <input formControlName="secuelas" required matInput>
          <mat-icon [icIcon]="icSecuridad" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center start">
          <mat-checkbox [checked]="false" formControlName="recibioAtencion" color="primary">
            ¿Recibió Atención?
          </mat-checkbox>
        </div>

        <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Horas de reposo</mat-label>
          <input
            formControlName="horasReposo"
            type="number"
            required
            matInput
          />
          <mat-icon [icIcon]="icHora" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Diagnóstico</mat-label>
          <input [formControl]="diagnosticoCtrl" [matAutocomplete]="autoCiuo" matInput required>
          <mat-autocomplete #autoCiuo="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let codigoCie of filteredCodigosCie | async" [value]="codigoCie">
              <span class="body-1">{{ codigoCie.codigo }}</span>
              <span class="text-hint"> | </span>
              <span class="caption text-secondary">{{codigoCie.nombre }}</span>
            </mat-option>
          </mat-autocomplete>
          <button (click)="diagnosticoCtrl.reset()" *ngIf="diagnosticoCtrl.value" mat-icon-button matSuffix
                  type="button">
            <mat-icon [icIcon]="icClose" [inline]="true" size="24px"></mat-icon>
          </button>
          <button *ngIf="!diagnosticoCtrl.value" mat-icon-button matSuffix type="button">
            <mat-icon [icIcon]="icArrowDropDown" [inline]="true" size="24px"></mat-icon>
          </button>
          <mat-icon [icIcon]="icNotesMedical" class="mr-3" matPrefix></mat-icon>
          <mat-error *ngIf="diagnosticoCtrl.hasError('required')">{{errorMessages.required}}</mat-error>
          <mat-error *ngIf="diagnosticoCtrl.hasError('forbiddenObject')">{{errorMessages.forbiddenObject}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-label>Observaciones</mat-label>
          <textarea style="height: 120px;" formControlName="observaciones" matInput></textarea>
        </mat-form-field>


      </div>
    </div>
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" *ngIf="isCreateMode()" color="primary" mat-button type="submit">GUARDAR</button>
    <button [disabled]="form.invalid" *ngIf="isUpdateMode()" color="primary" mat-button
            type="submit">ACTUALIZAR</button>
    <vex-loading></vex-loading>
  </mat-dialog-actions>

</form>
