<a (mouseenter)="onMouseEnter()"
   (mouseleave)="onMouseLeave()"
   [class.bg-hover]="selected"
   [routerLink]="['./', examen?.id]"
   class="flex px-4 py-3 transition ease-in-out duration-200"
   routerLinkActive="active">
  <div class="flex-none flex flex-col ltr:pr-4 rtl:pl-4">
    <div class="w-8 h-8 text-center flex-none">
      <mat-checkbox (change)="onCheckboxChange($event)"
                    [checked]="selected"
                    (click)="$event?.stopPropagation()"
                    color="primary"></mat-checkbox>
    </div>

    <span class="flex-1"></span>
  </div>

  <div class="truncate w-full">
    <div class="flex items-end">
      <p class="flex-auto text-base leading-normal text-secondary text-xxs">{{ examen.examen.nombre }}</p>
      <p class="flex-none text-xs leading-normal text-secondary">{{ examen.completado }}</p>
    </div>
  </div>
</a>
