<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="title m-0" fxFlex="auto">{{ data.label }} {{dispensario?.unidadOperativa}} {{year}}</h2>

  <vex-pick-year (searchEvent)="searchByYear($event)"></vex-pick-year>
  <vex-pick-filtro *ngIf="this.data.filterByDispensario" (searchEvent)="searchByIdDispensario($event)"></vex-pick-filtro>

  <button (click)="generateReport()" matTooltip="Descargar reporte excel" class="text-secondary" mat-icon-button type="button">
    <mat-icon [icIcon]="icCloudDownload"></mat-icon>
  </button>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content class="my-6" fxLayout="column">
  <div class="pt-3 pb-1 pr-6">
    <vex-loading class="flex justify-center"></vex-loading>
    <vex-chart-ng *ngIf="dataFetched" [options]="options" [series]="series"></vex-chart-ng>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button cdkFocusInitial color="primary" mat-button mat-dialog-close type="button">CERRAR</button>
</mat-dialog-actions>
