<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 *ngIf="form.get('id').value" class="headline m-0" fxFlex="auto">
      Actualizar pedido examen
    </h2>
    <h2 *ngIf="!form.get('id').value" class="headline m-0" fxFlex="auto">
      Nuevo pedido examen
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose" size="24px"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Fecha de examen</mat-label>
      <input required formControlName="fecha" matInput [max]="maxDate" (click)="datepickerRef.open()"
             (focus)="datepickerRef.open()" [matDatepicker]="datepickerRef"/>
      <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepickerRef></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Origen</mat-label>
      <mat-select formControlName="origen" required>
        <mat-option *ngFor="let origen of origenes" [value]="origen.title">
          {{origen.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('origen').hasError('required')">{{errorMessages.required}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="block w-full">
      <mat-label>Exámenes a solicitar</mat-label>
      <mat-icon [icIcon]="icMicroscope" class="mr-3" matPrefix></mat-icon>
      <mat-select required placeholder="examenes" formControlName="examenes" multiple>
        <mat-option *ngFor="let tipo of tipoExamenesLaboratorio | async"
                    [value]="tipo">{{ tipo.nombre }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('examenes').hasError('required')">{{errorMessages.required}}</mat-error>
      <mat-error *ngIf="form.get('examenes').hasError('min')">{{errorMessages.min}}</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button [disabled]="form.invalid" color="primary" mat-button type="submit">GUARDAR</button>
  </mat-dialog-actions>
</form>
